---
layout: prototype
type: "Dataset: Occupation (2 digit SOC)"
title: "2017 (latest)"
contact-name: "Tom Davy"
release-date: "23 July 2017"
next-release: "July 2018"
dataset-id: "TD2017"
contact-tel: "+44 (0)1633 651815"
contact-email: "tom.davy@ons.gov.uk"
link-text-1: "Estimates of the Very Old (including Centenarians): 2002 to 2016"
breadcrumbs:
  - label: Home
    link: https://www.ons.gov.uk/
  - label: Employment and labour market 
    link: https://www.ons.gov.uk/employmentandlabourmarket
  - label: People in work
    link: https://www.ons.gov.uk/employmentandlabourmarket/peopleinwork
  - label: Earnings and working hours
    link: https://www.ons.gov.uk/employmentandlabourmarket/peopleinwork
  - label: Datasets
    link: https://www.ons.gov.uk/employmentandlabourmarket/peopleinwork/earningsandworkinghours/datalist?filter=datasets
  - label: Annual survey of hours and earnings
    link: index.html
  - label: Occupation (2 digit SOC) - ASHE
    link: Occupation.html
    
    
   
    
---
<style>


 p {
    font-size: 16px;
      margin: 19px 0 0 0;
  }

    h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h6 {
    font-size: 16px;
}
    
    h3 {
    font-size: 16px;
    margin: 12px 0 0 0;
        
}
    
        h4 {
    font-size: 16px;
    margin: 13px 0 0 0;
        
}
    
    
    li {
    font-size: 16px;
         margin: 16px 0 0 3px;
}
    

    
    a {
    font-size: 16px;
       text-decoration:  underline;
    }
    
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #D0D2D3;
    padding: 0; 
}
  
    
.border-bottom--abbey-md {
    border-bottom: 1px solid #D0D2D3;
    margin-bottom: -1px;
    
    
    }
    
.border-top--abbey-md {
    border-top: 1px solid #D0D2D3;
    margin-top: -1px;
    }
    
    
    
  .show-hide button:focus {
    outline: 0px solid !important; 
  }    
    
    .meta-wrap {
        
        height: auto;
        
    }

    
    .meta__item
    {
        
        height: auto;
        min-height: auto;
        
    }
    
/*
    .js-show-hide__button:focus {
  background: none;
  border-bottom: none;           
}
*/
/*
     hr {
        
        margin-top:8px;!important 
        background: #D0D2D3;
        
    } 
*/
    
    th, td {
    border-bottom: 1px solid #D0D2D3;
    font-size: 16px;
        vertical-align: baseline;
}

/*
      .show-hide button {
    border-bottom: 1px solid #D0D2D3;
   
  }
*/
        
</style>



<main id="main" role="main" tabindex="-1">

  <div class="page-intro background--gallery">
    <div class="wrapper padding-bottom--2">
      <div class="col-wrap">
        <div class="col">

          {% include breadcrumbs-v2.html %}
          {% include page-intro-v2.html %}

      
       
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="meta-wrap">
<div class="wrapper">
<div class="col-wrap">
<p class="col col--md-16 col--lg-20 meta__item">
Release date: 23 July 2017</p>
<p class="col col--md-16 col--lg-20 meta__item">
Next release: July 2018</p>
<p class="col col--md-16 col--lg-20 meta__item">
Release frequency: Annual </p>
</div>
</div>
</div>
  
  
   
  
  
<div class="wrapper margin-bottom--6">
     <!-- third columns -->
    <div class="col-wrap">
        <div class="col col--md-two-thirds col--lg-two-thirds"><br>
            
            <p>Estimates of paid hours worked, weekly, hourly and annual earnings for UK employees by gender and full or part-time working by 2 digit Standard Occupation Classification 2010.</p><br>
            
            <button class="btn btn--primary">
    Filter and download
</button><br><br>
           
  
   <div class="js-show-hide border-top--abbey-md border-bottom--abbey-md  ">
    <div class="show-hide show-hide--light">
        <div class="js-show-hide__title"><button class="js-show-hide__button" type="button" aria-expanded="false" aria-controls="collapsible-0">
            <h3 class="show-hide__title">
                Other download options
            </h3>
        </button></div>
        <div class="js-show-hide__content" id="collapsible-0" aria-hidden="true">
            <p>Complete dataset</p>
            <button class="btn btn--primary btn--thin">
    Excel (10.2kb)
</button>
       <button class="btn btn--primary btn--thin">
    CSV (10.2kb)
</button>
       <p>Supporting information</p>
            <button class="btn btn--primary btn--thin">
    Word (10.2kb)
</button>
      <br><br>
      <details role="group" class="margin-bottom--2 font-size--16">
              <summary><span class="summary">Help with filetypes</span></summary>
              <div class="panel">
                <h3 class="margin-bottom--0 font-weight-700">Some title</h3>
                <p class="margin-top--0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae rhoncus diam. Vivamus non massa libero. Nulla non maximus sem. Fusce id vestibulum libero.</p>
                
              </div>
             
            </details>

       
        </div>
    </div>

</div>

         
            
            <div class="table-of-contents js-sticky-toc print--avoid-break" id="toc">
<h2 class="table-of-contents__title">Supporting information: table of contents</h2>
<ol id="toc" class="table-of-contents__list">
<li class="table-of-contents__item">
<a href="#1" class="js-scroll">In this dataset</a>
</li>
<li class="table-of-contents__item">
<a href="#2" class="js-scroll">What has changed in this edition</a>
</li>
<li class="table-of-contents__item">
<a href="#3" class="js-scroll">Dataset notes</a>
</li>
<li class="table-of-contents__item">
 <a href="#4" class="js-scroll">Quality measures</a>
</li>
<li class="table-of-contents__item">
<a href="#5" class="js-scroll">Usage information</a>
</li>
<li class="table-of-contents__item">
<a href="#6" class="js-scroll">Language</a>
</li>
<li class="table-of-contents__item">
<a href="#7" class="js-scroll">Source</a>
</li>
<li class="table-of-contents__item">
<a href="#8" class="js-scroll">Code glossary</a>
</li>
<li class="table-of-contents__item">
<a href="#9" class="js-scroll">Previous versions</a>
</li>
</ol>
</div>
           <hr style="color:#D0D2D3;">
            
      <div id="In-this-dataset" class="section__content--markdown js-sticky-toc__section">
<section>
<header>
<h2><span class="section__content-number" id="1">1.</span> In this dataset</h2>
</header>
<p><b>Unit of measurement</b><br>Earnings (£)</p>
<p><b>Geography</b><br>UK  |  Region  |  Local Authority</p> 
   
      <details role="group" class="margin-bottom--2 font-size--16">
              <summary><span class="summary">Learn more</span></summary>
              <div class="panel">
                <h3 class="margin-bottom--0 font-weight-700">Some title</h3>
                <p class="margin-top--0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae rhoncus diam. Vivamus non massa libero. Nulla non maximus sem. Fusce id vestibulum libero.</p>
              </div>
            </details>
<p><b>Sex</b><br>All  |  Male  |  Female</p>  
<p><b>Employment type</b><br>All  |  Full-time  |  Part-time</p> 
<p><b>Pay and hours</b><br>Weekly pay - gross  |  Weekly pay - excluding overtime  |  Basic pay - including other pay  |  Overtime pay  |  Hourly pay - gross  |  Annual pay - gross  |  Annual pay - incentive  |  Paid hours worked - total  |  Paid hours worked - basic  |  Paid hours worked - overtime</p>  
<p><b>Breakdown</b><br>Median  |  Annual percentage change (median)  |  Mean  |  Annual percentage change (mean)  |  Percentiles (10 to 90)</p>                                              
            
<a class="print--hide js-scroll" href="#toc">Back to table of contents</a> 
</section>
</div>      
          
      <div id="main-points" class="section__content--markdown js-sticky-toc__section">
<section>
<header>
<h2><span class="What-has-changed-in-this-edition"id="2">2.</span> What has changed in this edition</h2>
</header>
<p>Estimates of the change from the previous year are provided for the median and mean. It is important to note that these are not adjusted to account for changes in the composition of the labour market during that period. Such factors can influence the apparent change in medians or means independently of changes in individuals' earnings. For example, when there are more low-paying jobs in the labour market in one year compared to the previous year, this acts to decrease the median. Consequently, care should be taken when drawing conclusions about changes in pay for individuals over time.</p>                                            
            
<a class="print--hide js-scroll" href="#toc">Back to table of contents</a> 
</section>
</div>  
         
         
         
         
              <div id="main-points" class="section__content--markdown js-sticky-toc__section">
<section>
<header>
<h2><span class="section__content-number"id="3">3.</span> Dataset notes</h2>
</header>
<p>Estimates vary in quality, mainly reflecting the size of the samples. See the 'quality measures' section below for more information. <br><br>
Figures for numbers of jobs are not reliable estimates. See the 'job counts' section below for more information.   <br><br>
ASHE covers employee jobs in the United Kingdom. It does not cover the self-employed, nor does it cover employees not paid during the reference period.<br><br>
Hourly and weekly estimates are provided for the pay period that included a specified date in April. They relate to employees on adult rates of pay, whose earnings for the survey pay period were not affected by absence.   <br><br>
    Annual estimates are provided for the tax year that ended on 5th April in the reference year. They relate to employees on adult rates of pay who have been in the same job for more than a year.       </p>                                            
            
<a class="print--hide js-scroll" href="#toc">Back to table of contents</a> 
</section>
</div>  
         
         
         
         
         
          
                            <div id="main-points" class="section__content--markdown js-sticky-toc__section">
<section>
<header>
<h2><span class="section__content-number"id="4">4.</span> Quality measures</h2>
</header>
<p>The colour coding within the tables indicates the quality of each estimate based on the coefficient of variation (CV) of that estimate. The CV is the ratio of the standard error of an estimate to the estimate itself and is expressed as a percentage. The smaller the coefficient of variation the greater the accuracy of the estimate. The true value is likely to lie within +/- twice the CV. For example, for an estimate of £200 with a CV of 5%, we would expect the true population average to be within the range £180 to £220.  </p>  
           <p><b>Statistical robustness key</b></p> 
           
           <div>
    
<table> 
<!--
 <td><b style="color:#0F8243;"> CV &lt;=5% </b></td> <td>Estimates are considered precise</td> </tr> <tr> 
 <td><b style="color:#FF9933;"> CV &gt;=5% and &lt;= 10%</b></td> <td>Estimates are considered reasonably precise</td> </tr> <tr> 
 <td><b style="color:#D32F2F;"> CV &gt;=10% and &lt;= 20%</b></td> <td>Estimates are considered acceptable</td> </tr> <tr> 
 <td><b style="color:#560072;"> x = CV &gt;20%</b></td> <td>Estimates are considered unreliable for practical purposes</td> </tr> <tr> 
-->
 <td><b> .. =</b></td> <td>disclosive</td> </tr> <tr> 
 <td><b> : =</b></td> <td>not applicable</td> </tr> <tr> 
 <td><b> - =</b></td> <td>nil or negligible</td> </tr> <tr> 
               </tr></table>

                </div>
                 
<br>          
<a class="print--hide js-scroll" href="#toc">Back to table of contents</a> 
</section>
</div>                
           
           
    <div id="main-points" class="section__content--markdown js-sticky-toc__section">
<section>
<header>
<h2><span class="section__content-number"id="5">5.</span> Usage information</h2>
</header>
<p>Free for public use. <br>
Citation: www.ons.gov.uk 2017, Source 2011 CensusDesign review</p>
<a href="">Terms & conditions</a>   <br>  <br>                                         
            
<a class="print--hide js-scroll" href="#toc">Back to table of contents</a> 
</section>
</div>  
           
         
    <div id="main-points" class="section__content--markdown js-sticky-toc__section">
<section>
<header>
<h2><span class="section__content-number"id="6">6.</span> Language</h2>
</header>
<p>Available in English only.</p>
                                        
            
<a class="print--hide js-scroll" href="#toc">Back to table of contents</a> 
</section>
</div>         
           
  <div id="main-points" class="section__content--markdown js-sticky-toc__section">
<section>
<header>
<h2><span class="section__content-number"id="7">7.</span> Source</h2>
</header>
<p>ASHE is based on a 1% sample of jobs taken from HM Revenue and Customs' Pay As You Earn (PAYE) records. Consequently, individuals with more than one job may appear in the sample more than once.        </p>
                                        
            
<a class="print--hide js-scroll" href="#toc">Back to table of contents</a> 
</section>
</div>                            
            
            
   <div id="main-points" class="section__content--markdown js-sticky-toc__section">
<section>
<header>
<h2><span class="section__content-number"id="8">8.</span> Codes used in this dataset</h2>
</header>
<a href="">Postcodes</a>   <br>
<a href="">SIC codes</a>   <br>  <br>     
                                        
            
<a class="print--hide js-scroll" href="#toc">Back to table of contents</a> 
</section>
</div>  
       
       
          <div id="main-points" class="section__content--markdown js-sticky-toc__section">
<section>
<header>
<h2><span class="section__content-number"id="9">9.</span>Previous versions</h2>
</header>
    <p><a href="">Previous versions</a> of this dataset are available </p>  <br>
                                        
            
<a class="print--hide js-scroll" href="#toc">Back to table of contents</a> 
</section>
</div>  
        
            
<div class="col col--md-15 col--lg-16 margin-bottom-sm--2 margin-top-md--7 margin-bottom-md--2 margin-left-lg--0 padding-bottom-sm--2 padding-left-sm--1 padding-bottom-md--1 padding-left-md--1 border-top--iron-sm border-right--iron-sm border-bottom--iron-sm border-left--iron-sm border-top--iron-md border-right--iron-md border-bottom--iron-md border-left--iron-md js-print-pdf print--hide">
      
     
      
  <p class="text-left--md padding-top-md--0 padding-bottom-md--0 height--5 margin-bottom-md--0 print--hide js--show " style="display: block; ">
    <a href="#" class="link-complex js--show js-print-page" style="display: inline;">  <span class="icon icon-print--dark"></span>
      Print this <span class="lowercase">page</span>
    </a>
    
  </p>
  <p class="text-left--md padding-top-md--0 padding-bottom-md--8 height--5 margin-top-md--1 print--hide">
    <a href="#" class="link-complex js-pdf-dl-link"> <span class="icon icon-download--dark"></span>
      Download as PDF
    </a>
   
  </p>
</div>
       

 

 </div>
      
       
           
            
              <div class="col col--md-one-third col--lg-one-third">
              
            

            <div class="tiles__item tiles__item--nav-type flush-col margin-top-md--5">
  <h3 class="tiles__title-h3 tiles__title-h3--nav">
    Contact details for this <span class="lowercase">Dataset:</span>
  </h3>
  <div class="tiles__content--nav">
    <address>Tom Davy
      <br><a href="#">tom.davy@ons.gov.uk</a>
      <br>Telephone: +44 (0)1633 651815</address>
  </div>
</div>
        
<!--
        <div class="tiles__item tiles__item--nav-type flush-col print--hide">
  <h3 class="tiles__title-h3 tiles__title-h3--nav">Related publications</h3>
  <div class="tiles__content tiles__content--nav">
    <ul class="list--neutral">
      <li><a href="#">How inflation changes how much your wages are worth</a></li>
      <li><a href="#">What's changed in the year since the Brexit vote?</a></li>
      <li><a href="#">How do earnings vary across Great Britain?</a></li>
    </ul>
  </div>
</div>
-->
         

            
        
            
            
            
           
            
            
            
        </div>
        
        
        
    </div>
    </div>
  

</main>

 {% include meta.html %}
