---
layout: prototype
type: "Editions:"
title: "Occupation (2 digit SOC) - ASHE"
contact-name: "Tom Davy"
release-date: "12 October 2016"
next-release: "June 2016"
dataset-id: "TD2017"
contact-tel: "+44 (0)1633 651815"
contact-email: "tom.davy@ons.gov.uk"
link-text-1: "Estimates of the Very Old (including Centenarians): 2002 to 2016"
breadcrumbs:
  - label: Home
    link: https://www.ons.gov.uk/
  - label: Employment and labour market 
    link: https://www.ons.gov.uk/employmentandlabourmarket
  - label: People in work
    link: https://www.ons.gov.uk/employmentandlabourmarket/peopleinwork
  - label: Earnings and working hours
    link: https://www.ons.gov.uk/employmentandlabourmarket/peopleinwork
  - label: Datasets
    link: https://www.ons.gov.uk/employmentandlabourmarket/peopleinwork/earningsandworkinghours/datalist?filter=datasets
  - label: Annual survey of hours and earnings
    link: index.html
    
    
   
    
---
<style>


 p {
    font-size: 16px;
      margin: 19px 0 0 0;
  }

    h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h6 {
    font-size: 16px;
}
    
    h3 {
    font-size: 16px;
    margin: 12px 0 0 0;
        
}
    
        h4 {
    font-size: 16px;
    margin: 13px 0 0 0;
        
}
    
    
    li {
    font-size: 16px;
         margin: 16px 0 0 3px;
}
    

    
    a {
    font-size: 16px;
       text-decoration:  underline;
    }
      
    hr {
        
        margin-top:8px;!important
        
    }

        
</style>



<main id="main" role="main" tabindex="-1">

  <div class="page-intro background--gallery">
    <div class="wrapper padding-bottom--2">
      <div class="col-wrap">
        <div class="col">

          {% include breadcrumbs-v2.html %}
          {% include page-intro-v2.html %}

      
       
        </div>
      </div>
    </div>
  </div>
   
  
  
<div class="wrapper margin-bottom--6">
     <!-- third columns -->
    <div class="col-wrap">
        <div class="col col--md-two-thirds col--lg-two-thirds"><br>
            
            <p>Estimates of paid hours worked, weekly, hourly and annual earnings for UK employees by gender and full or part-time working by 2 digit Standard Occupation Classification 2010.</p>
           <h2 class="font-weight--bold">Select an edition</h2>
           <p>Historic data is split into annual editions to account for changes over time.</p>
            
       
<ul>
    <li style="line-height: 0px;"><a href="2017.html">2017 (latest)</a></li>
    <li style="line-height: 0px;"><a href="Occupation.html">2016</a></li>
    <li style="line-height: 0px;"><a href="">2015</a></li>
    <li style="line-height: 0px;"><a href="">2014 (revised)</a></li>
    <li style="line-height: 0px;"><a href="">2014</a></li>
    <li style="line-height: 0px;"><a href="">2013</a></li>
    <li style="line-height: 0px;"><a href="">2012</a></li>
    <li style="line-height: 0px;"><a href="">2011</a></li>
    <li style="line-height: 0px;"><a href="">2010</a></li>
    <li style="line-height: 0px;"><a href="">2009</a> </li>
       </ul>
       

 

 </div>
      
       
           
            
              <div class="col col--md-one-third col--lg-one-third">
              
            

            
         

            
        
            
            
            
           
            
            
            
        </div>
        
        
        
    </div>
    </div>
  

</main>
