---
layout: basic
type: "Status: prototype"
title: "Upload a file"
intro-content: How do internal users upload files?
---

<main id="main" role="main" tabindex="-1">

  <div class="basic page-intro background--gallery padding-top--1 padding-bottom--4 ">
    <div class="wrapper">
      <div class="col-wrap">
        <div class="col">
          {% include page-intro.html %}
        </div>
      </div>
    </div>
  </div>

  <div class="basic wrapper padding-top--4 padding-bottom--8">
    <div class="col-wrap">
      <div class="col">
        <div class="col col--md-36 col--lg-36">
          <h2>User need</h2>
          <p>As a producer of stats, I need to upload my file so that it can be processed by the publishing team.</p>
          <h2>To do</h2>
          <ul>
            <li>Look for existing resources</li>
            <li>Kick off user research with internal team</li>
            <li>Look at Florence (internal content management system)</li>
            <li>Sketch out user journey</li>
            <li>Mock-up user interface </li>
          </ul>
          <h2>Considerations</h2>
          <ul>
            <li>explaining what to upload</li>
            <li>choose a file</li>
            <li>uploading progress</li>
            <li>feeding back errors</li>
            <li>multiple uploads</li>
          </ul>
          <h2>Resources</h2>
          <ul>
            <li><a href="http://govuk-elements.herokuapp.com/form-elements#form-file-upload">File upload - GOV.UK elements</a></li>
            <li><a href="https://paper.dropbox.com/doc/Upload-a-file-SsbNkLSiTCw6uXQ5V8YHN">Upload a file - GOV.UK Hackpad</a></li>
            <li><a href="https://govuk-elements-a11y.herokuapp.com/example/file-upload/template">Accessible file upload - GOV.UK Elements Accessibility Test </a></li>
            <li><a href="https://github.com/hmrc/design-language-documentation/issues/68">File upload screenshot - HMRC</a></li>
            <li><a href="https://github.com/alphagov/notifications-admin/pull/424">Upload gif - GOV.UK Notify</a></li>
            <li><a href="https://github.com/alphagov/notifications-admin/pull/646">Validation messages - GOV.UK Notify</a></li>
            <li><a href="https://www.gov.uk/apply-renew-passport">Apply online for a UK passport</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</main>

{% include footer-basic.html %}
