---
layout: prototype
type: "Editions:"
title: "Internal migration - Matrices of moves between Local Authorities and Regions (including the countries of Wales, Scotland and Northern Ireland)"
contact-name: "Tom Davy"
release-date: "12 October 2016"
next-release: "June 2016"
dataset-id: "TD2017"
contact-tel: "+44 (0)1633 651815"
contact-email: "tom.davy@ons.gov.uk"
link-text-1: "Estimates of the Very Old (including Centenarians): 2002 to 2016"
breadcrumbs:
  - label: Home
    link: https://www.ons.gov.uk/
  - label: People, population and community 
    link: https://www.ons.gov.uk/peoplepopulationandcommunity
  - label: Population and migration
    link: https://www.ons.gov.uk/peoplepopulationandcommunity/populationandmigration
  - label: Migration within the UK
    link: https://www.ons.gov.uk/peoplepopulationandcommunity/populationandmigration/migrationwithintheuk
 
    
    
   
    
---
<!--
<style>


 p {
    font-size: 16px;
      margin: 19px 0 0 0;
  }

    h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h6 {
    font-size: 16px;
}
    
    h3 {
    font-size: 16px;
    margin: 12px 0 0 0;
        
}
    
        h4 {
    font-size: 16px;
    margin: 13px 0 0 0;
        
}
    
    
    li {
    font-size: 16px;
         margin: 16px 0 0 3px;
}
    

    
    a {
    font-size: 16px;
       text-decoration:  underline;
    }
      
    hr {
        
        margin-top:8px;!important
        
    }

        
</style>
-->



<main id="main" role="main" tabindex="-1">

  <div class="page-intro background--gallery">
    <div class="wrapper padding-bottom--2">
      <div class="col-wrap">
        <div class="col">

      
         <nav>
  <div class="breadcrumb breadcrumb-v2 print--hide">
    <ol class="breadcrumb__list">
      {% if page.breadcrumbs %}
        {% for breadcrumb in page.breadcrumbs %}
        <li class="breadcrumb__item">
          <a class="breadcrumb__link" href="{{ breadcrumb.link }}">{{ breadcrumb.label }}</a>
        </li>
        {% endfor %}
      {% else %}
      <li class="breadcrumb__item">
        <a class="breadcrumb__link" href="#">Home</a>
      </li>
      {% endif %}
      <li class="breadcrumb__item">
        Internal migration - Matrices of moves between Local Autho...
      </li>
    </ol>
  </div>
</nav>

         
         
          {% include page-intro-v2.html %}

      
       
        </div>
      </div>
    </div>
  </div>
   
   <div class="nav-secondary-wrap">
<div class="wrapper">
<div class="col-wrap">
<nav>
<div class="nav-secondary nav-secondary--border-right-lg col col--lg-half">
<h2 class="nav-secondary__title">On this page:</h2>
<ul class="nav-secondary__list">
<li class="nav-secondary__item"><a href="#datasets" class="js-scroll">Dataset</a>
</li>
<li class="nav-secondary__item"><a href="#publications" class="js-scroll">Publications</a></li>
<li class="nav-secondary__item"><a href="#methodology" class="js-scroll">Methodology</a></li>
</ul>
</div>
</nav>
<nav>
<div class="nav-secondary col col--lg-half">
<h2 class="nav-secondary__title">View all content related to this topic:</h2>
<ul class="nav-secondary__list">
<li class="nav-secondary__item"><a href="/peoplepopulationandcommunity/populationandmigration/migrationwithintheuk/datalist">All data</a></li>
<li class="nav-secondary__item"><a href="/peoplepopulationandcommunity/populationandmigration/migrationwithintheuk/publications">All publications</a>
</li>
</ul>
</div>
</nav>
</div>
</div>
</div>
  
  
<div class="page-content border-top--iron-sm border-top--iron-md">
<div class="slate--alabaster padding-bottom-sm--2 padding-bottom-md--4">
<section>
<div class="wrapper">
<div class="tiles">
<div class="col-wrap">
<div class="col">
<h2>Highlights</h2>
</div>


<div class="col ">
<div class="background--iron-light margin-top-md--1 margin-bottom-md--2 js-hover-click" style="position: relative;">
<div class="background--abbey height--35 overflow--hidden">
<img src="//cdn.ons.gov.uk/assets/images/latest-publications.png" class="width-md--23 width-lg--29 height-md--35" alt="">
 </div>
<div class="js-equal-height box__content padding-top-sm--2 padding-right-sm--1 padding-bottom-sm--2 padding-left-sm--1 padding-top-md--2 padding-right-md--1 padding-bottom-md--2 padding-left-md--1" style="height: 288px;">
<h3>
<a href="/peoplepopulationandcommunity/populationandmigration/populationestimates/bulletins/annualmidyearpopulationestimates/mid2016">Population Estimates for UK, England and Wales, Scotland and Northern Ireland: mid-2016<span class="box__clickable"></span></a>
</h3>
<h4>What's in the bulletin?</h4>
<ul>
<li>The population of the UK at 30 June 2016 is estimated to be 65,648,000 people.</li>
<li>Over the year to mid-2016, the number of people resident in the UK increased by 0.8% (538,000), this growth rate is similar to the average annual growth rate since 2005.</li>
<li>The population increase of the UK reflected increases of 193,000 people through natural growth (35.8% of the total increase), 336,000 through net international migration (62.4% of the total increase) and an increase of 9,500 people in the armed forces population based in the UK.</li>
</ul>
</div>
<div class="background--iron-light box__content height--7 border-top--iron-sm border-top--iron-md padding-top-sm--1 padding-left-sm--1 padding-top-md--1 padding-left-md--1">
<a href="/peoplepopulationandcommunity/populationandmigration/populationestimates/bulletins/annualmidyearpopulationestimates/mid2016" class="block">Read this statistical bulletin</a>
</div>
</div>
<a href="#publications" class="btn btn--primary btn--full-width margin-top--2 js-scroll">More publications</a>
</div>
</div>
</div>
</div>
</section>
</div>
<div class="slate--alabaster padding-bottom-sm--2 padding-bottom-md--4">
<section>
<div class="wrapper">
<div class="col-wrap">
<div class="col">
<h2 id="datasets">Datasets</h2>
</div>
</div>
<ul class="list--neutral margin-top--half">
<li class="col-wrap background--mercury flush-col padding-top--2 padding-bottom--4 padding-left--1 js-hover-click" style="position: relative;">
<div class="col col--lg-38">
<div class="box__content">
<h4>
<a href="/peoplepopulationandcommunity/populationandmigration/migrationwithintheuk/datasets/localareamigrationindicatorsunitedkingdom">
Local Area Migration Indicators, UK
<span class="box__clickable"></span></a>
</h4>
<p class="flush">Interactive product bringing together different migration-related data sources at local authority level.</p>
</div>
</div>
<div class="col col--lg-20">
</div>
</li>
<li class="col-wrap background--mercury flush-col padding-top--2 padding-bottom--4 padding-left--1 js-hover-click" style="position: relative;">
<div class="col col--lg-38">
<div class="box__content">
<h4>
<a href="/peoplepopulationandcommunity/populationandmigration/migrationwithintheuk/datasets/internalmigrationbyoriginanddestinationlocalauthoritiessexandsingleyearofagedetailedestimatesdataset">
Internal migration - Detailed estimates dataset by origin and destination local authorities, sex and single year of age
<span class="box__clickable"></span></a>
</h4>
<p class="flush">Table 1a/b Moves into and out of each local authority (LA) within England and Wales (including moves to and from Scotland and Northern Ireland).</p>
</div>
</div>
<div class="col col--lg-20">
</div>
</li>
<li class="col-wrap background--mercury flush-col padding-top--2 padding-bottom--4 padding-left--1 js-hover-click" style="position: relative;">
<div class="col col--lg-38">
<div class="box__content">
<h4>
<a href="/peoplepopulationandcommunity/populationandmigration/migrationwithintheuk/datasets/2011censusdetailedukmigrationstatistics">
2011 Census: Detailed UK migration statistics
<span class="box__clickable"></span></a>
</h4>
<p class="flush">2011 Census internal migration statistics for the UK give estimates that classify people and households in areas within the UK and those having moved from each area to elsewhere within the UK in the year preceding the Census.</p>
</div>
</div>
<div class="col col--lg-20">
</div>
</li>
<li class="col-wrap background--mercury flush-col padding-top--2 padding-bottom--4 padding-left--1 js-hover-click" style="position: relative;">
<div class="col col--lg-38">
<div class="box__content">
<h4>
<a href="/peoplepopulationandcommunity/populationandmigration/migrationwithintheuk/datasets/internalmigrationmovesbylocalauthoritiesandregionsinenglandandwalesby5yearagegroupandsex">
Internal migration - Moves by Local Authorities and Regions in England and Wales by 5 year age group and sex
<span class="box__clickable"></span></a>
</h4>
<p class="flush">2 tables: Table T5 Internal migration by local authorities in England and Wales by 5 year age group and sex Table T6 Internal migration by regions in England and Wales by 5 year age group and sex.</p>
</div>
</div>
<div class="col col--lg-20">
</div>
</li>
<li class="col-wrap background--mercury flush-col padding-top--2 padding-bottom--4 padding-left--1 js-hover-click" style="position: relative;">
<div class="col col--lg-38">
<div class="box__content">
<h4>
<a href="/peoplepopulationandcommunity/populationandmigration/migrationwithintheuk/datasets/internalmigrationlaandregionmovesandbysexandsingleyearofagetotals">
Internal migration - LA and Region moves and by sex and single year of age totals
<span class="box__clickable"></span></a>
</h4>
<p class="flush">3 tables: Table T2 Internal migration by local authorities in England and Wales Table T3 Internal migration by English regions and Wales Table T4 Internal migration by sex and single year of age.</p>
</div>
</div>
<div class="col col--lg-20">
</div>
</li>
</ul>
<a href="/peoplepopulationandcommunity/populationandmigration/migrationwithintheuk/datalist?filter=datasets" class="btn btn--primary btn--full-width">View all datasets related to Migration within the UK</a>
</div>
</section>
<div class="wrapper">
<div id="user-requested-container" class="section-container">
<h2 id="user-requested" class="section-title">User requested data</h2>
<div class="background--iron-light js-hover-click" style="position: relative;">
<div class="box__content padding-top-sm--3 padding-bottom-sm--2 padding-left-sm--1 padding-right-sm--1 padding-top-md--3 padding-right-md--1 padding-bottom-md--2 padding-left-md--1">
<span class="icon icon-arrow-right--dark float-right margin-top-md--2 margin-top-sm--2"></span>
<h3>Looking for our user requested data?</h3>
<p><a href="/peoplepopulationandcommunity/populationandmigration/migrationwithintheuk/datalist?sortBy=release_date&amp;filter=user_requested_data">We also produce data not included in our standard publications<span class="box__clickable"></span></a></p>
</div>
</div>
</div>
</div>
</div>
<div class="slate--mercury padding-bottom-sm--2 padding-bottom-md--4">
<section>
<div class="wrapper">
<div class="col-wrap">
<div class="col">
<h2 id="publications" style="">Publications</h2>
</div>
</div>
<div class="col-wrap">
<div class="col">
<h3>Bulletins</h3>
</div>
</div>
<div class="col-wrap">
<div class="col col--lg-40">
<ul class="tiles__list margin-top--half">
<li class="col-wrap tiles__item--list-type-simple flush-col">
<h4 class="tiles__title tiles__title-h4">
<a href="/peoplepopulationandcommunity/populationandmigration/populationestimates/bulletins/annualmidyearpopulationestimates/mid2016">
Population Estimates for UK, England and Wales, Scotland and Northern Ireland: mid-2016
</a>
</h4>
<p class="tiles__content">
Estimates of the usual resident population as at 30 June 2016. This release includes national and subnational population estimates for England and Wales, Scotland, and Northern Ireland. Presented as available by administrative area, single year of age, sex and components of population change. This statistical bulletin covers both the UK mid-year population estimates for 2016 and the mid-2016 internal migration estimates for England and Wales.
</p>
</li>
<li class="col-wrap tiles__item--list-type-simple flush-col">
<h4 class="tiles__title tiles__title-h4">
<a href="/peoplepopulationandcommunity/populationandmigration/migrationwithintheuk/bulletins/internalmigrationbylocalauthoritiesinenglandandwales/yearendingjune2015">
Internal migration, England and Wales: Year Ending June 2015
</a>
</h4>
<p class="tiles__content">
Residential moves between local authorities and regions in England and Wales, as well as moves to or from the rest of the UK (Scotland and Northern Ireland).
</p>
</li>
</ul>
<a href="/peoplepopulationandcommunity/populationandmigration/migrationwithintheuk/publications?filter=bulletin" class="btn btn--primary btn--full-width">View all related statistical bulletins</a>
</div>
</div>
</div>
</section>
</div>
<div class="margin-top padding-bottom-sm--2 padding-bottom-md--4">
<section>
<div class="wrapper">
<div class="col-wrap">
<div class="col col--lg-two-thirds">
<div class="background--mercury margin-top--0 margin-left-md--0 margin-bottom-sm--2 padding-top--0 padding-right--0 padding-bottom--2 padding-left--0">
<div class="background--gallery padding-top--0 padding-left--0 padding-right--0">
<h2 id="methodology" class="tiles__title-h2 tiles__title-h2--nav font-size--h3" style="">Methodology</h2>
</div>
<div class="border-top--iron-sm border-top--iron-md padding-right--1 padding-left--1">
<div class="box__content padding-top--1 padding-bottom--1">
<ul class="list--neutral">
<li class="flush-top"><a href="/peoplepopulationandcommunity/populationandmigration/migrationwithintheuk/qmis/internalmigrationestimatesqmi">Internal migration estimates QMI</a></li>
 <li class="flush-top"><a href="/peoplepopulationandcommunity/populationandmigration/internationalmigration/qmis/localareamigrationindicatorssuiteqmi">Local area migration indicators suite QMI</a></li>
</ul>
</div>
<a class="btn btn--primary btn--full-width" href="/peoplepopulationandcommunity/populationandmigration/migrationwithintheuk/topicspecificmethodology">View all related methodology</a>
</div>
</div>
</div>
<div class="col col--lg-one-third">
<div class=" js-hover-click height--31 background--mercury print--hide" style="position: relative;">
<div class="box__image padding-top--16 padding-right--1 padding-left--1">
<h3 class="flush"><a href="/help/localstatistics">Looking for local statistics?<span class="image-holder height--14"><img src="/img/t1-local.png" alt="" class="no-border"></span><span class="box__clickable"></span></a></h3>
<p class="box__content flush">A handy guide to let you know where to find local statistics.</p>
</div>
</div>
</div>
</div>
</div>
</section>
</div>
</div>
            
           
            
            
            
        </div>
        
        
        
    </div>
    </div>
  

</main>
