---
layout: prototype
title: "Download dataset"
search: false
warning: false
---

<main id="main" role="main" tabindex="-1">

  <div class="wrapper padding-top--0 padding-bottom--8">
    {% include breadcrumbs.html %}
  <div class="col-wrap">
    <div class="col">
      <div class="basic col col--md-36 col--lg-36">
        <h1>{{ page.title }}</h1>
        <h2>UK Business: Activity, Size and Location 2016 (UKBAA01a)</h2>
        <p>The dataset contains data on local units and enterprises by geography, industry, legal status and employment size band.</p>
        <ul>
          <li><a href="uk-business-activity-2017-06-30.xls">
            uk-business-activity-2017-06-30.xls</a> (634.3 kB)</li>
          <li><a href="uk-business-activity-ukbaa01a-2017-06-30.xls">
            uk-business-activity-ukbaa01a-2017-06-30.xls</a> (634.3 kB)</li>
          <li><a href="ukbaa01a-2011-v1-2017-06-30.xls">
            ukbaa01a-2011-v1-2017-06-30.xls</a> (634.3 kB)</li>
          <li><a href="ons-uk-business-activity-ukbaa01a-1.xls">
            ons-uk-business-activity-ukbaa01a-1.xls</a> (634.3 kB)</li>
        </ul>

        <!-- <a href="small-area-population-est-2017-06-30-471537" class="btn btn--primary"><strong>CSV</strong> 10.2 mb</a> -->

        <!-- <h2 class="margin-bottom">Usage information</h2>
        <p class="margin-top--0 margin-bottom--0 padding-top--0 padding-bottom--0 font-size--16">Free for public use.</p>
        <p class="margin-top--0 padding-top--0 padding-bottom--0 font-size--16">Citation: <cite>www.ons.gov.uk 2017, Source 2011 Census</cite></p> -->


      </div>
    </div>
  </div>
</div>

</main>

{% include footer-basic.html %}
