---
layout: basic
title: Data discovery (alpha)
intro-content: A list of main page templates from the Data discovery alpha.
---

<div class="basic page-intro background--gallery padding-top--1 padding-bottom--4 ">
  <div class="wrapper">
    <div class="col-wrap">
      <div class="col">
        {% include page-intro.html %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="basic wrapper margin-top--6 margin-bottom--8">
  <div class="col-wrap">
    <div class="col">
      <div class="col col--md-36 col--lg-36">
				<ul>
					<li>Landing page</li>
					<li>Detail page</li>
          <li><a href="filter-dataset">Filter this dataset</a></li>
          <li>Simple selector</li>
          <li>Date selector</li>
          <li>Nested list selector</li>
          <li>Geography selector</li>
          <li>Download</li>
				</ul>
			</div>
    </div>
  </div>
</div>
