---
layout: prototype
type:
title: "Crime and justice in Southampton"
breadcrumbs:
  - label: Home
    link: #
  - label: United Kingdom
    link: index
  - label: England
    link: england
  - label: South East
    link: south-east
  - label: Southampton
    link: southampton
---


<main id="main" role="main" tabindex="-1">

  <div class="page-intro background--gallery">
    <div class="wrapper padding-bottom--2">
      <div class="col-wrap">
        <div class="col">

          {% include breadcrumbs-v2.html %}
          {% include page-intro-v2.html %}

        </div>
      </div>
    </div>
  </div>

  <div class="wrapper margin-top--6 margin-bottom--6">
    <div class="col-wrap">
      <div class="col col--md-one-quarter col--lg-one-quarter border--iron padding-top--1 padding-left--1 padding-right--1 padding-bottom--2 margin-bottom-sm--2">

        <h2 class="font-size--h3 font-weight--bold margin-top--0">Refine</h2>

        <div class="js-show-hide js-show-hide--slim">
          <div class="show-hide show-hide--slim show-hide--light">
            <div class="js-show-hide__title">
              <h2 class="show-hide__title font-size--16">
                Business, industry and trade
              </h2>
            </div>
            <div class="js-show-hide__content">
              <ul class="area-list">
                <li><a href="#">Business</a></li>
                <li><a href="#">Changes to business</a></li>
                <li><a href="#">Contruction industry</a></li>
                <li><a href="#">International trade</a></li>
                <li><a href="#">IT and internet industry</a></li>
                <li><a href="#">Manufacturing and production industry</a></li>
                <li><a href="#">Retail industry</a></li>
                <li><a href="#">Tourism industry</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="js-show-hide js-show-hide--slim">
          <div class="show-hide show-hide--slim show-hide--light border-top--iron">
            <div class="js-show-hide__title">
              <h2 class="show-hide__title font-size--16">
              Economy
              </h2>
            </div>
            <div class="js-show-hide__content">
              <ul class="area-list">
                <li><a href="#">Economic output and productivity</a></li>
                <li><a href="#">Environmental accounts</a></li>
                <li><a href="#">Government, public sector and taxes</a></li>
                <li><a href="#">Gross Domestic Product (GDP)</a></li>
                <li><a href="#">Gross Value Added (GVA)</a></li>
                <li><a href="#">Inflation and price indices</a></li>
                <li><a href="#">Investments, pensions and trusts</a></li>
                <li><a href="#">National accounts</a></li>
                <li><a href="#">Regional accounts</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="js-show-hide js-show-hide--slim">
          <div class="show-hide show-hide--slim show-hide--light border-top--iron">
            <div class="js-show-hide__title">
              <h2 class="show-hide__title font-size--16">
                Employment and labour market
              </h2>
            </div>
            <div class="js-show-hide__content">
              <ul class="area-list">
                <li><a href="#">People in work</a></li>
                <li><a href="#">People not in work</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="js-show-hide js-show-hide--slim">
          <div class="show-hide show-hide--slim show-hide--light border-top--iron">
            <div class="js-show-hide__title">
              <h2 class="show-hide__title font-size--16">
                People, population and community
              </h2>
            </div>
            <div class="js-show-hide__content">
              <ul class="area-list">
                <li><a href="#">Births, deaths and marriages</a></li>
                <li><a href="#">Crime and justice</a></li>
                <li><a href="#">Cultural identity</a></li>
                <li><a href="#">Education and childcare</a></li>
                <li><a href="#">Elections</a></li>
                <li><a href="#">Health and social care</a></li>
                <li><a href="#">Household characteristics</a></li>
                <li><a href="#">Housing</a></li>
                <li><a href="#">Leisure and tourism</a></li>
                <li><a href="#">Personal and household finances</a></li>
                <li><a href="#">Population and migration</a></li>
                <li><a href="#">Well-being</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>

      <div class="col col--md-three-quarters col--lg-three-quarters padding-top--1 padding-right--1">

        <h2 class="font-weight--bold margin-top--0 font-size--h3 ">6 datasets found</h2>

        <ul class="list--neutral">

          <li class="search-results__item">
            <h3 class="search-results__title">
            <a class="link--underline" href="https://www.ons.gov.uk/peoplepopulationandcommunity/crimeandjustice/datasets/crimeinenglandandwalesbulletintables">Crime in England and Wales: Bulletin Tables</a></h3>
            <p class="search-results__meta">Released on 20 July 2017</p>
            <div class="search-results__summary">Data tables and figures from the statistical bulletin in excel format. The data contained in these tables are from four sources: Crime Survey for England and Wales, Home Office police recorded crime, the National Fraud Intelligence Bureau and the Ministry of Justice Criminal Justice Statistics Quarterly Update.</div>
          </li>

          <li class="search-results__item">
            <h3 class="search-results__title">
            <a class="link--underline" href="https://www.ons.gov.uk/peoplepopulationandcommunity/crimeandjustice/datasets/crimeinenglandandwalesappendixtables">Crime in England and Wales: Appendix Tables</a></h3>
            <p class="search-results__meta">Released on 20 July 2017</p>
            <div class="search-results__summary">Trends in Crime Survey for England and Wales (CSEW) crime experienced by adults and children aged 10 to15 and Home Office police recorded crime, by offence type. Also includes trends in offender relationship of CSEW violence.</div>
          </li>

          <li class="search-results__item">
            <h3 class="search-results__title">
            <a class="link--underline" href="https://www.ons.gov.uk/peoplepopulationandcommunity/crimeandjustice/datasets/policeforceareadatatables">Crime in England and Wales: Police Force Area Data Tables</a></h3>
            <p class="search-results__meta">Released on 20 July 2017</p>
            <div class="search-results__summary">Data from Home Office police recorded crime. Shows the number of police recorded crimes, percentage change from previous year and rate per 1,000 population by offence group and police force area.</div>
          </li>

          <li class="search-results__item">
            <h3 class="search-results__title">
            <a class="link--underline" href="https://www.ons.gov.uk/peoplepopulationandcommunity/crimeandjustice/datasets/crimeinenglandandwalesquarterlydatatables">Crime in England and Wales: Quarterly Data Tables</a></h3>
            <p class="search-results__meta">Released on 20 July 2017</p>
            <div class="search-results__summary">Data from Crime Survey for England and Wales (CSEW) and Home Office police recorded crime broken down into quarterly time periods.</div>
          </li>

          <li class="search-results__item">
            <h3 class="search-results__title">
            <a class="link--underline" href="https://www.ons.gov.uk/peoplepopulationandcommunity/crimeandjustice/datasets/recordedcrimedataatpoliceforcearealevel">Recorded Crime Data at Police Force Area Level</a></h3>
            <p class="search-results__meta">Released on 20 July 2017</p>
            <div class="search-results__summary">Recorded crime for police force areas. The data are rolling 12 month totals, with data points shown at the end of each financial year between year ending March 2003 and year ending March 2007 and at the end of each quarter from June 2007.</div>
          </li>

          <li class="search-results__item">
            <h3 class="search-results__title">
            <a class="link--underline" href="https://www.ons.gov.uk/peoplepopulationandcommunity/crimeandjustice/datasets/recordedcrimedataatpoliceforcearealevelincludingpivottable">Recorded Crime Data at Police Force Area Level (including pivot table)</a></h3>
            <p class="search-results__meta">Released on 20 July 2017</p>
            <div class="search-results__summary">Recorded crime for police force areas, including a pivot table. The data are rolling 12 month totals, with data points shown at the end of each financial year between year ending March 2003 and year ending March 2007 and at the end of each quarter from June 2007.</div>
          </li>

        </ul>

      </div>
    </div>
  </div>

</main>
