---
layout: prototype
type:
title: "Crime and justice in Southampton"
breadcrumbs:
  - label: Home
    link: #
  - label: United Kingdom
    link: index
  - label: England
    link: england
  - label: South East
    link: south-east
  - label: Southampton
    link: southampton
---


<main id="main" role="main" tabindex="-1">

  <div class="page-intro background--gallery">
    <div class="wrapper padding-bottom--2">
      <div class="col-wrap">
        <div class="col">

          {% include breadcrumbs-v2.html %}
          {% include page-intro-v2.html %}

        </div>
      </div>
    </div>
  </div>

  <div class="wrapper margin-top--6 margin-bottom--6">
    <div class="col-wrap">
      <div class="col col--md-one-quarter col--lg-one-quarter border--iron padding-top--1 padding-left--1 padding-right--1 padding-bottom--2 margin-bottom-sm--2">

        <h2 class="font-weight--bold margin-top--0 padding-bottom--3">Data themes</h2>

        <div class="js-show-hide js-show-hide--slim">
          <div class="show-hide show-hide--slim show-hide--light border-top--iron">
            <div class="js-show-hide__title">
              <h2 class="show-hide__title font-size--16">
                Business, industry and trade
              </h2>
            </div>
            <div class="js-show-hide__content">
              <ul class="area-list">
                <li><a href="#">Business</a></li>
                <li><a href="#">Changes to business</a></li>
                <li><a href="#">Contruction industry</a></li>
                <li><a href="#">International trade</a></li>
                <li><a href="#">IT and internet industry</a></li>
                <li><a href="#">Manufacturing and production industry</a></li>
                <li><a href="#">Retail industry</a></li>
                <li><a href="#">Tourism industry</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="js-show-hide js-show-hide--slim">
          <div class="show-hide show-hide--slim show-hide--light border-top--iron">
            <div class="js-show-hide__title">
              <h2 class="show-hide__title font-size--16">
              Economy
              </h2>
            </div>
            <div class="js-show-hide__content">
              <ul class="area-list">
                <li><a href="#">Economic output and productivity</a></li>
                <li><a href="#">Environmental accounts</a></li>
                <li><a href="#">Government, public sector and taxes</a></li>
                <li><a href="#">Gross Domestic Product (GDP)</a></li>
                <li><a href="#">Gross Value Added (GVA)</a></li>
                <li><a href="#">Inflation and price indices</a></li>
                <li><a href="#">Investments, pensions and trusts</a></li>
                <li><a href="#">National accounts</a></li>
                <li><a href="#">Regional accounts</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="js-show-hide js-show-hide--slim">
          <div class="show-hide show-hide--slim show-hide--light border-top--iron">
            <div class="js-show-hide__title">
              <h2 class="show-hide__title font-size--16">
                Employment and labour market
              </h2>
            </div>
            <div class="js-show-hide__content">
              <ul class="area-list">
                <li><a href="#">People in work</a></li>
                <li><a href="#">People not in work</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="js-show-hide js-show-hide--slim">
          <div class="show-hide show-hide--slim show-hide--light border-top--iron border-bottom--iron">
            <div class="js-show-hide__title">
              <h2 class="show-hide__title font-size--16">
                People, population and community
              </h2>
            </div>
            <div class="js-show-hide__content">
              <ul class="area-list">
                <li><a href="#">Births, deaths and marriages</a></li>
                <li><a href="#">Crime and justice</a></li>
                <li><a href="#">Cultural identity</a></li>
                <li><a href="#">Education and childcare</a></li>
                <li><a href="#">Elections</a></li>
                <li><a href="#">Health and social care</a></li>
                <li><a href="#">Household characteristics</a></li>
                <li><a href="#">Housing</a></li>
                <li><a href="#">Leisure and tourism</a></li>
                <li><a href="#">Personal and household finances</a></li>
                <li><a href="#">Population and migration</a></li>
                <li><a href="#">Well-being</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>

      <div class="col col--md-three-quarters col--lg-three-quarters padding-top--1 padding-right--1">

        <h2 class="font-weight--bold margin-top--0">3 datasets found</h2>

        <ul class="list--neutral">

          <li class="search-results__item">
            <h3 class="search-results__title">
            <a href="#">Business investment in the UK: April to June 2017 provisional results (Latest release)</a></h3>
            <p class="search-results__meta">Released on 24 August 2017</p>
            <div class="search-results__summary">Investment trends by businesses, contains capital expenditure estimates at current prices, constant prices and seasonally adjusted.</div>
          </li>

          <li class="search-results__item">
            <h3 class="search-results__title">
            <a href="#">Business investment in the UK: April to June 2017 provisional results (Latest release)</a></h3>
            <p class="search-results__meta">Released on 24 August 2017</p>
            <div class="search-results__summary">Investment trends by businesses, contains capital expenditure estimates at current prices, constant prices and seasonally adjusted.</div>
          </li>

          <li class="search-results__item">
            <h3 class="search-results__title">
            <a href="#">Business investment in the UK: April to June 2017 provisional results (Latest release)</a></h3>
            <p class="search-results__meta">Released on 24 August 2017</p>
            <div class="search-results__summary">Investment trends by businesses, contains capital expenditure estimates at current prices, constant prices and seasonally adjusted.</div>
          </li>

        </ul>

      </div>
    </div>
  </div>

</main>
