---
layout: prototype
type:
title: "Southampton"
breadcrumbs:
  - label: Home
    link: #
  - label: United Kingdom
    link: index
  - label: England
    link: england
  - label: South East
    link: south-east
---


<main id="main" role="main" tabindex="-1">

  <div class="page-intro background--gallery">
    <div class="wrapper padding-bottom--2">
      <div class="col-wrap">
        <div class="col">

          {% include breadcrumbs-v2.html %}
          {% include page-intro-v2.html %}

        </div>
      </div>
    </div>
  </div>

  <div class="wrapper margin-top--6 margin-bottom--0">
    <div class="col-wrap">
      <div class="col col--md-one-third col--lg-one-third border--iron padding-top--1 padding-left--1 padding-right--1 padding-bottom--4 margin-bottom-sm--2">

        <h2 class="font-weight--bold margin-top--0 padding-bottom--3">Data for {{page.title}}</h2>

        <div class="js-show-hide js-show-hide--slim">
          <div class="show-hide show-hide--slim show-hide--light border-top--iron">
            <div class="js-show-hide__title">
              <h2 class="show-hide__title font-size--16">
                Business, industry and trade
              </h2>
            </div>
            <div class="js-show-hide__content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In egestas pharetra nunc in aliquam. Duis malesuada euismod libero at ultricies. Morbi elementum sodales magna, quis fermentum est lobortis ut. Nulla eu pellentesque purus, et molestie dolor. Nulla ex augue, tincidunt in molestie sodales, pharetra et nisi. Interdum et malesuada fames ac ante ipsum primis in faucibus. In faucibus consectetur nulla, auctor facilisis libero rutrum non.</p>
            </div>
          </div>
        </div>

        <div class="js-show-hide js-show-hide--slim">
          <div class="show-hide show-hide--slim show-hide--light border-top--iron">
            <div class="js-show-hide__title">
              <h2 class="show-hide__title font-size--16">
              Economy
              </h2>
            </div>
            <div class="js-show-hide__content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In egestas pharetra nunc in aliquam. Duis malesuada euismod libero at ultricies. Morbi elementum sodales magna, quis fermentum est lobortis ut. Nulla eu pellentesque purus, et molestie dolor. Nulla ex augue, tincidunt in molestie sodales, pharetra et nisi. Interdum et malesuada fames ac ante ipsum primis in faucibus. In faucibus consectetur nulla, auctor facilisis libero rutrum non.</p>
            </div>
          </div>
        </div>

        <div class="js-show-hide js-show-hide--slim">
          <div class="show-hide show-hide--slim show-hide--light border-top--iron">
            <div class="js-show-hide__title">
              <h2 class="show-hide__title font-size--16">
                Employment and labour market
              </h2>
            </div>
            <div class="js-show-hide__content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In egestas pharetra nunc in aliquam. Duis malesuada euismod libero at ultricies. Morbi elementum sodales magna, quis fermentum est lobortis ut. Nulla eu pellentesque purus, et molestie dolor. Nulla ex augue, tincidunt in molestie sodales, pharetra et nisi. Interdum et malesuada fames ac ante ipsum primis in faucibus. In faucibus consectetur nulla, auctor facilisis libero rutrum non.</p>
            </div>
          </div>
        </div>

        <div class="js-show-hide js-show-hide--slim">
          <div class="show-hide show-hide--slim show-hide--light border-top--iron border-bottom--iron">
            <div class="js-show-hide__title">
              <h2 class="show-hide__title font-size--16">
                People, population and community
              </h2>
            </div>
            <div class="js-show-hide__content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In egestas pharetra nunc in aliquam. Duis malesuada euismod libero at ultricies. Morbi elementum sodales magna, quis fermentum est lobortis ut. Nulla eu pellentesque purus, et molestie dolor. Nulla ex augue, tincidunt in molestie sodales, pharetra et nisi. Interdum et malesuada fames ac ante ipsum primis in faucibus. In faucibus consectetur nulla, auctor facilisis libero rutrum non.</p>
            </div>
          </div>
        </div>

      </div>
      <div class="col col--md-two-thirds col--lg-two-thirds border--iron padding-top--1 padding-left--1 padding-right--1">
        <div class="">

          <h2 class="font-weight--bold margin-top--0">Explore {{page.title}}</h2>
          <ul class="area-list">
            <li><a href="#">Berkshire</a></li>
            <li><a href="#">Brighton and Hove</a></li>
            <li><a href="#">Buckinghamshire</a></li>
            <li><a href="#">East Sussex</a></li>
            <li><a href="#">Hampshire</a></li>
            <li><a href="#">Isle of Wight</a></li>
            <li><a href="#">Kent</a></li>
            <li><a href="#">Medway</a></li>
            <li><a href="#">Milton Keynes</a></li>
            <li><a href="#">Oxfordshire</a></li>
            <li><a href="#">Portsmouth</a></li>
            <li><a href="southampton">Southampton</a></li>
            <li><a href="#">Surrey</a></li>
            <li><a href="#">West Sussex</a></li>
          </ul>
          <p class="font-size--16 margin-top--3">
            <img width="16px" src="{{ "/assets/img/your-location.svg" | relative_url }}" alt="">
            <a class="link--underline" href="southampton">Go to your location</a>
          </p>

        </div>
      </div>
    </div>
  </div>

  <div class="wrapper margin-top--2 margin-bottom--6">
    <div class="col-wrap">
      <div class="col col--md-one-third col--lg-one-third">
        &nbsp;
      </div>
      <div class="col col--md-two-thirds col--lg-two-thirds">
        <h3 class="font-size--h5 padding-bottom--0">Other regions in England</h2>
        <ul class="area-list--comma-separated">
          <li><a href="#">East Midlands</a></li>
          <li><a href="#">East of England</a></li>
          <li><a href="#">London</a></li>
          <li><a href="#">North East</a></li>
          <li><a href="#">North West</a></li>
          <li><a href="#">South West</a></li>
          <li><a href="#">West Midlands</a></li>
          <li><a href="#">Yorkshire and the Humber</a></li>
        </ul>
      </div>
    </div>
  </div>

</main>
