---
layout: prototype
type: "Dataset"
title: "Members of the Armed Forces by residence type by sex by age"
intro-content:
contact-name: Karen Thomas
contact-email: email@ons.gsi.gov.uk
contact-tel: +44 (0)1234 567890
release-date: 4 October 2016
next-release: To be announced
breadcrumbs:
- label: Home
  link: #
- label: People, population and community
  link: #
- label: Housing
  link: #
---

<main id="main" role="main" tabindex="-1">
  <div class="page-intro background--gallery">
    <div class="wrapper padding-bottom--2">
      <div class="col-wrap">
        <div class="col">

          {% include breadcrumbs-v2.html %}

          {% include page-intro.html %}

        </div>
      </div>
    </div>

    <!-- {% include alerts/alert.html %} -->

    {% include meta-dataset.html %}

  </div>
  <div class="page-content border-top--iron-sm border-top--iron-md">
    <div class="wrapper">

      <article class="col col--md-36 col--lg-39 page-content__main-content margin-bottom--5" style="padding-top: 0px;">

        <h2>About this dataset</h2>
        <p>Usual residents aged 16 and over who are members of the armed forces by residence type (household or communal resident), by sex and by age group. The estimates are as at census day, 27 March 2011.</p>

        <a class="btn btn--primary btn--thick btn--wide font-size--17 margin-top--1" href="#">Filter and download</a>
        <ul class="margin-left--1">
          <li class="flush padding-top--0 padding-bottom--0"><a href="#">Download CSV 15.4MB</a></li>
          <li class="flush padding-top--0 padding-bottom--0"><a href="#">Download XLS 15.4MB</a></li>
          <li class="flush padding-top--0 padding-bottom--0"><a href="#">Download JSON 15.4MB</a></li>
        </ul>

        <p class="margin-top-sm--0 margin-top-md--0"><span class="icon icon-info--inline"></span> <a class="underline-link margin-left-sm--3 margin-left-md--3" href="#">Previous versions</a> of this data are available</p>

        <h2>Metadata</h2>
        <h3 class="font-size--h4">General</h3>
        <ul class="margin-left--1">

          <li class="flush padding-top--0 padding-bottom--0">Years covered: 2011</li>
          <li class="flush padding-top--0 padding-bottom--0">Unit of measurement: People</li>
          <li class="flush padding-top--0 padding-bottom--0">Source: 2011 Census</li>
        </ul>
        <h3 class="font-size--h4">Dimensions</h3>
        <ul class="margin-left--1">
          <li class="flush padding-top--0 padding-bottom--0">Geography</li>
          <li class="flush padding-top--0 padding-bottom--0">Sex</li>
          <li class="flush padding-top--0 padding-bottom--0">Age</li>
          <li class="flush padding-top--0 padding-bottom--0">Residence Type</li>
        </ul>
        <h3 class="font-size--h4">Geography</h3>
        <ul class="margin-left--1">
          <li class="flush padding-top--0 padding-bottom--0">Country</li>
          <li class="flush padding-top--0 padding-bottom--0">Region</li>
          <li class="flush padding-top--0 padding-bottom--0">London Borough </li>
          <li class="flush padding-top--0 padding-bottom--0">Metropolitan District</li>
          <li class="flush padding-top--0 padding-bottom--0">Non-metropolitan District</li>
          <li class="flush padding-top--0 padding-bottom--0">Unitary Authority</li>
        </ul>
      </ul>

      <p><a href="#">View more metadata</a></p>

      </article>
      <div class="col col--md-11 col--lg-20 margin-top-md--3">

        <div class="tiles__item tiles__item--nav-type flush-col">
          <h3 class="tiles__title-h3 background--gallery">
            Related
          </h3>
          <div class="tiles__content padding-top--0 padding-bottom--0 background--gallery">
            <p><a href="#">View all related data</a></p>
          </div>
        </div>

        {% include tile-contact-details-v2.html %}


      </div>

    </div>
  </div>
</main>
