---
layout: prototype
type:
title: "United Kingdom"
breadcrumbs:
- label: Home
  link: #
---


<main id="main" role="main" tabindex="-1">

  <div class="page-intro background--gallery">
    <div class="wrapper">
      <div class="col-wrap">
        <div class="col">

          {% include breadcrumbs-v2.html %}

          {% include page-intro-v2.html %}

        </div>
      </div>
    </div>
  </div>

  <div class="wrapper margin-top--3 margin-bottom--2">
    <div class="col-wrap">
        <div class="col col--md-half col--lg-half">
          <ul class="area-list">
            <li><a href="#">England</a></li>
            <li><a href="#">Northern Ireland</a></li>
            <li><a href="#">Scotland</a></li>
            <li><a href="#">Wales</a></li>
          </ul>
        </div>
        <div class="col col--md-half col--lg-half">
            <p>Map here</p>
        </div>
    </div>
  </div>

  <div class="wrapper margin-top--3 margin-bottom--2">
    <div class="col-wrap">
        <div class="col col--md-one-third col--lg-one-third">
          <h2 class="font-weight--bold">ONS areas</h2>
          <ul class="area-list">
            <li><a href="#">United Kingdom</a></li>
            <li><a href="#">Great Britain</a></li>
            <li><a href="#">England and Wales</a></li>
          </ul>
        </div>
        <div class="col col--md-one-third col--lg-one-third">
          <h2 class="font-weight--bold">Popular locations</h2>
          <ul class="area-list">
            <li><a href="#">London</a></li>
            <li><a href="#">Manchester</a></li>
            <li><a href="#">Edinburgh</a></li>
            <li><a href="#">Liverpool</a></li>
            <li><a href="#">Glasgow</a></li>
          </ul>
        </div>
        <div class="col col--md-one-third col--lg-one-third">
          <h2 class="font-weight--bold">Themes</h2>
          <ul class="area-list">
            <li><a href="#">Business, industry and trade</a></li>
            <li><a href="#">Economy</a></li>
            <li><a href="#">Employment and labour market</a></li>
            <li><a href="#">People, population and community</a></li>
          </ul>
        </div>
    </div>

  <div class="wrapper margin-top--3 margin-bottom--2">
    <div class="col-wrap">
      <div class="col">

          <h2 class="font-weight--bold">Geo data</h2>
          <p class="font-size--16">
            <a class="link--underline" href="#">Get shape files, code lists and boundary files</a>
          </p>

      </div>
    </div>
  </div>


</main>
