---
layout: prototype
type:
title: "Newport"
breadcrumbs:
  - label: Home
    link: #
  - label: Geography
    link: index.html
  - label: Wales
    link: #
---

<main id="main" role="main" tabindex="-1">

  <div class="page-intro background--gallery">
    <div class="wrapper">
      <div class="col-wrap">
        <div class="col">

          {% include breadcrumbs-v2.html %}

          {% include page-intro-v2.html %}

        </div>
      </div>
    </div>
  </div>

  <div class="wrapper margin-top--3 margin-bottom--2">
    <div class="col-wrap">
        <div class="col col--full col--full">

          <img src="newport.png" style="width:100%"/>

        </div>
    </div>

    <h2>ONS Areas</h2>
    <div>

      <ul>
        <li class="nav-secondary__item">
          <a href="http://statistics.data.gov.uk/id/statistical-geography/E00086549">Newport (Electoral Ward)</a>
        </li>
        <li class="nav-secondary__item">
          <a href="http://statistics.data.gov.uk/id/statistical-geography/E00086550">Newport (Community)</a>
        </li>
        <li class="nav-secondary__item">
          <a href="http://statistics.data.gov.uk/id/statistical-geography/E00086551">Newport (Civil Parish)</a>
        </li>
        <li class="nav-secondary__item">
          <a href="http://statistics.data.gov.uk/id/statistical-geography/E00086552">Gwent (Registration District)</a>
        </li>
        <li class="nav-secondary__item">
          <a href="http://statistics.data.gov.uk/id/statistical-geography/E00086553">Newport Central (Census Merged Wards)</a>
        </li>
      </ul>
    </div>

    <div>
          <h2>Find data for this area by theme</h2>
          <h3>Business, Industry and Trade</h3>
          <ul>
            <li class="nav-secondary__item">
              <a href="/businessindustryandtrade/business">Business</a>
            </li>
            <li class="nav-secondary__item">
              <a href="/businessindustryandtrade/changestobusiness">Changes to business</a>
            </li>
            <li class="nav-secondary__item">
              <a href="/businessindustryandtrade/constructionindustry">Construction industry</a>
            </li>
            <li class="nav-secondary__item">
              <a href="/businessindustryandtrade/itandinternetindustry">IT and internet industry</a>
            </li>
            <li class="nav-secondary__item">
              <a href="/businessindustryandtrade/internationaltrade">International trade</a>
            </li>
            <li class="nav-secondary__item">
              <a href="/businessindustryandtrade/manufacturingandproductionindustry">Manufacturing and production industry</a>
            </li>
            <li class="nav-secondary__item">
              <a href="/businessindustryandtrade/retailindustry">Retail industry</a>
            </li>
            <li class="nav-secondary__item">
              <a href="/businessindustryandtrade/tourismindustry">Tourism industry</a>
            </li>
          </ul>
          <h3>Economy</h3>
          <ul>
            <li class="nav-secondary__item">
              <a href="/economy/economicoutputandproductivity">Economic output and productivity</a>
            </li>
            <li class="nav-secondary__item">
              <a href="/economy/environmentalaccounts">Environmental accounts</a>
            </li>
            <li class="nav-secondary__item">
              <a href="/economy/governmentpublicsectorandtaxes">Government, public sector and taxes</a>
            </li>
            <li class="nav-secondary__item">
              <a href="/economy/grossdomesticproductgdp">Gross Domestic Product (GDP)</a>
            </li>
            <li class="nav-secondary__item">
              <a href="/economy/grossvalueaddedgva">Gross Value Added (GVA)</a>
            </li>
            <li class="nav-secondary__item">
              <a href="/economy/inflationandpriceindices">Inflation and price indices</a>
            </li>
            <li class="nav-secondary__item">
              <a href="/economy/investmentspensionsandtrusts">Investments, pensions and trusts</a>
            </li>
            <li class="nav-secondary__item">
              <a href="/economy/nationalaccounts">National accounts</a>
            </li>
            <li class="nav-secondary__item">
              <a href="/economy/regionalaccounts">Regional accounts</a>
            </li>
          </ul>
          <h3>Employment and Labout Market</h3>
          <ul>
            <li class="nav-secondary__item">
              <a href="/employmentandlabourmarket/peopleinwork">People in work</a>
            </li>
            <li class="nav-secondary__item">
              <a href="/employmentandlabourmarket/peoplenotinwork">People not in work</a>
            </li>

            </ul>
            <h3>People, population and community</h3>
            <ul>

            <li class="nav-secondary__item">
              <a href="/peoplepopulationandcommunity/birthsdeathsandmarriages">Births, deaths and marriages</a>
            </li>
            <li class="nav-secondary__item">
              <a href="search-results.html">Crime and justice</a>
            </li>
            <li class="nav-secondary__item">
              <a href="/peoplepopulationandcommunity/culturalidentity">Cultural identity</a>
            </li>
            <li class="nav-secondary__item">
              <a href="/peoplepopulationandcommunity/educationandchildcare">Education and childcare</a>
            </li>
            <li class="nav-secondary__item">
              <a href="/peoplepopulationandcommunity/elections">Elections</a>
            </li>
            <li class="nav-secondary__item">
              <a href="/peoplepopulationandcommunity/healthandsocialcare">Health and social care</a>
            </li>
            <li class="nav-secondary__item">
              <a href="/peoplepopulationandcommunity/householdcharacteristics">Household characteristics</a>
            </li>
            <li class="nav-secondary__item">
              <a href="/peoplepopulationandcommunity/housing">Housing</a>
            </li>
            <li class="nav-secondary__item">
              <a href="/peoplepopulationandcommunity/leisureandtourism">Leisure and tourism</a>
            </li>
            <li class="nav-secondary__item">
              <a href="/peoplepopulationandcommunity/personalandhouseholdfinances">Personal and household finances</a>
            </li>
            <li class="nav-secondary__item">
              <a href="/peoplepopulationandcommunity/populationandmigration">Population and migration</a>
            </li>
            <li class="nav-secondary__item">
              <a href="/peoplepopulationandcommunity/wellbeing">Well-being</a>
            </li>
          </ul>
    </div>
  </div>
    <div class="page-intro background--gallery">
      <div class="wrapper">
        <div class="col-wrap">

      <div class="col col--md-half col--lg-half margin-top-md--1">
        <div>
          <h3>Related datasets</h3>
          <div>
            <ul class="list--neutral">
              <li>
                <a href="#">
                  Crime in England and Wales - bulletin tables
                </a>
              </li>
              <li>
                <a href="#">
                  Mid year population estimates for the UK, England and Wales and Unitary Autorities
                </a>
              </li>
              <li>
                <a href="#">
                  S01: Regional labour market summary
                </a>
              </li>
              <li>
                <a href="#">
                  Regional Claimant count SA: South West
                </a>
              </li>
              <li>
                <a href="#">
                  Index of private housing rental prices
                </a>
              </li>


            </ul>
            <button class="btn btn--primary btn--full-width">View more datasets</button>
          </div>
        </div>
      </div>
      <div class="col col--md-half col--lg-half margin-top-md--1">
        <section>
          <div class="wrapper">
          <h3 >Key figures</h3>
          <ul class = "list--neutral margin-top--half">

            <li class="col-wrap background--white padding-top--1 padding-bottom--1 padding-left--1 flush-col" style="position: relative;">

                <div class="box__content">
                  <h4>
                    <a href="#">Population for Newport (UA)<span class="box__clickable"></span>
                    </a>
                  </h4>
                  <span class="tiles__figure tiles__figure--list">45,000</span>
                  <span class="tiles__unit tiles__unit--list">
                    </span>
                  <span class="stat__description">
                    Mid-2016
                  </span>
                </div>

              </li>
              <li class="col-wrap background--white padding-top--1 padding-bottom--1 padding-left--1 flush-col" style="position: relative;">

                  <div class="box__content">
                    <h4>
                      <a href="#">Birth rate for Gwent (Registration District) <span class="box__clickable"></span>
                      </a>
                    </h4>
                    <span class="tiles__figure tiles__figure--list">2.7</span>
                    <span class="tiles__unit tiles__unit--list">
                      %</span>
                    <span class="stat__description">
                      2017 AUG
                    </span>
                  </div>

                </li>
                <li class="col-wrap background--white padding-top--1 padding-bottom--1 padding-left--1 flush-col" style="position: relative;">

                    <div class="box__content">
                      <h4>
                        <a href="#">Employment rate for Newport (Community)<span class="box__clickable"></span>
                        </a>
                      </h4>
                      <span class="tiles__figure tiles__figure--list">2.7</span>
                      <span class="tiles__unit tiles__unit--list">
                        %</span>
                      <span class="stat__description">
                        2017 AUG
                      </span>
                    </div>

                  </li>
          <ul>
          </div>
          </section>
        </div>
      </div>
    </div>
  </div>


</main>
