---
layout: prototype
type: "Article"
title: "Are we training enough people to become programmers?"
intro-content:
contact-name: Digital content team
contact-email: digitalcontent@ons.gov.uk
contact-tel:
release-date: 15 January 2015
next-release:
breadcrumbs:
- label: Home
  link: #
- label: Employment and labour market
  link: #
- label: People in work
  link: #
---

<main id="main" role="main" tabindex="-1">

  <div class="page-intro background--gallery">
    <div class="wrapper">
      <div class="col-wrap">
        <div class="col">

          {% include breadcrumbs-v2.html %}

          {% include page-intro-v2.html %}

        </div>
      </div>
    </div>

    <!-- Alert is hidden as this is a one-off release -->
    <!-- {% include alerts/alert.html %} -->

    {% include meta-v2.html %}

  </div>

  <div class="wrapper margin-top--3 margin-bottom--3">
    <div class="col-wrap">
      <div class="col">
        <div class="col col--md-36 col--lg-36">
          <p>In 2012, it was decided that computing should be introduced as a GCSE, in an attempt to revive the legacy of mathematician and wartime codebreaker Alan Turing. Computing would focus more on building programs and learning to code, rather than learning the basics of using computers, which is what the already-existing ICT GCSE was focused on.</p>
          <p>While the old ICT GCSE is now being phased out, with the last batch of pupils taking their exams next year, there are concerns that the new Computing GCSE is not popular enough.</p>
          <p>The British Computing Society has <a href="http://www.bbc.co.uk/news/technology-40322796">voiced its worry</a> that a lack of interest in the topic at this level will lead to a shortage of skilled workers in this growing industry in future. The latest figures show that while the number of pupils taking Computing at GCSE is growing, insufficient numbers are signing up to meet future demand in the workforce.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper margin-bottom--4">
    <div class="col-wrap">
      <div class="col">
        <h2 class="font-size--h4 font-weight--bold">The number of pupils taking ICT and Computing GCSE exams, 2014 to 2017</h2>
        <iframe src="https://www.ons.gov.uk/visualisations/nesscontent/dvc205/ashe.html?initialWidth=1090&amp;childId=pym_59300adf77713#panel=y2&amp;occ=0" width="100%" scrolling="no" marginheight="0" frameborder="0" height="847px"></iframe>
      </div>
    </div>
  </div>

  <div class="wrapper margin-bottom--8">
    <div class="col-wrap">
      <div class="col">
        <div class="col col--md-36 col--lg-36">

          <h2>Links to related statistics</h2>
            <ul class="list--neutral">
              <li class="margin-bottom--4">
                <h3><a href="#" class="font-size--h4 link--underline"><strong>Annual Survey of Hours and Earnings, 2014 Provisional Results</strong></a></h3>
                <p class="margin-top--0 margin-bottom--0 padding-top--0 padding-bottom--0">16 May 2017 <span class="margin-left--1">Statistical bulletin</span></p>
                <p class="margin-top--0">All the data used to make this interactive.</p>
              </li>

              <li class="margin-bottom--4">
                <h3><a href="#" class="font-size--h4 link--underline"><strong>How well does my job pay?</strong></a></h3>
                <p class="margin-top--0 margin-bottom--0 padding-top--0 padding-bottom--0">15 January 2015 <span class="margin-left--1">Article</span></p>
                <p class="margin-top--0">Did you know that full-time employees in the UK earned £528 per week on average in 2015, and that on average women earned 9.4% less than men per hour?</p>
              </li>
            </ul>
          </div>
        </div>
    </div>
  </div>

  <div class="wrapper margin-bottom--8">

    <div class="col-wrap">
      <div class="col">
        <div class="col col--md-36 col--lg-36">

        {% include tile-contact-details-v2.html %}

        </div>
      </div>
    </div>

  </div>


    </div>
  </div>
</main>
