---
layout: prototype
type: "Article"
title: "How well does my job pay?"
intro-content: "Have you ever wondered who earns more: a pilot or a doctor?"
contact-name: Earnings team
contact-email: earnings@ons.gov.uk
contact-tel:
release-date: 15 January 2015
next-release:
breadcrumbs:
- label: Home
  link: #
- label: Employment and labour market
  link: #
- label: People in work
  link: #
---

<main id="main" role="main" tabindex="-1">

  <div class="page-intro background--gallery">
    <div class="wrapper">
      <div class="col-wrap">
        <div class="col">

          {% include breadcrumbs-v2.html %}

          {% include page-intro-v2.html %}

        </div>
      </div>
    </div>

    <!-- Alert is hidden as this is a one-off release -->
    <!-- {% include alerts/alert.html %} -->

    {% include meta-v2.html %}

  </div>

  <div class="wrapper margin-top--3 margin-bottom--3">
    <div class="col-wrap">
      <div class="col">
        <div class="col col--md-36 col--lg-36">
          <p>This interactive allows you to explore the data within the <a href="#">2014 Annual Survey of Hours and Earnings</a> release. It illustrates the occupations with the highest and lowest earnings, allows you to compare occupations with similar salaries and even tests your knowledge via a couple of quizzes.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper margin-bottom--4">
    <div class="col-wrap">
      <div class="col">
        <h2 class="font-size--h4 font-weight--bold">Median gross full-time annual earnings by occupation, Great Britain, April 2014</h2>
        <iframe src="https://www.ons.gov.uk/visualisations/nesscontent/dvc205/ashe.html?initialWidth=1090&amp;childId=pym_59300adf77713#panel=y2&amp;occ=0" width="100%" scrolling="no" marginheight="0" frameborder="0" height="847px"></iframe>
      </div>
    </div>
  </div>

  <div class="wrapper margin-bottom--8">
    <div class="col-wrap">
      <div class="col">
        <div class="col col--md-36 col--lg-36">

          {% include tiles/related-links-v2.html %}

          </div>
        </div>
    </div>
  </div>

  <div class="wrapper margin-bottom--8">

    <div class="col-wrap">
      <div class="col">
        <div class="col col--md-36 col--lg-36">

        {% include tiles/contact-details-v2.html %}

        </div>
      </div>
    </div>

  </div>


    </div>
  </div>
</main>
