---
layout: prototype
type: "Article"
title: "How do earnings vary across Great Britain?"
intro-content: "Did you know that full-time employees in the UK earned £528 per week on average in 2015, and that on average women earned 9.4% less than men per hour?"
contact-name: Earnings team
contact-email: earnings@ons.gov.uk
contact-tel:
release-date: 15 January 2015
next-release:
breadcrumbs:
- label: Home
  link: #
- label: Employment and labour market
  link: #
- label: People in work
  link: #
---

<main id="main" role="main" tabindex="-1">

  <div class="page-intro background--gallery">
    <div class="wrapper">
      <div class="col-wrap">
        <div class="col">

          {% include breadcrumbs-v2.html %}

          {% include page-intro-v2.html %}

        </div>
      </div>
    </div>

    <!-- Alert is hidden as this is a one-off release -->
    <!-- {% include alerts/alert.html %} -->

    {% include meta-v2.html %}

  </div>

  <div class="wrapper margin-top--3 margin-bottom--3">
    <div class="col-wrap">
      <div class="col">
        <div class="col col--md-36 col--lg-36">
          <p>These earnings varied greatly across the UK, with City of London employees earning the highest at £921 and employees in North East Derbyshire earning the lowest at £389.</p>
          <p>There are plenty more interesting facts to explore by region, using our <a href="">cartogram</a> below to uncover stories of your own. You can even change the jobs sector and see how the shape of the country changes as a result.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper margin-bottom--4">
    <div class="col-wrap">
      <div class="col">
        <iframe src="https://www.ons.gov.uk/visualisations/nesscontent/dvc126/ashemap.html?initialWidth=1090&amp;childId=pym_594a6d82ee65b" width="100%" scrolling="no" marginheight="0" frameborder="0" height="755px"></iframe>
      </div>
    </div>
  </div>

  <div class="wrapper margin-bottom--8">
    <div class="col-wrap">
      <div class="col">
        <div class="col col--md-36 col--lg-36">

          <h2>Links to related statistics</h2>
            <ul class="list--neutral">
              <li class="margin-bottom--4">
                <h3><a href="#" class="font-size--h4 link--underline"><strong>Annual Survey of Hours and Earnings: 2015 Provisional Results</strong></a></h3>
                <p class="margin-top--0 margin-bottom--0 padding-top--0 padding-bottom--0">18 November 2015 <span class="margin-left--1">Statistical bulletin</span></p>
                <p class="margin-top--0">All the data used to make this interactive.</p>
              </li>

              <li class="margin-bottom--4">
                <h3><a href="#" class="font-size--h4 link--underline"><strong>How do earnings vary across Great Britain?</strong></a></h3>
                <p class="margin-top--0 margin-bottom--0 padding-top--0 padding-bottom--0">15 January 2015 <span class="margin-left--1">Article</span></p>
                <p class="margin-top--0">Have you ever wondered who earns more: a pilot or a doctor?</p>
              </li>
            </ul>
          </div>
        </div>
    </div>
  </div>

  <div class="wrapper margin-bottom--8">

    <div class="col-wrap">
      <div class="col">
        <div class="col col--md-36 col--lg-36">

        {% include tile-contact-details-v2.html %}

        </div>
      </div>
    </div>

  </div>


    </div>
  </div>
</main>
