---
layout: prototype
type: "Article"
title: "Commonwealth trade in focus as UK prepares for Brexit"
intro-content: "Commonwealth trade ministers gather today for the first-ever meeting of its kind, looking at ways of boosting trade relations among the 52 member nations."
contact-name: Trade team
contact-email: trade@ons.gsi.gov.uk
contact-tel:
release-date: 9 March 2017
next-release:
breadcrumbs:
- label: Home
  link: #
- label: Employment and labour market
  link: #
- label: People in work
  link: #
---

<main id="main" role="main" tabindex="-1">

  <div class="page-intro background--gallery">
    <div class="wrapper">
      <div class="col-wrap">
        <div class="col">

          {% include breadcrumbs-v2.html %}

          {% include page-intro-v2.html %}

        </div>
      </div>
    </div>

    <!-- Alert is hidden as this is a one-off release -->
    <!-- {% include alerts/alert.html %} -->

    {% include meta-v2.html %}

  </div>

  <div class="wrapper margin-top--3 margin-bottom--3">
    <div class="col-wrap">
      <div class="col">
        <div class="col col--md-36 col--lg-36">
          <p>As the UK prepares to leave the European Union, it may be an opportunity for the UK government to discuss the trade landscape in a post-Brexit world.</p>
          <p>The meeting may offer a chance to lay the groundwork for future trade negotiations, once Article 50 has been activated, something due to take place at the end of March.</p>
          <p>As well as securing already strong existing relationships with nations such as Australia, Canada and India, the UK’s trade minister Liam Fox may seek to explore opportunities elsewhere in the Commonwealth.</p>
          <p>How much does the Commonwealth trade with the UK and where are future opportunities for expanding trade?</p>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper margin-bottom--4">
    <div class="col-wrap">
      <div class="col">
        <iframe src="https://www.ons.gov.uk/visualisations/nesscontent/dvc126/ashemap.html?initialWidth=1090&amp;childId=pym_594a6d82ee65b" width="100%" scrolling="no" marginheight="0" frameborder="0" height="755px"></iframe>
      </div>
    </div>
  </div>

  <div class="wrapper margin-bottom--8">
    <div class="col-wrap">
      <div class="col">
        <div class="col col--md-36 col--lg-36">

          {% include tiles/related-links-v2.html %}

        </div>
      </div>
    </div>
  </div>

  <div class="wrapper margin-bottom--8">

    <div class="col-wrap">
      <div class="col">
        <div class="col col--md-36 col--lg-36">

        {% include tiles/contact-details-v2.html %}

        </div>
      </div>
    </div>

  </div>


    </div>
  </div>
</main>
