---
layout: prototype
type: "Article"
title: "How well does my job pay?"
intro-content:
contact-name:
contact-email: earnings@ons.gov.uk
contact-tel:
release-date: 15 January 2015
next-release: 16 May 2017
breadcrumbs:
- label: Home
  link: #
- label: Employment and labour market
  link: #
- label: People in work
  link: #
---

<main id="main" role="main" tabindex="-1">

  <div class="page-intro background--gallery">
    <div class="wrapper">
      <div class="col-wrap">
        <div class="col">

          {% include breadcrumbs-v2.html %}

          {% include page-intro-v2.html %}

        </div>
      </div>
    </div>

    <!-- Alert is hidden as this is a one-off release -->
    <!-- {% include alerts/alert.html %} -->

    {% include meta-v2.html %}

  </div>

  <div class="wrapper margin-bottom--3">
    <div class="col-wrap">
      <div class="col">
        <div class="col col--md-36 col--lg-36">
          <h2>Have you ever wondered who earns more: a pilot or a doctor?</h2>
          <p>This interactive allows you to explore the data within the <a href="#">2014 Annual Survey of Hours and Earnings</a> release. It illustrates the occupations with the highest and lowest earnings, allows you to compare occupations with similar salaries and even tests your knowledge via a couple of quizzes.</p>
          <h3>Median gross full-time annual earnings by occupation, Great Britain, April 2014</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper margin-bottom--4">
    <div class="col-wrap">
      <div class="col">
        <iframe src="https://www.ons.gov.uk/visualisations/nesscontent/dvc205/ashe.html?initialWidth=1090&amp;childId=pym_59300adf77713#panel=y2&amp;occ=0" width="100%" scrolling="no" marginheight="0" frameborder="0" height="847px"></iframe>
      </div>
    </div>
  </div>

  <div class="wrapper margin-bottom--8">
    <div class="col-wrap">
      <div class="col">
        <div class="col col--md-36 col--lg-36">

          <h2>Links to related statistics</h2>
            <ul class="list--neutral">
              <li class="margin-bottom--4">
                <h3><a href="#" class="font-size--h4 link--underline"><strong>Annual Survey of Hours and Earnings, 2014 Provisional Results</strong></a></h3>
                <p class="margin-top--0 margin-bottom--0 padding-top--0 padding-bottom--0">16 May 2017 <span class="margin-left--1">Statistical bulletin</span></p>
                <p class="margin-top--0">Here you can find all the data used to make this interactive.</p>
              </li>

              <li class="margin-bottom--4">
                <h3><a href="#" class="font-size--h4 link--underline"><strong>How do earnings vary across Great Britain?</strong></a></h3>
                <p class="margin-top--0 margin-bottom--0 padding-top--0 padding-bottom--0">15 January 2015 <span class="margin-left--1">Article</span></p>
                <p class="margin-top--0">Did you know that full-time employees in the UK earned £528 per week on average in 2015, and that on average women earned 9.4% less than men per hour?</p>
              </li>
            </ul>
          </div>
        </div>
    </div>
  </div>

  <div class="wrapper margin-bottom--8">

    <div class="col-wrap">
      <div class="col">
        <div class="col col--md-36 col--lg-36">

        {% include tiles/contact-details-v2.html %}

        </div>
      </div>
    </div>

  </div>


    </div>
  </div>
</main>
