<div class="tiles__item tiles__item--nav-type flush-col">
  <h3 class="tiles__title-h3 background--gallery font-weight--bold">
    Contact
  </h3>
  <div class="tiles__content padding-top--1 padding-bottom--3 background--gallery">
    <address>
      {% if page.contact-name %}
      {{ page.contact-name }}<br>
      {% endif %}

      <a href="#" class="link--underline">{{ page.contact-email }}</a>

      {% if page.contact-tel %}
      <br>Telephone: {{ page.contact-tel }}
      {% endif %}
    </address>
  </div>
</div>
