<div class="tiles__item tiles__item--nav-type flush-col">
  <h2 class="tiles__title-h3 background--gallery font-weight--bold">
    Related
  </h2>
  <div class="tiles__content padding-top--0 padding-bottom--0 background--gallery">
    <ul class="list--neutral">
      <li class="margin-bottom--2">
        <h3><a href="#" class="font-size--h4"><strong>Annual Survey of Hours and Earnings, 2014 Provisional Results</strong></a></h3>
        <p class="margin-top--0 margin-bottom--0 padding-top--0 padding-bottom--0">Statistical bulletin <span class="font-color--aluminium">&nbsp;|&nbsp;</span> Released on 16 May 2017 </span></p>
        <p class="margin-top--0">All the data used to make this interactive.</p>
      </li>

      <li class="margin-bottom--2">
        <h3><a href="#" class="font-size--h4"><strong>How well does my job pay?</strong></a></h3>
        <p class="margin-top--0 margin-bottom--0 padding-top--0 padding-bottom--0">Article <span class="font-color--aluminium">&nbsp;|&nbsp;</span> Released on 15 January 2015</p>
        <p class="margin-top--0">Did you know that full-time employees in the UK earned £528 per week on average in 2015, and that on average women earned 9.4% less than men per hour?</p>
      </li>
    </ul>

  </div>
</div>
