<div class="wrapper">
  <div class="tiles margin-top--4 margin-bottom--8">
    <ul class="col-wrap tiles__list">
      {% for tile in page.tiles %}
      <li class="min-height-md--15 col col--md-half col--lg-one-third margin-top--0 margin-left-md--1 margin-bottom--1 padding-top--0 padding-right--1 padding-bottom--0 padding-left--0">
        <div class="basic">
          <h2 class="margin-bottom--1">
            <a href="{{ tile.link }}">{{ tile.heading }}</a>
          </h2>
        </div>
        <div class="basic">
          <p class="font-size--16 margin-top--0">{{ tile.content }}</p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
