<div class="col col--lg-two-thirds col--md-two-thirds hide--sm print--hide language--js__container">
  <dl class="language js--hide" style="display: none;">
    <dt class="language__title">Language:</dt>
    <dd class="language__item">
      <a href="&#10;&#10;&#10;&#10;    //cy.ons.gov.uk/surveys/informationforbusinesses&#10;" class="language__link icon--hide">Cymraeg (CY)</a>
    </dd>
  </dl>
  <form class="language language--js js--show" style="display: block;">
    <label class="language--js__label" for="lang">Language:</label>
    <select class="language--js__select" id="lang" name="lang">
      <option value="english" data-url="//www.www.ons.gov.uk/surveys/informationforbusinesses" selected="selected">English (EN)</option>
      <option value="welsh" data-url="//cy.ons.gov.uk/surveys/informationforbusinesses">Cymraeg (CY)</option>
    </select>
  </form>
</div>
