<div class="meta-v2 meta-wrap">
  <div class="wrapper">
    <div class="col-wrap">
      <!-- <p class="col col--md-7 col--lg-7 meta__item">
        <a href="#"><img class="meta__image" src="https://www.ons.gov.uk/img/national-statistics.png" alt="National Statistics quality mark"></a>
      </p> -->
      <p class="col col--md-11 col--lg-11 meta__item">
        <!-- <span>Release date: </span><br> -->
        {{ page.release-date }}<br>
      </p>
      <!-- <p class="col col--md-11 col--lg-11 meta__item">
        <span>Next release: </span><br>{{ page.next-release }}
      </p> -->
      <!-- <p class="col col--md-13 col--lg-13 meta__item">
        <a href="#">Download as PDF (1MB)</a>&nbsp;<span class="icon icon-download--dark-small"></span>
      </p> -->

    </div>
  </div>
</div>
