<div class="meta-wrap">
  <div class="wrapper">
    <div class="col-wrap">
      <p class="col col--md-16 col--lg-20 meta__item">
        {% if page.national-statistic != false %}
          <a href="#"><img class="meta__image" src="https://www.ons.gov.uk/img/national-statistics.png" alt="National Statistics logo"></a>
        {% endif %}
        <span>Contact: </span><br><a href="#">{{ page.contact-name }}</a>
      </p>
      <p class="col col--md-16 col--lg-20 meta__item">
        <span>Release date: </span><br>{{ page.release-date }}<br>
      </p>
      {% if page.next-release %}
        <p class="col col--md-16 col--lg-20 meta__item">
          <span>Next release: </span><br>{{ page.next-release }}
        </p>
      {% else %}
      {% endif %}
    </div>
  </div>
</div>
