<div class="meta-v2 meta-wrap">
  <div class="wrapper">
    <div class="col-wrap">
      <p class="col col--md-11 col--lg-11 meta__item">
        <!-- <a href="#">{{ page.contact-name }}</a><br> -->
        {{ page.release-date }}
      </p>
      <!-- <p class="col col--md-11 col--lg-11 meta__item">
        <span>Next release: </span><br>{{ page.next-release }}
      </p> -->
      <!-- <p class="col col--md-13 col--lg-13 meta__item">
        <a href="#">Download as PDF (1MB)</a>&nbsp;<span class="icon icon-download--dark-small"></span>
      </p> -->
    </div>
  </div>
</div>
