<div class="nav-secondary-wrap">
  <div class="wrapper">
    <div class="col-wrap">
      <nav>
        <div class="nav-secondary nav-secondary--border-right-lg col col--lg-half">
          <h2 class="nav-secondary__title">On this page:</h2>
          <ul class="nav-secondary__list">
            <li class="nav-secondary__item"><a href="#timeseries" class="js-scroll">Time series</a></li>
            <li class="nav-secondary__item"><a href="#datasets" class="js-scroll">Dataset</a>
            </li>
            <li class="nav-secondary__item"><a href="#publications" class="js-scroll">Publications</a></li>
            <li class="nav-secondary__item"><a href="#methodology" class="js-scroll">Methodology</a></li>
          </ul>
        </div>
      </nav>
      <nav>
        <div class="nav-secondary col col--lg-half">
          <h2 class="nav-secondary__title">View all content related to this topic:</h2>
          <ul class="nav-secondary__list">
            <li class="nav-secondary__item"><a href="#">All data</a></li>
            <li class="nav-secondary__item"><a href="#">All publications</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
