<div class="page-intro-v2">
  {% if page.type %}<p class="font-size--19 margin-bottom--0 margin-top--1">{{ page.type }}</p>{% endif %}
  <h1 class="page-intro__title margin-top--0 col--md-46 font-weight--bold">
      {% if page.title %}
      {{ page.title }}
      {% else %}
      Page title
      {% endif %}
    </h1>
    {% if page.intro-content %}
      <p class="page-intro__content col--md-46 padding-top--0 margin-bottom--1">
        {{ page.intro-content }}
      </p>
    {% endif %}
</div>
