<div class="page-intro background--astral">
  <div class="wrapper">
    <div class="col-wrap">
      <div class="col">
        <div class="col col--md-47 col--lg-34">
          <h1 class="page-intro__title page-intro__title--home">
            <span class="page-intro__title page-intro__title--home-big">Welcome to the</span> Office for National Statistics
          </h1>
          <p class="page-intro__content page-intro__content--home-big">
            The UK's largest independent producer of official statistics and the recognised national statistical institute of the UK.
          </p>
        </div>
        <div class="a-z col col--md-47 col--lg-23 col--lg-offset-2 margin-top-lg--3 margin-left-sm--0">
          <h2 class="margin-top-md--2 margin-top-sm--2 ">
            <a href="#">A to Z of statistical bulletins</a>
          </h2>
          <ul class="a-z-list padding-top-md--1 padding-top-sm--1 padding-left--0">
            <li class="a-z-list-item"><a href="#">A</a></li>
            <li class="a-z-list-item"><a href="#">B</a></li>
            <li class="a-z-list-item"><a href="#">C</a></li>
            <li class="a-z-list-item"><a href="#">D</a></li>
            <li class="a-z-list-item"><a href="#">E</a></li>
            <li class="a-z-list-item"><a href="#">F</a></li>
            <li class="a-z-list-item"><a href="#">G</a></li>
            <li class="a-z-list-item"><a href="#">H</a></li>
            <li class="a-z-list-item"><a href="#">I</a></li>
            <li class="a-z-list-item"><a href="#">J</a></li>
            <li class="a-z-list-item"><a href="#">K</a></li>
            <li class="a-z-list-item"><a href="#">L</a></li>
            <li class="a-z-list-item"><a href="#">M</a></li>
            <li class="a-z-list-item"><a href="#">N</a></li>
            <li class="a-z-list-item"><a href="#">O</a></li>
            <li class="a-z-list-item"><a href="#">P</a></li>
            <li class="a-z-list-item"><a href="#">Q</a></li>
            <li class="a-z-list-item"><a href="#">R</a></li>
            <li class="a-z-list-item"><a href="#">S</a></li>
            <li class="a-z-list-item"><a href="#">T</a></li>
            <li class="a-z-list-item"><a href="#">U</a></li>
            <li class="a-z-list-item"><a href="#">V</a></li>
            <li class="a-z-list-item"><a href="#">W</a></li>
            <li class="a-z-list-item"><a href="#">X</a></li>
            <li class="a-z-list-item"><a href="#">Y</a></li>
            <li class="a-z-list-item"><a href="#">Z</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
