<div class="secondary-nav col col--lg-two-thirds col--md-two-thirds print--hide">
  <ul class="secondary-nav__list js-nav-clone__list">
    <li class="secondary-nav__item">
      <a class="secondary-nav__link  js-nav-clone__link" href="/releasecalendar">Release calendar</a>
    </li>
    <li class="secondary-nav__item">
      <a class="secondary-nav__link  js-nav-clone__link" href="/methodology">Methodology</a>
    </li>
    <li class="secondary-nav__item">
      <a class="secondary-nav__link  js-nav-clone__link" href="/news">Media</a>
    </li>
    <li class="secondary-nav__item">
      <a class="secondary-nav__link  js-nav-clone__link" href="/aboutus">About</a>
    </li>
    <li class="secondary-nav__item">
      <a class="secondary-nav__link icon--hide js-nav-clone__link" target="_blank" rel="noopener noreferrer" href="https://blog.ons.gov.uk/">Blog</a>
    </li>
  </ul>
</div>
