<div class="col-wrap border-bottom--iron-md">
  <div class="col col--md-31 col--lg-41 margin-left-md--1">
    <div class="table-of-contents js-sticky-toc print--avoid-break">
      <h2 class="table-of-contents__title">Table of contents</h2>
      <ol id="toc" class="table-of-contents__list">
        <li class="table-of-contents__item">
          <a href="#section-1" class="js-scroll">Section 1</a>
        </li>
        <li class="table-of-contents__item">
          <a href="#section-2" class="js-scroll">Section 2</a>
        </li>
        <li class="table-of-contents__item">
          <a href="#section-3" class="js-scroll">Section 3</a>
        </li>
        <li class="table-of-contents__item">
          <a href="#section-4" class="js-scroll">Section 4</a>
        </li>
      </ol>
    </div>
  </div>

</div>
