<div class="col-wrap border-bottom--iron-md">
  <div class="col col--md-31 col--lg-41 margin-left-md--1">
    <div class="table-of-contents js-sticky-toc print--avoid-break">
      <h2 class="table-of-contents__title">Table of contents</h2>
      <ol id="toc" class="table-of-contents__list">
        <li class="table-of-contents__item">
          <a href="#headline-figures" class="js-scroll" data-ga-event="" data-ga-event-category="toc-link" data-ga-event-label="Headline figures">Headline figures</a>
        </li>
        <li class="table-of-contents__item">
          <a href="#things-you-need-to-know-about-this-release" class="js-scroll" data-ga-event="" data-ga-event-category="toc-link" data-ga-event-label="Things you need to know about this release">Things you need to know about this release</a>
        </li>
        <li class="table-of-contents__item">
          <a href="#economic-context" class="js-scroll" data-ga-event="" data-ga-event-category="toc-link" data-ga-event-label="Economic context ">Economic context </a>
        </li>
        <li class="table-of-contents__item">
          <a href="#business-counts-by-legal-form" class="js-scroll" data-ga-event="" data-ga-event-category="toc-link" data-ga-event-label="Business counts by legal form">Business counts by legal form</a>
        </li>
        <li class="table-of-contents__item">
          <a href="#business-counts-by-broad-industry" class="js-scroll" data-ga-event="" data-ga-event-category="toc-link" data-ga-event-label="Business counts by broad industry">Business counts by broad industry</a>
        </li>
        <li class="table-of-contents__item">
          <a href="#business-counts-by-uk-region" class="js-scroll" data-ga-event="" data-ga-event-category="toc-link" data-ga-event-label="Business counts by UK region">Business counts by UK region</a>
        </li>
        <li class="table-of-contents__item">
          <a href="#local-unit-site-information" class="js-scroll" data-ga-event="" data-ga-event-category="toc-link" data-ga-event-label="Local unit site information">Local unit site information</a>
        </li>
        <li class="table-of-contents__item">
          <a href="#quality-and-methodology" class="js-scroll" data-ga-event="" data-ga-event-category="toc-link" data-ga-event-label="Quality and methodology">Quality and methodology</a>
        </li>
        <li class="table-of-contents__item">
          <a href="#background-notes" class="js-scroll expand-accordion" data-ga-event="" data-ga-event-category="toc-link" data-ga-event-label="Background notes">Background notes</a>
        </li>
      </ol>
      <div class="table-of-contents--sticky__wrap print--hide" style="display: none;">
        <div class="wrapper">
          <div class="col-wrap">
            <div id="stickySelectArea" class="col col--md-30 col--lg-40 margin-left-sm--1 margin-left-md--1"><label for="sticky-toc" class="table-of-contents--sticky__heading font-size--h2">Table of contents</label>
              <div class="table-of-contents--sticky__select-wrap"><select id="sticky-toc" class="table-of-contents--sticky__select "><option value="">-- Select a section --</option><option value="#headline-figures">1. Headline figures</option><option value="#things-you-need-to-know-about-this-release">2. Things you need to know about this release</option><option value="#economic-context">3. Economic context </option><option value="#business-counts-by-legal-form">4. Business counts by legal form</option><option value="#business-counts-by-broad-industry">5. Business counts by broad industry</option><option value="#business-counts-by-uk-region">6. Business counts by UK region</option><option value="#local-unit-site-information">7. Local unit site information</option><option value="#quality-and-methodology">8. Quality and methodology</option><option value="#background-notes">9. Background notes</option></select></div>
            </div>
            <div class="col col--md-17 col--lg-19 hide--sm">
              <p class="text-right padding-top-md--0 padding-bottom-md--0 margin-bottom-md--1 print--hide"><a href="" id="" class="link-complex nojs-hidden js-enhance--show js-print-page">Print this page&nbsp;</a><span class="icon icon-print--light-small"></span></p>
              <p class="text-right padding-top-md--0 padding-bottom-md--1 margin-top-md--0 margin-bottom-md--0 print--hide js-enhance--show"><a href="/businessindustryandtrade/business/activitysizeandlocation/bulletins/ukbusinessactivitysizeandlocation/2016/pdf " class="link-complex">Download as PDF&nbsp;</a><span class="icon icon-download--light-small"></span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col col--md-15 col--lg-16 margin-bottom-sm--2 margin-top-md--7 margin-bottom-md--2 margin-left-lg--2 padding-bottom-sm--2 padding-left-sm--1 padding-bottom-md--1 border-top--iron-sm border-right--iron-sm border-bottom--iron-sm border-left--iron-sm border-top--iron-md border-right--iron-md border-bottom--iron-md border-left--iron-md js-print-pdf print--hide">
    <p class="text-right--md padding-top-md--0 padding-bottom-md--0 height--5 margin-bottom-md--0 print--hide js--show" style="display: block;">
      <a href="" class="link-complex js--show js-print-page" data-ga-event="" data-ga-event-category="print" data-ga-event-label="UK business; activity, size and location - 2016" style="display: inline;">
Print this <span class="lowercase">
Statistical bulletin
</span>
</a>
      <span class="icon icon-print--dark"></span>
    </p>
    <p class="text-right--md padding-top-md--0 padding-bottom-md--0 height--5 margin-top-md--1 print--hide">
      <a href="/businessindustryandtrade/business/activitysizeandlocation/bulletins/ukbusinessactivitysizeandlocation/2016/pdf" class="link-complex js-pdf-dl-link" data-ga-event="" data-ga-event-category="pdf" data-ga-event-label="UK business; activity, size and location - 2016">
Download as PDF
</a>
      <span class="icon icon-download--dark"></span>
    </p>
  </div>
</div>
