
<h1>Heading 1</h1>
<h2>Heading 2</h2>
<h3>Heading 3</h3>
<h4>Heading 4</h4>
<h5>Heading 5</h5>
<h6>Heading 6</h6>
<p class="page-intro__content">A large page intro paragraph. We are the UK’s largest independent producer of official statistics and its recognised national statistical institute.</p>
<p>A body copy paragraph. We design and run the census in England and Wales every 10 years. We also work with the devolved administrations in Northern Ireland and Scotland to carry out the census of population.</p>
<p><a href="#">A body copy link</a>. We also work with the devolved administrations in Northern Ireland and Scotland to carry out the census of population.</p>
<ul>
  <li>here is a bulleted list</li>
  <li>the UK Balance of Payments</li>
  <li>prices statistics (such as consumer prices and producer prices)</li>
</ul>
<p>All of our statistics are official statistics. They are used to:</p>
<ol>
  <li>this is a numbered list</li>
  <li>inform parliaments and political assemblies about the state of the nation, giving a window on the work and performance of governments, to assess their policies’ impact</li>
  <li>allow government and its agencies to carry out their business, making informed decisions based on evidence</li>
</ol>
<h2>Characters</h2>
<p>abcdefghijklmnopqrstuvwxyz<br>ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>1234567890 £$%-_+()!@;:,.?[]{}&lt;&gt;/<br>Accented Welsh - âêíîôûŵŷ ÂÊÍÎÔÛŴŶ</p>
<h2>Font weights</h2>
<ul>
  <li>Regular: 400</li>
  <li>Bold: 700</li>
</ul>
<h2>Form</h2>
<div class="margin-bottom--2">
  <label for="text-input">Your name</label>
  <input class="input" type="text" id="text-input" />
</div>

<div class="margin-bottom--2">
  <input type="checkbox" id="checkbox">
  <label for="checkbox">Bacon</label>
</div>

<div class="margin-bottom--4">
  <input type="radio" id="radio">
  <label for="radio">Bacon</label>
</div>

<div class="margin-bottom--8">
  <label for="select">Select</label>
  <select class="input" id="select" name="select">
    <option selected disabled>Select an option</option>
    <option>Option 1</option>
    <option>Option 2</option>
    <option>Option 3</option>
  </select>
</div>

<button class="btn btn--primary">
  Primary button
</button>
<button class="btn btn--secondary">
  Secondary button
</button>
