.banner p {
  margin:0;
}

.banner a {
  text-decoration: underline;
}

.banner__tag {
  padding: 2px 7px 3px;
  text-transform: uppercase;
  color: $white;
  background-color: $thunder;
}

.banner__tag--matisse {
  background-color: $matisse;
}

.banner__tag--carrot {
  background-color: $carrot;
  color: $white;
}
