// ONS Website

$astral:	#3B7A9E;
$salem:		#0F8243;
$carrot:  #FF9933;
$poppy:   #D32F2F;
$matisse: #206095;
$indigo:  #560072;

// Font colours
.font-color--astral {
  color: $astral;
}

.font-color--salem {
  color: $salem;
}

.font-color--carrot {
  color: $carrot;
}

.font-color--poppy {
  color: $poppy;
}

.font-color--matisse {
  color: $matisse;
}

@import "colours-data-collection";
@import "colours-chart-builder";
@import "colours-well-being";
@import "colours-brexit";
@import "colours-social";
