// Chart builder colours

$cb-navy:   rgb(35,77,112);
$cb-blue:		rgb(0,117,163);
$cb-teal:   rgb(38,109,74);
$cb-sky:    rgb(54,173,217);
$cb-yellow: rgb(226,188,34);

// Font colour

.font-color--cb-navy {
  color: $cb-navy;
}

.font-color--cb-blue {
  color: $cb-blue;
}

.font-color--cb-teal {
  color: $cb-teal;
}

.font-color--cb-sky {
  color: $cb-sky;
}

.font-color--cb-yellow {
  color: $cb-yellow;
}

// Background colour

.background--cb-navy {
  background-color: $cb-navy;
  color: #fff;
}

.background--cb-blue {
  background-color: $cb-blue;
  color: #fff;
}

.background--cb-teal {
  background-color: $cb-teal;
  color: #fff;
}

.background--cb-sky {
  background-color: $cb-sky;
  color: #fff;
}

.background--cb-yellow {
  background-color: $cb-yellow;
  color: #fff;
}
