// Colours in production
$astral:	#3B7A9E;
$salem:		#0F8243;
$carrot:  #FF9933;
$poppy:   #D32F2F;
$matisse: #206095;
$indigo:  #560072;

// Colours in data collection pattern library https://onsdigital.github.io/sdc-global-design-patterns/docs/colours.html

$dc-ons-blue: #003C57;
$dc-primary:  #0F8243;
$dc-warning:  #F99C21;
$dc-error:    #D0121E;
$dc-link:     #4361AA;
$dc-census:   #6E2585;

.background--dc-ons-blue {
  background-color: $dc-ons-blue;
  color: #003C57;
}

.background--dc-primary {
  background-color: $dc-primary;
  color: #0F8243;
}

.background--dc-warning {
  background-color: $dc-warning;
  color: #fff;
}

.background--dc-error {
  background-color: $dc-error;
  color: #fff;
}

.background--dc-link {
  background-color: $dc-link;
  color: #fff;
}

.background--dc-census {
  background-color: $dc-census;
  color: #6E2585;
}

// Colours in high charts
$navy:    #112941;
$blue:		#0068a8;
$teal:    #1996a3;
$sky:     #5bbee1;
$yellow:  #f1c410;

.background--navy {
  background-color: $navy;
  color: #fff;
}

.background--blue {
  background-color: $blue;
  color: #fff;
}

.background--teal {
  background-color: $teal;
  color: #fff;
}

.background--sky {
  background-color: $sky;
  color: #fff;
}

.background--yellow {
  background-color: $yellow;
  color: #fff;
}

// Colours in well being dashboard https://www.ons.gov.uk/visualisations/dvc364/dashboard/index.html
$wb-blue:    #365e94;

.background--wb-blue {
  background-color: $wb-blue;
  color: #fff;
}
