// Extended colour palette

$ons-blue:		#003C57;
$blue:			$cb-blue;
$light-blue:	#36ADD9;
$green:			$salem;
$ons-green:		#A8BD3A;
$yellow:		#E2BC22;
$census:		#6E2585;
$mauve:			#766FAF;
$purple:		#37288B;
$pink:			#D2376D;
$baby-pink:		#EB92BB;
$gold:			#BE7D0B;
$red:			#D32F2F;
$teal:			#008080;
$orange:		#FF9933;
$slate:    #5F7682;

// Font colour

.font-color--ons-blue {
  color: $ons-blue;
}

.font-color--sm-blue-2 {
  color: $sm-blue-2;
}

.font-color--light-blue {
  color: $light-blue;
}

.font-color--green {
  color: $green;
}

.font-color--ons-green {
  color: $ons-green;
}

.font-color--yellow {
  color: $yellow;
}

.font-color--census {
  color: $census;
}

.font-color--mauve {
  color: $mauve;
}

.font-color--purple {
  color: $purple;
}

.font-color--pink {
  color: $pink;
}

.font-color--baby-pink {
  color: $baby-pink;
}

.font-color--gold {
  color: $gold;
}

.font-color--red {
  color: $red;
}

.font-color--teal {
  color: $teal;
}

.font-color--orange {
  color: $orange;
}

.font-color--slate {
  color: $slate;
}


// Background colour

.background--ons-blue {
  background-color: $ons-blue;
  color: #fff;
}

.background--blue {
  background-color: $cb-blue;
  color: #fff;
}

.background--light-blue {
  background-color: $light-blue;
  color: #fff;
}

.background--green {
  background-color: $green;
  color: #fff;
}

.background--ons-green {
  background-color: $ons-green;
  color: #fff;
}

.background--yellow {
  background-color: $yellow;
  color: #fff;
}

.background--census {
  background-color: $census;
  color: #fff;
}

.background--mauve {
  background-color: $mauve;
  color: #fff;
}

.background--purple {
  background-color: $purple;
  color: #fff;
}

.background--pink {
  background-color: $pink;
  color: #fff;
}

.background--baby-pink {
  background-color: $baby-pink;
  color: #fff;
}

.background--gold {
  background-color: $gold;
  color: #fff;
}

.background--red {
  background-color: $red;
  color: #fff;
}

.background--teal {
  background-color: $teal;
  color: #fff;
}

.background--orange {
  background-color: $orange;
  color: #fff;
}

.background--slate {
  background-color: $slate;
  color: #fff;
}