.font-weight--bold {
  font-weight: bold;
}

.font-color--astral {
  color: #3B7A9E;
}

.font-color--salem {
  color: #0F8243;
}

.font-color--carrot {
  color: #FF9933;
}

.font-color--poppy {
  color: #D32F2F;
}

.font-color--matisse {
  color: #206095;
}
