// Font weights
.font-weight--bold {
  font-weight: bold;
}

.font-weight--normal {
  font-weight: normal;
}

// Font colours
.font-color--astral {
  color: $astral;
}

.font-color--salem {
  color: $salem;
}

.font-color--carrot {
  color: $carrot;
}

.font-color--poppy {
  color: $poppy;
}

.font-color--matisse {
  color: $matisse;
}
