      /* Primary button */

      .btn-primary {
        background-color: #206095;
        color: #fff;
        margin-left: 2px;
      }
      
      .btn-primary:hover {
        background-color:#003C57;
      }

      .btn-primary:focus {
        outline: 3px solid #FF9933 !important;
        outline-offset: -1px;
        background-color:#003C57;
      }

      .large {
        font-family: 'Open Sans',Arial,sans-serif;
        font-weight: 600;
        font-size: 16px;
        display: inline-block;
        cursor: pointer;
        height: 40px;
        padding: 0 32px 0 32px;
        border: 0 none;
        text-align: center;
        -webkit-appearance: none;
        transition: background-color 0.25s ease-out;
        text-decoration: none;
        -webkit-font-smoothing: antialiased;
      }

      .small {
        font-family: 'Open Sans',Arial,sans-serif;
        font-size: 12px;
        font-weight: 600;
        height: 32px;
        display: inline-block;
        padding: 0 8px;
        cursor: pointer;
        border: 0 none;
        text-align: center;
        -webkit-appearance: none;
        transition: background-color 0.25s ease-out;
        text-decoration: none;
        -webkit-font-smoothing: antialiased;
      }

      .custom {
        width: 280px;
      }

      /* Secondary button */

      .btn-secondary {
        background-color: #5F7682;
        color: #FFFFFF;
        border: none;
        margin-left: 2px;
      }
      
      .btn-secondary:hover {
        background-color: #45565E;
        color: #FFFFFF;
      }

      .btn-secondary:focus {
        outline: 3px solid #FF9933 !important;
        outline-offset: -1px;
        background-color: #45565E;
      }

      /* Neutral button */

      .btn-neutral {
        background-color: #F9F9F9;
        color: #414042;
        border: solid 1px #A6A8AB;
        margin-left: 2px;
      }
      
      .btn-neutral:hover {
        background-color: #E5E6E7;
        color: #323132;
      }

      .btn-neutral:focus {
        outline: 3px solid #FF9933 !important;
        outline-offset: -1px;
        background-color: #E5E6E7;
        color: #323132;
      }

      /* Disabled button */

      .btn-disabled {
        background-color:#003C57;
        opacity: 0.7;
        cursor: not-allowed;
        background-color: #206095;
        color: #fff;
      }

      /* Disabled button */

      .btn-disabled:focus {
        outline: none;
      }

      /* Play button */    

      .tgl {
        display: none;
      }

      .tgl + .tgl-btn {
        display: inline-block;
        width: 128px;
        height: 40px;
        position: relative;
        cursor: pointer;
        text-align: center;
        padding-top: 8px;
        font-size: 16px;
        box-sizing: border-box;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
      }

      .tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
        position: relative;
        display: block;
        content: "";
        width: 50%;
        height: 100%;
      }

      .tgl + .tgl-btn:after {
        left: 0;
      }

      .tgl + .tgl-btn:before {
        display: none;
      }

      .tgl:checked + .tgl-btn:after {
        left: 0;
      }

      .tgl-play + .tgl-btn {
        overflow: hidden;
        -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
        font-family: "Open Sans",Helvetica,Arial,sans-serif;
        font-weight: 600;
        transition: background-color 0.25s ease-out;
        text-decoration: none;
        -webkit-font-smoothing: antialiased;
        background-color:#206095;
      }

      .tgl-btn:hover {
        background-color:#003C57;
      }

      .tgl-btn:focus {
            outline: 2px solid #FF9933 !important;
            outline-offset: 0;
            background-color:#003C57;
        }

      .tgl-play + .tgl-btn:after, .tgl-play + .tgl-btn:before {
        display: inline-block;
        -webkit-transition: all .2s ease;
        transition: all .2s ease;
        width: 100%;
        text-align: center;
        position: absolute;
        color: #fff;
      }

      .tgl-play + .tgl-btn:after {
        left: 100%;
        content: attr(data-tg-on);
        background-image: url("../images/pause-white.svg");
          background-repeat: no-repeat;
      }

      .tgl-play + .tgl-btn:before {
        left: -10px;
        content: attr(data-tg-off);
        background-image: url("../images/play-white.svg");
          background-repeat: no-repeat;
      }

      .tgl-play:checked + .tgl-btn {
        background: #5F7682;
      }

      .tgl-play:checked + .tgl-btn:before {
        left: -100%;
      }

      .tgl-play:checked + .tgl-btn:after {
        left: -12px;
      }

      .tgl-play:checked + .tgl-btn:hover {
        background-color: #45565E;
      }