@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

.lato {
  font-family: 'Lato', sans-serif;

  h1, h2, h3, h4, h5, h6 {
    font-weight: 700 !important;
  }

  h1 {
    font-size: 36px !important;
  }

  h2 {
    font-size: 28px !important;
  }

  h3 {
    font-size: 22px !important;
  }

  p {
    font-size: 16px !important;
    line-height: 1.58em !important;
  }

  a {
    text-decoration: none !important;
    border-bottom: solid 1px $matisse;
  }
}
