  a:focus {
    background-color: #414042;
    outline: 3px solid #414042;
    color: #fff;
  }

  // a:focus:visited {
  //   color: #fff;
  // }
  //
  // a:visited {
  //   color:#560072;
  // }

.section__content--markdown a.btn {
  text-decoration: none;
}

.btn {
  margin-right: .5em;
}
