// Custom styles created for the "basic" template
.basic {
  a {
    text-decoration: underline;
  }
  a:visited {
    color: $census ;
  }
}

// A dirty pattern library class to force the visited style onto links
.visited {
  color: $census !important;
}

a:focus {
  outline: 3px solid $carrot;
  color: $thunder;
}

.link--underline {
  text-decoration: underline;
}

// a:focus:visited {
//   color: #fff;
// }

.section__content--markdown a.btn {
  text-decoration: none;
}

.section__content--markdown .btn:visited {
  color: #fff;
}

.btn--primary:visited {
  color: #fff;
}

.btn {
  margin-right: 0.5em;
}

.btn:focus {
  outline: 3px solid $carrot;
  color: $white;
}
