// Custom styles created for the "basic" template
.basic {
  .page-intro__content {
    margin-bottom: 16px;
  }

  .page-intro__type {
    color: $ship-grey;
  }
}

.page-intro-v2 {
  .page-intro__title {
    margin-top: 0;
  }

  .page-intro__type {
    color: $ship-grey;
  }

  .page-intro__content {
    margin-bottom: 32px;
  }
}
