.download-options__container .js-show-hide__title button {
  width: auto;
}

.js-show-hide__title {
  display: inline;
}

.js-show-hide--inline {
  display: inline;
}

.show-hide--inline {
  display: inline;
}

.download-options__container .show-hide__title {
  padding-right: 0;
}

.download-options__container .js-show-hide__title button {
  color:#206095;
  text-decoration: underline;
  padding: 0;
}

.download-options__container .js-show-hide__title button:focus {
  outline: 3px solid $carrot;
  color: $thunder;
}

.download-options__container .show-hide button[aria-expanded=false]:after, .download-options__container .show-hide button[aria-expanded=true]:after {
  background-image: none;
}

.show-hide-v2 {
  .js-show-hide__button {
    color: $matisse;
    text-decoration: underline;
      
  }
  .show-hide button:focus {
    outline: 3px solid $carrot;
  }
    
}

.show-hide--slim {
  .js-show-hide__button {
    padding: 0;
  }
  .show-hide__title {
    padding-right: 40px;
  }
}

.js-show-hide--slim .show-hide--slim button[aria-expanded=false]:after,
.js-show-hide--slim .show-hide--slim button[aria-expanded=true]:after {
  top: 24%;
  right:0;
}
