.table-v2 {
  caption {
    padding-bottom: 16px;
    margin-bottom: 0px;
    border-bottom: 1px solid $iron;
  }
  th,td {
    border-bottom: 1px solid $iron;
    text-align: left;
    line-height: 1.3;
    padding: .8em 2em .8em 0;
  }
  th {
    border-top: 2px solid $iron;
    border-bottom: 2px solid $iron;
  }
  td:last-child, th:last-child {
    padding-right: 0;
  }
  .cell--align-right {
    text-align: right;
  }
}
