@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

.source-sans-pro {
  font-family: 'Source Sans Pro', sans-serif;
}

.system {
  font-family: medium-ui-sans-serif-text-font, -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

.lato {
  font-family: 'Lato', sans-serif;
}
