// Font weights
.font-weight--bold {
  font-weight: bold !important; // Only use !important in the prototype to temporarily overwrite production styles
}

.font-weight--normal {
  font-weight: normal;
}

// Font sizes
.font-size--xlarge {
  font-size: 50px;
  line-height: 1.2;
}

.font-size--19 {
  font-size: 19px;
  line-height: 1.5;
}

.font-size--21 {
  font-size: 21px;
  line-height: 1.5;
}

.font-size--24 {
  font-size: 24px;
  line-height: 1.5;
}


.text {
  max-width: 36em;
}

h2 {
  line-height: 1.4 !important; // Only use !important in the prototype to temporarily overwrite production styles
}

h3 {
  line-height: 1.4 !important; // Only use !important in the prototype to temporarily overwrite production styles
}

// Custom styles created for the "basic" template
.basic {
  h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
    padding: 0;
    margin: 40px 0 24px 0;
    line-height: 1.2;
  }

  ul,ol {
    margin: 0;
    padding-left: 30px;
    margin: 8px 0 24px 0;
  }

  p {
    font-size: 16px;
    line-height: 1.5;
    margin: 8px 0 24px 0;
    padding: 0;
  }

  li {
    font-size: 16px;
    line-height: 1.5;
    margin: 0 0 8px 0;
    padding: 0;
  }

  .page-intro__content, .lede {
    font-size: 21px;
  }
}

// Custom styles created for the "social media" section

  .heading1 {
    font-weight: 700;
    font-size: 52px !important;
    margin-top: -8px !important;
  }

  .heading2 {
    font-weight: 700;
    font-size: 42px !important;
  }

  .heading3 {
    font-weight: 700;
    font-size: 32px !important;
  }

  .subheadings {
    font-weight: 600;
    font-size: 26px !important;
    padding-bottom: 24px !important;
  }

  .body-text {
    font-weight: 400;
    font-size: 22px !important;
    padding-bottom: 24px !important;
  }

  .source-text {
    font-weight: 400;
    font-size: 18px !important;
  }
