<div class="alert">
  <div class="wrapper">
    <div class="col-wrap">
      <div class="col">
        <div class="show-hide show-hide--dark info-box margin-top-sm--1 margin-top-md--1 js-show-hide">
          <div class="js-show-hide__title"><button class="js-show-hide__button" type="button" aria-expanded="false" aria-controls="collapsible-0">
            <span class="icon icon-info icon-info--info-box"></span>
            <h2 class="show-hide__title alert--warning__title">
              Notice
            </h2>
          </button>
        </div>
        <div class="js-show-hide__content" id="collapsible-0" aria-hidden="true">
          <div class="show-hide__content alert--warning__content section__content--markdown">
            <section>
                <p class="alert__date">29 February 2016</p>
                <h3>Holdings of property</h3>
                <p>An error has been identified in the estimate of holdings of property for both UK assets (direct investment abroad) and UK liabilities (direct investment in the UK). Data from 1999 to the latest period are affected for series HCHP and HCQM
                  within table 8.3. Higher level aggregates and associated geography within the International Investment Position, including the net, are also affected. Users are advised that there is no impact on the Balance of Payments (current account,
                  capital account and financial account). The impact on total UK assets (HBQA) range from £14.6 billion in 1999 to £74.3 billion in 2008 on levels of £2.5 trillion and £11.3 trillion respectively. The impact on total UK liabilities (HBQB)
                  range from £2.1bn in 1999 to £9.1bn in 2014 on levels of £2.7 trillion and £10.6 trillion respectively. Further details on the <a href="https://www.ons.gov.uk/file?uri=/economy/nationalaccounts/balanceofpayments/datasets/pinkbook/current/holdingsofproperty.xls">impact for the full time series</a>                  can be found in the impact of second homes correction, and will also be included in Balance of Payments and International Investment Position impact articles scheduled for April 2016 to June 2016. Revised figures for all series will
                  be published within the Quarterly National Accounts and Balance of Payments on 30 June 2016.</p>
                <p>ONS apologises for any inconvenience this may cause.</p>
                <h3>UK shares, mutual funds and bonds</h3>
                <p>An error has been identified with the levels of shares, mutual funds and bonds in the Sector and Financial Accounts and in the Balance of Payments and International Investment Position. These levels are under-reported in most periods from
                  2011 onwards. This issue also affects unlisted shares and the level of dividend and bond interest receipts between sectors.</p>
                <p>Provisional estimates for 2011 show an increase in the UK's net borrowing of approximately £1 billion and a decrease in the UK's financial net worth of approximately £34 billion. Consequently, the Rest of World net lending position shows
                  an increase of approximately £1 billion leading to an increase in the current account deficit of approximately £1 billion within the Balance of Payments. Revised figures for all series will be published within the Quarterly National
                  Accounts and Balance of Payments on 30 June 2016.</p>
                <p>A more detailed explanation will be provided in an article 'The UK Flow of Funds Project: Improvements to the Sector and Financial Accounts' to be published on 24 February 2016. Full indicative impacts will be discussed in further articles
                  'Detailed assessment of changes to Sector and Financial Accounts, 1997 to 2011' and 'Detailed assessment of changes to Balance of Payments and International Investment Position, 1997 to 2011' to be published on 26 April 2016 and 'Detailed
                  assessment of changes to Sector and Financial Accounts, 2012 to 2014' and 'Detailed assessment of changes to Balance of Payments and International Investment Position, 2012 to 2014' to be published on 7 June 2016.</p>
                <p>Further information and a list of all the affected CDIDs will be provided in the aforementioned articles.</p>
                <p>ONS apologises for any inconvenience this may cause.</p>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
