<div class="alert">
  <div class="wrapper">
    <div class="col-wrap">
      <div class="col">
        <div class="show-hide show-hide--dark info-box margin-top-sm--1 margin-top-md--1 js-show-hide">
          <div class="js-show-hide__title"><button class="js-show-hide__button" type="button" aria-expanded="false" aria-controls="collapsible-0">
            <span class="icon icon-info icon-info--info-box"></span>
            <h2 class="show-hide__title alert--warning__title">
              Corrections and notices
            </h2>
          </button>
        </div>
          <div class="js-show-hide__content" id="collapsible-0" aria-hidden="true">
            <div class="show-hide__content alert--warning__content section__content--markdown">
              <section>
                <h3 class="alert--notice__title">Corrections</h3>
                <p class="alert__date">31 March 2017</p>
                <p>We have identified a processing error in the repayments of UK corporate bonds. We are investigating the options for addressing the error and will publish further details and revised data as soon as possible. The series known to be directly
                  affected is XBLX: Debt securities investment in the UK. There will be a knock-on impact on high-level aggregates within the financial account.</p>
                <p class="alert__date">31 March 2017</p>
                <p>A processing error has been identified in the presentation of the total final consumption expenditure implied deflator (CDID YBGA - Table 1.4). Data presented relates to the households final consumption expenditure implied deflator. The
                  correction has been incorporated into the United Kingdom Economic Accounts (UKEA) from the Quarter 4 (Oct to Dec) 2016 release published on 31 March 2017, please use Table 1.1.2 of the UKEA for the latest data. Blue Book will be updated
                  when the 2017 edition is published on 31 October 2017. No other series are impacted by this error. </p>
                <p class="alert__date">6 December 2016</p>
                <p>A processing error has been identified in the measurement of UK Trade affecting the period January 2015 to September 2016. Although it will change the expenditure components of GDP for the same period <strong>there is no impact on headline GDP</strong>                  as the affected elements of trade will be offset in the acquisitions less disposals of valuables. The chapters affected are 1,2,3,4,5,6 and 7. The correction will be incorporated into the Quarter 3 (July to Sept) 2016 Quarterly National
                  Accounts release on 23 December 2016 and 'Blue Book' will be updated when the 2017 edition is published on 31 October 2017. Further details including the indicative impacts on UK Trade and the current account can be found in the <a href="https://www.ons.gov.uk/economy/nationalaccounts/balanceofpayments/bulletins/uktrade/sept2016">UK trade: Sept 2016 correction notice</a>.</p>
                <p class="alert__date">25 November 2016</p>
                <p>A processing error has been identified in the non-monetary gold estimates within the acquisition less disposals of valuables data series for 2015. This affects data in publication tables 1 through to 6 and will be corrected when the Blue
                  Book 2017 is released on 31 October 2017.</p>
                <p>25 November 2016</p>
                <p>Following a quality review, a processing error has been identified in the compilation of the estimates for the rail transport industry (49.1-2), which affects the period Quarter 1 1997 to Quarter 2 2016. In line with the National Accounts
                  revision policy, this error will be corrected in the Index of Services and Quarterly National Accounts due for publication on 23rd December 2016 for data from Quarter 1 2015 and in the Blue Book 2017 consistent releases for data prior
                  to this period. The average impact over this period on quarter-on-quarter Index of Services and GDP growth is 0.00%. This processing error does not impact quarter on quarter growth into Quarter 3 2016.</p>
              </section>
            </div>
            <div class="show-hide__content alert--warning__content section__content--markdown">
              <section>
                <h3 class="alert--notice__title">Notices</h3>
                <p class="alert__date">30 September 2016</p>
                <p>Following a quality review it has been identified that the methodology used to estimate elements of purchased software within gross fixed capital formation (GFCF) has led to some double counting from 1997 onwards. When this issue is amended
                  in The Blue Book 2017 it will reduce the level of GFCF across the period by around 1.1% per year. The average impact on quarter-on-quarter GFCF growth is negative 0.02% and the average impact on quarter-on-quarter GDP growth is 0.00%.</p>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
