---
layout: prototype
title: "Bude001A: Output area "
contact-name: "Tom Davy"

breadcrumbs:
  - label: Home
    link: https://www.ons.gov.uk/
  - label: United Kingdom
    link: index.html
  - label: England
    link: england.html    
  - label: South West
    link: southwest.html  
  - label: Cornwall
    link: cornwall.html
  - label: Cornwall &#58; Census merged wards
    link: censuswards.html
  

    
    
   
    
---
<style>


 p {
    font-size: 16px;
      margin: 19px 0 0 0;
  }

    h1, h2,  h4, h5, h6 {
  font-weight: bold;
}

h6 {
    font-size: 16px;
}
    
/*
    h3 {
    font-size: 16px;
    margin: 12px 0 0 0;
        
}
*/
    
        h4 {
    font-size: 16px;
    margin: 13px 0 0 0;
        
}
    
    
    li {
    font-size: 16px;
         margin: 16px 0 0 3px;
}
    

    
    a {
    font-size: 16px;
       text-decoration:  underline;
    }
    
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #D0D2D3;
    padding: 0; 
}
  
    hr.1 {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #D0D2D3;
    padding: 0;
    margin-top: 0;    
}
    
.border-bottom--abbey-md {
    border-bottom: 1px solid #D0D2D3;
    margin-bottom: -1px;
    
    
    }
    
.border-top--abbey-md {
    border-top: 1px solid #D0D2D3;
    margin-top: -1px;
    }
    
    
    
  .show-hide button:focus {
    outline: 0px solid !important; 
  }    
    
    .meta-wrap {
        
        height: auto;
        
    }

    
    .meta__item
    {
        
        height: auto;
        min-height: auto;
        
    }
    
/*
    .js-show-hide__button:focus {
  background: none;
  border-bottom: none;           
}
*/
/*
     hr {
        
        margin-top:8px;!important 
        background: #D0D2D3;
        
    } 
*/
    
 
    .show-hide--dark-bg {
    background: #EAEAEA;
    }
    
        .map {
/*
    background-image: url("img/British_Islands.svg");
            background-repeat: no-repeat;
*/
    width: 100%;
    height: 430px;
    margin-bottom: 16px;   
            background-image: url(img/output.jpg)
    }

            .line {
    background: #BBBDBF;
    width: 100%;
    height: 2px;       
    }

     .st1:hover
  {
    fill: #1E3D4F;
  }
    
         .st2
  {
   
    fill: #B1CAD8;
    opacity: 1.0;  
  }
    

    
      .show-hide button {
    border-bottom: 1px solid #D0D2D3;
   
  }

    .tooltip {
/*
    position: relative;
    display: inline-block;
*/
    border-bottom: 0px dotted white;  }
    
.tooltip:hover:before, .tooltip:focus:before {
    border: solid;
    border-color: #414042 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 25px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 2;
}    
    
.tooltip:hover:after, .tooltip:focus:after {
    background: #414042;
    bottom: 31px;
    color: white;
    content: attr(title);
    padding: 8px 16px;
    position: absolute;
    z-index: 1;
    width: auto;
    left: -180px;
    box-sizing: border-box;
}    
    
.btn--secondary-disabled:hover, .btn--secondary-disabled:focus {
       
    color: white;
    background: #6D6E72;
    cursor: pointer;
   
}   
    
    .icon1 {
  width: 16px;
  height: auto;
  margin-left: 6px;
    margin-right: 16px;    
  
}

       ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 8px;
         height: 3px;
    }
    ::-webkit-scrollbar-thumb {
         border-radius: 1px;
    background-color: #D0D2D3;
        -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
    }
        
</style>



<main id="main" role="main" tabindex="-1">

  <div class="page-intro background--white" style="border: 1px solid white">
    <div class="wrapper padding-bottom--2">
      <div class="col-wrap">
        <div class="col">

          {% include breadcrumbs-v2.html %}
          {% include page-intro-v2.html %}

      
       
        </div>
      </div>
    </div>
  </div>
  


  
 <div class="wrapper">
   
   <div class="col-wrap">
        
           
             <div class="col col--md-one-third col--lg-one-third">
             
      
        <hr style="border-top: 1px solid white;">    
           
            
        </div>
     
          
          <div class="col col--md-two-thirds col--lg-two-thirds">
           
           
   <table class="background--gallery" style="width:100%">
  <tr>
    <th class="background--gallery padding-bottom--1"><font color="#3B7A9E">Population:</font> 9,222</th>
     <th class="background--gallery padding-bottom--1"><font color="#3B7A9E">Area:</font> N/A</th> 
     <th class="background--gallery padding-bottom--1"><font color="#3B7A9E">Employment:</font> 68.5%</th>
  </tr>
 
</table>
       </div></div>

   <div class="line"></div>


   <section>
   <div class="col-wrap">
        
           
             <div class="col col--md-one-third col--lg-one-third" style="height:430px;overflow:auto;">
             
           <h2 style="margin-top: 16px;">Explore</h2>
            
        <br>   
        <div><a href="url">AE00095622</a></div>
        <hr>
        <div> <a href="cornwall.html">E00095623</a></div>
        <hr>
        <div> <a href="url">E00095624</a></div>
        <hr>
        <div> <a href="url">E00095625</a></div>
        <hr> 
        <div> <a href="url">E00095626</a></div>
        <hr> 
        <div> <a href="url">E00095627</a></div>
        <hr> 
        <div> <a href="bude.html">E00095628</a></div>
        <hr> 
         <div> <a href="url">E00095629</a></div>
        <hr> 
              <div> <a href="url">E00095630</a></div>
        <hr> 
              <div> <a href="url">E00095631</a></div>
        <hr> 
              <div> <a href="url">E00095632</a></div>
        <hr> 
              <div> <a href="url">E00095633</a></div>
        <hr>       
                  <div> <a href="url">E00095634</a></div>
        <hr> 
            <div><a href="url">AE00095622</a></div>
        <hr>
        <div> <a href="cornwall.html">E00095623</a></div>
        <hr>
        <div> <a href="url">E00095624</a></div>
        <hr>
        <div> <a href="url">E00095625</a></div>
        <hr> 
        <div> <a href="url">E00095626</a></div>
        <hr> 
        <div> <a href="url">E00095627</a></div>
        <hr> 
        <div> <a href="bude.html">E00095628</a></div>
        <hr> 
         <div> <a href="url">E00095629</a></div>
        <hr> 
              <div> <a href="url">E00095630</a></div>
        <hr> 
              <div> <a href="url">E00095631</a></div>
        <hr> 
              <div> <a href="url">E00095632</a></div>
        <hr> 
              <div> <a href="url">E00095633</a></div>
        <hr>       
                  <div> <a href="url">E00095634</a></div>
        <hr> 
              
               
               
           
           
            
        </div>
           
        
           
           
           
           
           
           
           
           
           
           
           
           <div class="col col--md-two-thirds col--lg-two-thirds">
           
           <div class="map"




            
        </div>
        </div>
        </section>
                 <h3 style="margin-top: 16px;">Areas matching 'Bude: Output areas'</h3><br>
               <a href="bude.html" class="btn btn--secondary btn--secondary-disabled">Census merged wards (1)</a>
           <a href="parishes.html" class="btn btn--secondary btn--secondary-disabled">Parishes (3)</a>
           <a href="electoral.html"class="btn btn--secondary btn--secondary-disabled">Electoral wards (4)</a>
           <a href="output.html"class="btn btn--secondary btn--secondary-active">Output areas (32)</a><br><br>
           
        
   

        
          <div class="line" style="margin-bottom: 32px;"></div>
        
              <h2 style="margin-top: 32px;">Statistical data for Bude: Parishes</h2>
        <h3>People, population and community</h3>
              <p style="margin-top: 0px;">0 datasets for this boundary.<br>
               Try <a>Census merged wards</a>&nbsp;to find data for people, population and community</p>
           
           
           
       
               
             
        <h3>Business, industry and trade </h3>
                          <p style="margin-top: 0px;"><a href="landing.html">UK Business - activity, size and location </a>&nbsp;| 
               <a>Business demography</a>
               
               <h3>Economy</h3>
               <p style="margin-top: 0px;"><a href="landing.html">Index of Production time series dataset</a>&nbsp;| 
               <a>Output of the Production Industries </a>&nbsp;| 
               <a>Index of Services time series dataset </a>&nbsp;|
               <a>Index of Production and Sectors to four decimal places </a>&nbsp;| 
               <a>Index of Services industry sections and components </a>
               
                      <h3>Employment and labour market</h3>
                 <p style="margin-top: 0px;">0 datasets for this boundary.<br>
               Try <a>Parishes</a>&nbsp;to find data for employment and labour market</p>
            <br>
            <br>
        

        
        <div class="line"></div>
        
        
        
        
        
        <section>
        
        <div class="wrapper" style="margin-bottom:128px">
        <h2 style="margin-top: 32px;">Geographical data and products - Bude: Census merged wards</h2>
 <div class="col-wrap">
        <div class="col col--md-one-third col--lg-one-third">
            <h4>Current boundaries</h4>
            <a>Download shapefile</a><br>
      
        </div>
        <div class="col col--md-one-third col--lg-one-third">
            <h4>Lookups</h4>
            <a>Built up areas to subdivisions</a><br>
            

        </div>
        <div class="col col--md-one-third col--lg-one-third">
            <h4>Names and codes</h4>
            <a>Adminstrative codes</a><br>
            <a>Census codes</a><br>
            <a>Electoral codes</a><br>
            <a>Health codes</a><br>
            <a>Other codes</a><br>

        </div>
    </div>
        
       </div>
       </section>
       
    
    
  
  
   
    

</main>
