---
layout: prototype
type:
title: "England"
breadcrumbs:
  - label: Home
    link: #
  - label: United Kingdom
    link: ../index
---


<main id="main" role="main" tabindex="-1">

  <div class="page-intro background--gallery">
    <div class="wrapper padding-bottom--2">
      <div class="col-wrap">
        <div class="col">

          {% include breadcrumbs-v2.html %}
          {% include page-intro-v2.html %}

        </div>
      </div>
    </div>
  </div>

  <div class="wrapper margin-top--4 margin-bottom--2">
    <div class="col-wrap">
      <div class="col col--md-half col--lg-half">
        <h2 class="font-weight--bold">Find an area</h2>
        <ul class="area-list">
          <li><a href="#">East Midlands</a></li>
          <li><a href="#">East of England</a></li>
          <li><a href="#">London</a></li>
          <li><a href="#">North East</a></li>
          <li><a href="#">North West</a></li>
          <li><a href="south-east">South East</a></li>
          <li><a href="#">South West</a></li>
          <li><a href="#">West Midlands</a></li>
          <li><a href="#">Yorkshire and the Humber</a></li>
        </ul>
      </div>
      <div class="col col--md-half col--lg-half">
         <img src="{{ "/assets/img/Map_United Kingdom - England.svg" | relative_url }}" alt="Map of United Kingdom">
      </div>
    </div>
  </div>

  <div class="wrapper margin-top--2 margin-bottom--8">
    <div class="col-wrap">
      <div class="col col--md-one-third col--lg-one-third">
        <h2 class="font-weight--bold">Get data</h2>
        <ul class="area-list">
          <li><a href="#">England</a></li>
        </ul>
      </div>
      <!-- <div class="col col--md-one-third col--lg-one-third">
        <h2 class="font-weight--bold">Themes</h2>
        <ul class="area-list">
          <li><a href="#">Business, industry and trade</a></li>
          <li><a href="#">Economy</a></li>
          <li><a href="#">Employment and labour market</a></li>
          <li><a href="#">People, population and community</a></li>
        </ul>
      </div> -->
      <div class="col col--md-one-third col--lg-one-third">
        <h2 class="font-weight--bold">Other countries</h2>
        <ul class="area-list--comma-separated">
          <li><a href="#">Northern Ireland</a></li>
          <li><a href="#">Scotland</a></li>
          <li><a href="#">Wales</a></li>
        </ul>
      </div>
    </div>


</main>
