---
layout: basic
type: "Status: prototype"
title: Open Sans Type Specimen
intro-content: "Font stack: Open Sans, Helvetica, Arial, sans-serif."
---

<main id="main" role="main" tabindex="-1">

<div class="basic page-intro background--gallery padding-top--1 padding-bottom--4 ">
  <div class="wrapper">
    <div class="col-wrap">
      <div class="col">
        {% include page-intro.html %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper margin-top--6 margin-bottom--8">
  <div class="col-wrap">
    <div class="col">
      <div class="col col--md-36 col--lg-36">

        {% include type-specimen.html %}

      </div>
    </div>
  </div>
</div>

</main>
