---
layout: basic
type: "Status: prototype"
title: "Related links"
intro-content: What do related links look like on visual articles?
---

<main id="main" role="main" tabindex="-1">

  <div class="basic page-intro background--gallery padding-top--1 padding-bottom--4 ">
    <div class="wrapper">
      <div class="col-wrap">
        <div class="col">
          {% include page-intro.html %}
        </div>
      </div>
    </div>
  </div>

  <div class="basic wrapper padding-top--4 padding-bottom--8">
  <div class="col-wrap">
    <div class="col">
      <div class="col col--md-36 col--lg-36">

        <div class="col height-sm--23 col--md-23 col--lg-14 height-md--23 height-lg--48 background--white margin-left-md--1 margin-bottom--2 js-hover-click" style="position: relative;">
          <div class="padding-left--1 padding-right--1 padding-top--2 padding-bottom--1">
            <div class="box__content box__content--homepage height-sm--19 height-md--19 height-md--44 padding-top-lg--17">
              <h2 class="tiles__title tiles__title-h2--home padding-top-lg--4"><a href="#">Post-referendum UK<span class="box__clickable"></span></a></h2>
              <span class="image-holder hide--sm hide--md-only width-lg--12"><img src="../../img/post-referendum.png" alt="" class="no-border"></span>
              <p class="margin-top-lg--1">Track emerging and potential changes to the UK economy and society through our dashboard</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>




</main>

{% include footer-basic.html %}
