---
layout: basic
type: "Status: prototype"
title: "Related links"
intro-content: What do related links look like on visual articles?
---

<main id="main" role="main" tabindex="-1">

  <div class="basic page-intro background--gallery padding-top--1 padding-bottom--4 ">
    <div class="wrapper">
      <div class="col-wrap">
        <div class="col">
          {% include page-intro.html %}
        </div>
      </div>
    </div>
  </div>

  <div class="basic wrapper padding-top--4 padding-bottom--8">
  <div class="col-wrap">
    <div class="col">
      <div class="col col--md-36 col--lg-36">

        <h2>Prototypes</h2>
        <ul>
          <li><a href="option-1">Option 1: existing related links component</a></li>
          <li><a href="option-2">Option 2: new related links component</a></li>
        </ul>

      </div>
    </div>
  </div>
</div>




</main>

{% include footer-basic.html %}
