---
layout: prototype
type: "Statistical bulletin"
title: "UK business; activity, size and location: 2016"
intro-content: "UK businesses broken down by legal status, industry, region, employment and turnover size bands."
contact-name: Karen Thomas
contact-email: email@ons.gsi.gov.uk
contact-tel: +44 (0)1234 567890
release-date: 4 October 2016
next-release: To be announced
---

<main id="main" role="main" tabindex="-1">
  <div class="page-intro background--gallery">
    <div class="wrapper">
      <div class="col-wrap">
        <div class="col">

          {% include breadcrumbs.html %}

          {% include page-intro.html %}

        </div>
      </div>
    </div>

    {% include alerts/alert.html %}

    {% include meta.html %}

  </div>
  <div class="page-content border-top--iron-sm border-top--iron-md">
    <div class="wrapper">

      <div class="hide--md margin-top-sm--1">
        {% include view-all-data.html %}
      </div>

      <article class="col col--md-36 col--lg-39 page-content__main-content margin-bottom--5" style="padding-top: 0px;">

        <div id="pull-out-box" class="section__content--markdown ">
          <section>
            <header>
              <h2><span class="section__content-number">1.</span> Main points</h2>
            </header>
            <p>UK Business: Activity, Size and Location, 2016 is produced from an extract taken from the IDBR recording the position of units as at 11 March 2016.</p>
            <p>For the purpose of this release the term “business” is used to represent an enterprise. An enterprise can be defined as the smallest combination of legal units (generally based on VAT and/or PAYE records) that is an organisational unit producing goods or services, which benefits from a certain degree of autonomy in decision-making, especially for the allocation of its current resources. An enterprise carries out one or more activities at one or more locations. An enterprise may be a sole legal unit.</p>
            <div class="js-show-hide">
              <div class="show-hide show-hide--light">
                <div class="js-show-hide__title">
                    <p class="show-hide__title">
                    <a>Information about the IDBR</a>
                  </p>
                </div>
                <div class="js-show-hide__content panel">
                  <p>The Inter-Departmental Business Register (IDBR) is a comprehensive list of UK businesses used by government for statistical purposes. It is fully compliant with the European Union regulation on harmonisation of business registers for statistical purposes.</p>
                </div>
              </div>
            </div>
            <p>This publication represents the businesses registered with HM Revenue and Customs (HMRC) for VAT and/or Pay As You Earn (PAYE). The Department for Business, Energy and Industrial Strategy (BEIS) produces Business Population Estimates which seek to provide full coverage of all types of businesses in the UK including an estimate of the unregistered business population. </p>
            </section>
        </div>


      </article>
      <div class="col col--md-11 col--lg-20 margin-top-md--3">

        {% include view-all-data.html %}

        {% include tiles/contact-details.html %}

      </div>

    </div>
  </div>
</main>
