---
layout: prototype
type: "Statistical bulletin"
title: "Title"
intro-content: "Intro content"
contact-name: Karen Thomas
contact-email: email@ons.gsi.gov.uk
contact-tel: +44 (0)1234 567890
release-date: 4 October 2016
next-release: To be announced
---

<main id="main" role="main" tabindex="-1">
  <div class="page-intro background--gallery">
    <div class="wrapper">
      <div class="col-wrap">
        <div class="col">

          {% include breadcrumbs.html %}

          {% include page-intro.html %}

        </div>
      </div>
    </div>

    {% include alerts/alert.html %}

    {% include meta.html %}

  </div>
  <div class="page-content border-top--iron-sm border-top--iron-md">
    <div class="wrapper">

      {% include table-of-contents.html %}

      <div class="hide--md margin-top-sm--1">
        {% include view-all-data.html %}
      </div>

      <article class="col col--md-36 col--lg-39 page-content__main-content margin-bottom--5" style="padding-top: 0px;">

        <div id="section-1" class="section__content--markdown ">
          <section>
            <header>
              <h2><span class="section__content-number">1.</span> Section 1</h2>
            </header>
            <p>UK Business: Activity, Size and Location, 2016 is produced from an extract taken from the IDBR recording the position of units as at 11 March 2016.</p>
            <p>This publication represents the businesses registered with HM Revenue and Customs (HMRC) for VAT and/or Pay As You Earn (PAYE). The Department for Business, Energy and Industrial Strategy (BEIS) produces Business Population Estimates which seek to provide full coverage of all types of businesses in the UK including an estimate of the unregistered business population.</p>
            <p>UK Business: Activity, Size and Location, 2016 is produced from an extract taken from the IDBR recording the position of units as at 11 March 2016.</p>
            <p>This publication represents the businesses registered with HM Revenue and Customs (HMRC) for VAT and/or Pay As You Earn (PAYE). The Department for Business, Energy and Industrial Strategy (BEIS) produces Business Population Estimates which seek to provide full coverage of all types of businesses in the UK including an estimate of the unregistered business population.</p>

            {% include links/back-to-table-of-contents.html %}

          </section>
        </div>

        <div id="section-2" class="section__content--markdown ">
          <section>
            <header>
              <h2><span class="section__content-number">2.</span> Links to related statistics</h2>
            </header>
            <ul class="list--neutral">

              <li class="margin-bottom--3">
                <h3><a href="#" class="font-size--h4">UK non-financial business economy: 2014 regional results (Annual Business Survey) (Latest release)</a></h3>
                <p class="margin-top--0">Released 21 July 2016 <span class="margin-left--1">Statistical bulletin</span></p>
                <p class="margin-top--0">Size and growth of the UK non-financial sectors within the 12 NUTS 1 regions of the UK as estimated by the Annual Business Survey.</p>
              </li>

              <li class="margin-bottom--3">
                <h3><a href="#" class="font-size--h4">UK non-financial business economy: 2014 regional results (Annual Business Survey) (Latest release)</a></h3>
                <p class="margin-top--0">Released 21 July 2016 <span class="margin-left--1">Statistical bulletin</span></p>
                <p class="margin-top--0">Size and growth of the UK non-financial sectors within the 12 NUTS 1 regions of the UK as estimated by the Annual Business Survey.</p>
              </li>

              <li class="margin-bottom--3">
                <h3><a href="#" class="font-size--h4">Harmonised Index of Consumer Prices</a></h3>
                <p class="margin-top--0">External website</p>
                <p class="margin-top--0">The Harmonised Index of Consumer Prices (HICP) provides a comparable measure of inflation for each member state of the European Union. The UK HICP is identical to the UK CPI. Further information is available on the <a href="#">Eurostat website</a>.</p>
              </li>

            </ul>

            {% include links/back-to-table-of-contents.html %}

          </section>
        </div>

      </article>
      <div class="col col--md-11 col--lg-20 margin-top-md--3">

        {% include view-all-data.html %}

        {% include tile-contact-details.html %}

        <div class="tiles__item tiles__item--nav-type flush-col">
          <h3 class="tiles__title-h3 background--gallery">
            Related
          </h3>
        <div class="tiles__content padding-bottom--1 background--gallery">
          <ul class="list--neutral">
            <li><a href="#">Consumer price inflation detailed briefing note : Mar 2017</a></li>
            <li><a href="#">Consumer Price Indices - A brief guide</a></li>
            <li><a href="#">Consumer Price Inflation Quality and Methodology Information</a></li>
          </ul>
        </div>
        </div>

      </div>

    </div>
  </div>
</main>
