---
layout: basic
type: "Status: prototype"
title: "Visual migration"
intro-content: What's been done so far?
---

<main id="main" role="main" tabindex="-1">

  <div class="basic page-intro background--gallery padding-top--1 padding-bottom--4 ">
    <div class="wrapper">
      <div class="col-wrap">
        <div class="col">
          {% include page-intro.html %}
        </div>
      </div>
    </div>
  </div>

  <div class="basic wrapper padding-top--4 padding-bottom--8">
    <div class="col-wrap">
      <div class="col">
        <div class="col col--md-36 col--lg-36">
          <h2>User need</h2>
          
          </ul>
        </div>
      </div>
    </div>
  </div>

</main>

{% include footer-basic.html %}
