---
layout: prototype
type:
title: "Southampton"
breadcrumbs:
  - label: Home
    link: #
  - label: Geography
    link: ../../index.html
  - label: Unitary Authority
    link: ../index.html
---

<main id="main" role="main" tabindex="-1">

  <div class="page-intro background--gallery">
    <div class="wrapper">
      <div class="col-wrap">
        <div class="col">

          {% include breadcrumbs-v2.html %}

          {% include page-intro-v2.html %}

        </div>
      </div>
    </div>
  </div>

  <div class="wrapper margin-top--3 margin-bottom--2">
    <div class="col-wrap">
        <div class="col col--full col--full">

          <img src="southampton.png" style="width:100%"/>

          <a href = "../" > Unitary Authority </a> part of <a href = 'http://statistics.data.gov.uk/resource?uri=http%3A%2F%2Fstatistics.data.gov.uk%2Fid%2Fstatistical-geography%2FE12000008' > South West (Region) </a>
        </div>
    </div>

    <h2>Areas within Southampton:</h2>
    <div>
        <h3>Electoral Wards/Divisions
          <span style="font-size: 0.8em">(<a href="http://statistics.data.gov.uk/area_collection?in_collection=http%3A%2F%2Fstatistics.data.gov.uk%2Fdef%2Fgeography%2Fcollection%2FE05&amp;within_area=http%3A%2F%2Fstatistics.data.gov.uk%2Fid%2Fstatistical-geography%2FE06000045">16 total</a>)</span>
        </h3>
      <ul>
        <li class="nav-secondary__item">
          <a href="http://statistics.data.gov.uk/id/statistical-geography/E05002455">Bargate</a>
        </li>
        <li class="nav-secondary__item">
          <a href="http://statistics.data.gov.uk/id/statistical-geography/E05002456">Bassett</a>
        </li>
        <li class="nav-secondary__item">
          <a href="http://statistics.data.gov.uk/id/statistical-geography/E05002457">Bevois</a>
        </li>
        <li class="nav-secondary__item">
          <a href="http://statistics.data.gov.uk/id/statistical-geography/E05002458">Bitterne</a>
        </li>
        <li class="nav-secondary__item">
          <a href="http://statistics.data.gov.uk/id/statistical-geography/E05002459">Bitterne Park</a>
        </li>
        <li class="nav-secondary__item">
          <a href="http://statistics.data.gov.uk/id/statistical-geography/E05002460">Coxford</a>
        </li>
        <li class="nav-secondary__item">
          <a href="http://statistics.data.gov.uk/id/statistical-geography/E05002461">Freemantle</a>
        </li>
        <li class="nav-secondary__item">
          <a href="http://statistics.data.gov.uk/id/statistical-geography/E05002462">Harefield</a>
        </li>
        <li class="nav-secondary__item">
          <a href="http://statistics.data.gov.uk/id/statistical-geography/E05002463">Millbrook</a>
        </li>
        <li class="nav-secondary__item">
          <a href="http://statistics.data.gov.uk/id/statistical-geography/E05002464">Peartree</a>
        </li>
        <li class="nav-secondary__item">
          <a href="http://statistics.data.gov.uk/id/statistical-geography/E05002465">Portswood</a>
        </li>
        <li class="nav-secondary__item">
          <a href="http://statistics.data.gov.uk/id/statistical-geography/E05002466">Redbridge</a>
        </li>
        <li class="nav-secondary__item">
          <a href="http://statistics.data.gov.uk/id/statistical-geography/E05002467">Shirley</a>
        </li>
        <li class="nav-secondary__item">
          <a href="http://statistics.data.gov.uk/id/statistical-geography/E05002468">Sholing</a>
        </li>
        <li class="nav-secondary__item">
          <a href="http://statistics.data.gov.uk/id/statistical-geography/E05002469">Swaythling</a>
        </li>
        <li class="nav-secondary__item">
          <a href="http://statistics.data.gov.uk/id/statistical-geography/E05002470">Woolston</a>
        </li>
      </ul>
    </div>
    <div>
          <h3>Census Merged Wards
            <span style="font-size: 0.8em">(<a href="http://statistics.data.gov.uk/area_collection?in_collection=http%3A%2F%2Fstatistics.data.gov.uk%2Fdef%2Fgeography%2Fcollection%2FE36&amp;within_area=http%3A%2F%2Fstatistics.data.gov.uk%2Fid%2Fstatistical-geography%2FE06000045">16 total</a>)</span>
          </h3>
      <ul>
        <li class="nav-secondary__item">
          <a href="http://statistics.data.gov.uk/id/statistical-geography/E36001008">Bargate</a>
        </li>
        <li class="nav-secondary__item">
          <a href="http://statistics.data.gov.uk/id/statistical-geography/E36001009">Bassett</a>
        </li>
        <li class="nav-secondary__item">
          <a href="http://statistics.data.gov.uk/id/statistical-geography/E36001010">Bevois</a>
        </li>
        <li class="nav-secondary__item">
          <a href="http://statistics.data.gov.uk/id/statistical-geography/E36001011">Bitterne</a>
        </li>
        <li class="nav-secondary__item">
          <a href="http://statistics.data.gov.uk/id/statistical-geography/E36001012">Bitterne Park</a>
        </li>
        <li class="nav-secondary__item">
          <a href="http://statistics.data.gov.uk/id/statistical-geography/E36001013">Coxford</a>
        </li>
        <li class="nav-secondary__item">
          <a href="http://statistics.data.gov.uk/id/statistical-geography/E36001014">Freemantle</a>
        </li>
        <li class="nav-secondary__item">
          <a href="http://statistics.data.gov.uk/id/statistical-geography/E36001015">Harefield</a>
        </li>
        <li class="nav-secondary__item">
          <a href="http://statistics.data.gov.uk/id/statistical-geography/E36001016">Millbrook</a>
        </li>
        <li class="nav-secondary__item">
          <a href="http://statistics.data.gov.uk/id/statistical-geography/E36001017">Peartree</a>
        </li>
        <li class="nav-secondary__item">
          <a href="http://statistics.data.gov.uk/id/statistical-geography/E36001018">Portswood</a>
        </li>
        <li class="nav-secondary__item">
          <a href="http://statistics.data.gov.uk/id/statistical-geography/E36001019">Redbridge</a>
        </li>
        <li class="nav-secondary__item">
          <a href="http://statistics.data.gov.uk/id/statistical-geography/E36001020">Shirley</a>
        </li>
        <li class="nav-secondary__item">
          <a href="http://statistics.data.gov.uk/id/statistical-geography/E36001021">Sholing</a>
        </li>
        <li class="nav-secondary__item">
          <a href="http://statistics.data.gov.uk/id/statistical-geography/E36001022">Swaythling</a>
        </li>
        <li class="nav-secondary__item">
          <a href="http://statistics.data.gov.uk/id/statistical-geography/E36001023">Woolston</a>
        </li>
      </ul>
    </div>
    <div>
      <h3>Workplace Zones
        <span style="font-size: 0.8em">(<a href="http://statistics.data.gov.uk/area_collection?in_collection=http%3A%2F%2Fstatistics.data.gov.uk%2Fdef%2Fgeography%2Fcollection%2FE33&amp;within_area=http%3A%2F%2Fstatistics.data.gov.uk%2Fid%2Fstatistical-geography%2FE06000045">199 total</a>)</span>
      </h3>
    </div>
    <div>
        <h3>
          Output Areas
          <span style="font-size: 0.8em">(<a href="http://statistics.data.gov.uk/area_collection?in_collection=http%3A%2F%2Fstatistics.data.gov.uk%2Fdef%2Fgeography%2Fcollection%2FE00&amp;within_area=http%3A%2F%2Fstatistics.data.gov.uk%2Fid%2Fstatistical-geography%2FE06000045">766 total</a>)</span>
        </h3>
    </div>
    <h2>Get data</h2>
    <ul class="area-list--comma-separated">
      <li><a href="#">Economic output and productivity</a></li>
      <li><a href="#">Construction industry</a></li>
      <li><a href="/dp-design-manual/sprint/7/geography/search-results-southampton">Crime and justice</a></li>
      <li><a href="#">National accounts</a></li>
    </ul>
  </div>
    <div class="page-intro background--gallery">
      <div class="wrapper">
        <div class="col-wrap">

      <div class="col col--md-half col--lg-half margin-top-md--1">
        <div>
          <h3>Datasets that contain Southampton</h3>
          <div>
            <ul class="list--neutral">
              <li>
                <a href="#">
                  Crime in England and Wales - bulletin tables
                </a>
              </li>
              <li>
                <a href="#">
                  Mid year population estimates for the UK, England and Wales and Unitary Autorities
                </a>
              </li>
              <li>
                <a href="#">
                  S01: Regional labour market summary
                </a>
              </li>
              <li>
                <a href="#">
                  Regional Claimant count SA: South West
                </a>
              </li>
              <li>
                <a href="#">
                  Index of private housing rental prices
                </a>
              </li>


            </ul>
            <button class="btn btn--primary btn--full-width">View more datasets</button>
          </div>
        </div>
      </div>
      <div class="col col--md-half col--lg-half margin-top-md--1">
        <section>
          <div class="wrapper">
          <h3 >Key figures for Southampton</h3>
          <ul class = "list--neutral margin-top--half">

            <li class="col-wrap background--white padding-top--1 padding-bottom--1 padding-left--1 flush-col" style="position: relative;">

                <div class="box__content">
                  <h4>
                    <a href="#">Population of Southampton<span class="box__clickable"></span>
                    </a>
                  </h4>
                  <span class="tiles__figure tiles__figure--list">245,000</span>
                  <span class="tiles__unit tiles__unit--list">
                    </span>
                  <span class="stat__description">
                    Mid-2016
                  </span>
                </div>

              </li>
              <li class="col-wrap background--white padding-top--1 padding-bottom--1 padding-left--1 flush-col" style="position: relative;">

                  <div class="box__content">
                    <h4>
                      <a href="#">Birth rate<span class="box__clickable"></span>
                      </a>
                    </h4>
                    <span class="tiles__figure tiles__figure--list">2.7</span>
                    <span class="tiles__unit tiles__unit--list">
                      %</span>
                    <span class="stat__description">
                      2017 AUG
                    </span>
                  </div>

                </li>
                <li class="col-wrap background--white padding-top--1 padding-bottom--1 padding-left--1 flush-col" style="position: relative;">

                    <div class="box__content">
                      <h4>
                        <a href="#">Employment<span class="box__clickable"></span>
                        </a>
                      </h4>
                      <span class="tiles__figure tiles__figure--list">2.7</span>
                      <span class="tiles__unit tiles__unit--list">
                        %</span>
                      <span class="stat__description">
                        2017 AUG
                      </span>
                    </div>

                  </li>
          <ul>
          </div>
          </section>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div class="col-wrap">
      <div class="col col--full col--full">
        <h2>
          Geo data
        </h2>
      </div>
      <div class="col col--md-half col--lg-half">
        <h3>Geospatial info on this area</h3>
        <p>Area code: E06000045<br>
        Within: <a href="#">E12000008</a><br>
        Rural-Urban Class name: Urban with City and Town</p>
    </div>
      <div class="col col--md-half col--lg-half">
        <h3>Download boundary data</h3>
        <p>
          <a href = "http://statistics.data.gov.uk/boundaries/E06000045.json"><button class="btn btn--secondary">GEOJSON</button><a/>
        </p>
      </div>

    </div>

  </div>


</main>
