---
layout: prototype
type: "Article"
title: "UK consumer price inflation: Mar 2017"
intro-content: "Price indices, percentage changes and weights for the different measures of consumer price inflation."
contact-name: Karen Thomas
contact-email: email@ons.gsi.gov.uk
contact-tel: +44 (0)1234 567890
release-date: 4 October 2016
next-release: 16 May 2017
breadcrumbs:
- label: Home
  link: #
- label: Economy
  link: #
- label: Inflation and price indices
  link: #
---

<main id="main" role="main" tabindex="-1">
  <div class="page-intro background--gallery">
    <div class="wrapper">
      <div class="col-wrap">
        <div class="col">

          {% include breadcrumbs-v2.html %}

          {% include page-intro-v2.html %}

        </div>
      </div>
    </div>

    <!-- Alert is hidden as this is a one-off release -->
    <!-- {% include alerts/alert.html %} -->

    {% include meta-v2.html %}

  </div>
  <div class="page-content padding-top--1">
    <div class="wrapper">

      <!-- Hide page contents because there is only one section  -->
      <!-- {% include table-of-contents.html %} -->

      <!-- Hide the view all data button from the top of mobile -->
      <!-- <div class="hide--md margin-top-sm--1">
        {% include view-all-data.html %}
      </div> -->

      <article class="col col--md-36 col--lg-39 margin-bottom--5">

          <div id="section-1" class="text">
          <section>
            <header>
              <h2>Things you need to know</h2>
            </header>
            <p>Consumer price inflation is the rate at which the prices of goods and services bought by households rise or fall. It is estimated by using price indices. One way to understand this is to think of a shopping basket containing all the goods and services bought by households. Movements in price indices represent the changing cost of this basket. Consumer price indices – a brief guide gives an overview of the indices and their uses.</p>
            <p>The most common approach to measuring inflation is the 12-month inflation rate, which compares prices for the latest month with the same month a year ago. In any given month, the 12-month rate is determined by the balance between upward and downward price movements of the range of goods and services included in the index.</p>
            <p>This release also examines how the various types of goods and services contribute to the change in the 12-month inflation rate between the latest two months. The size and direction of these contributions depends on how prices changed between both the latest two months this year and the same two months last year. For example, the price of a product could make an upward contribution to the change in the rate even if it fell, provided that it fell by less than it did between the same two months a year ago. Explaining the contribution to change in the 12-month rate covers this concept in more detail.</p>

          </section>
        </div>

      </article>

      <div class="col-wrap">
        <div class="col col--md-one-third col--lg-one-third">

          {% include tile-contact-details-v2.html %}

        </div>
      </div>

      <div class="col-wrap margin-bottom--8">
        <div class="col col--md-one-third col--lg-one-third">

          <div class="tiles__item tiles__item--nav-type flush-col">
            <h3 class="tiles__title-h3 background--gallery">
              Related
            </h3>
          <div class="tiles__content padding-bottom--1 background--gallery">
            <ul class="list--neutral">
              <li><a href="#">View all related datasets</a></li>
              <li><a href="#">Consumer price inflation detailed briefing note : Mar 2017</a></li>
              <li><a href="#">Consumer Price Indices - A brief guide</a></li>
              <li><a href="#">Consumer Price Inflation Quality and Methodology Information</a></li>
            </ul>
          </div>
          </div>

        </div>
      </div>


    </div>
  </div>
</main>
