---
layout: basic
---

<div class="page-intro background--gallery">
	<div class="wrapper">
		<div class="col-wrap">
			<div class="col">
				<div class="col col--md-47 col--lg-48">
					<h1 class="page-intro__title">
						Templates
					</h1>
					<p class="page-intro__content">
						Coming soon: a list of templates, including links to live examples and latest work in progress.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div>
	<div class="wrapper">
		<div class="col-wrap">
			<div class="col">
				<div class="col col--md-47 col--lg-48">
						<ul>
							<li>Home</li>
							<li>Landing page</li>
							<li>Product page</li>
							<li>Bulletin</li>
							<li>Article</li>
							<li>Dataset</li>
							<li>Time series</li>
							<li>Versions page</li>
							<li>Release calendar</li>
							<li>Search results</li>
							<li>List page</li>
							<li>Compendium</li>
						</ul>
				</div>
			</div>
		</div>
	</div>
</div>
