---
layout: basic
title: ONS website
intro-content: A list of main page templates from the ONS website.
---

<div class="basic page-intro background--gallery padding-top--1 padding-bottom--4 ">
  <div class="wrapper">
    <div class="col-wrap">
      <div class="col">
        {% include page-intro.html %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="basic wrapper margin-top--6 margin-bottom--8">
  <div class="col-wrap">
    <div class="col">
      <div class="col col--md-36 col--lg-36">
				<ul>
					<li>Home</li>
					<li><a href="landing">Landing</a></li>
					<li><a href="product">Product</a></li>
					<li><a href="bulletin">Bulletin</a></li>
					<li>Article</li>
					<li>Dataset</li>
					<li>Time series</li>
					<li>Versions page</li>
					<li>Release calendar</li>
          <li><a href="release">Release page</a></li>
					<li>Search results</li>
					<li>List page</li>
					<li>Compendium</li>
				</ul>
			</div>
    </div>
  </div>
</div>
