---
layout: prototype
type: Release
title: "UK economic statistics sector classification update and forward work plan: June 2017"
contact-name: James Thomas
contact-email: email@ons.gsi.gov.uk
release-date: 29 June 2017
next-release: 31 July 2017
national-statistic: false
---

<main id="main" role="main" tabindex="-1">

  <div class="page-intro background--gallery">
    <div class="wrapper">
      <div class="col-wrap">
        <div class="col padding-bottom--3">

          {% include breadcrumbs.html %}

          {% include page-intro.html %}

        </div>
      </div>
    </div>
    {% include meta.html %}
  </div>

  <div class="page-content border-top--iron-sm border-top--iron-md">
    <div class="page-content">
      <div class="wrapper">
        <div class="col-wrap">
          <div class="col">
            <p>Classification of units, transactions and assets for the purposes of economic statistics. Also provides the forward workplan giving an overview of cases expected to be classified over the next 12 months.</p>
          </div>
        </div>
        <div class="col-wrap">
          <h2 class="col">Publications</h2>
        </div>
        <div class="col-wrap">
          <ul class="tiles__list col col--lg-40">
            <li class="tiles__item--list-type-simple">
              <h3 class="tiles__title-h3">
                <a href="#">Economic statistics sector classification - classification update and forward work plan: June 2017</a>
              </h3>
              <p class="tiles__content">
                Classification of units, transactions and assets for the purposes of economic statistics.
              </p>
            </li>
          </ul>
        </div>
        <div class="col-wrap">
          <h2 class="col">Data</h2>
        </div>
        <div class="col-wrap">
          <ul class="tiles__list col col--lg-40 margin-bottom--double">
            <li class="tiles__item--list-type-simple">
              <h3 class="tiles__title-h3">
                <a href="#">Public sector classification guide</a>
              </h3>
              <p class="tiles__content">
                Lists current and former public sector bodies – updated to incorporate classification decisions made.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</main>
