---
layout: basic
type: "Status: prototype"
title: "Visual articles"
intro-content: Prototyping 3 visual articles ready for user research
---

<main id="main" role="main" tabindex="-1">

  <div class="basic page-intro background--gallery padding-top--1 padding-bottom--4 ">
    <div class="wrapper">
      <div class="col-wrap">
        <div class="col">
          {% include page-intro.html %}
        </div>
      </div>
    </div>
  </div>

  <div class="basic wrapper padding-top--4 padding-bottom--8">
    <div class="col-wrap">
      <div class="col">
        <div class="col col--md-36 col--lg-36">
          <h2>Prototypes</h2>
          <ul>
            <li><a href="article-1">Article 1</a></li>
          </ul>
          <h2>Notes</h2>
          <ul>
            <li>Pym not working yet</li>
            <li>Download data links must be better</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</main>

{% include footer-basic.html %}
