<table class="table-v2">
  <caption>Table 1: Countries of the UK gross disposable household income (GDHI)<sup>1</sup>, 2015<sup>2</sup></caption>
    <tr>
      <td>&nbsp;</td>
      <th scope="col" class="cell--align-right">GDHI per head</th>
      <th scope="col" class="cell--align-right">GDHI per head growth on 2014</th>
      <th scope="col" class="cell--align-right">GDHI per head index (UK equals 100)</th>
      <th scope="col" class="cell--align-right">Total GDHI (£ million)</th>
      <th scope="col" class="cell--align-right">Total GDHI growth on 2014</th>
      <th scope="col" class="cell--align-right">Share of UK total GDHI</th>
    </tr>
    <tr>
      <th scope="row">United Kingdom</th>
      <td class="cell--align-right">£19,106</td>
      <td class="cell--align-right">2.9%</td>
      <td class="cell--align-right">100.0</td>
      <td class="cell--align-right">1,243,970</td>
      <td class="cell--align-right">3.7%</td>
      <td class="cell--align-right">100.0%</td>
    </tr>
    <tr>
      <th scope="row">England</th>
      <td class="cell--align-right">£19,447</td>
      <td class="cell--align-right">2.9%</td>
      <td class="cell--align-right">101.8</td>
      <td class="cell--align-right">1,065,454</td>
      <td class="cell--align-right">3.8%</td>
      <td class="cell--align-right">85.6%</td>
    </tr>
    <tr>
      <th scope="row">Wales</th>
      <td class="cell--align-right">£16,341</td>
      <td class="cell--align-right">3.3%</td>
      <td class="cell--align-right">85.5</td>
      <td class="cell--align-right">50,642</td>
      <td class="cell--align-right">3.6%</td>
      <td class="cell--align-right">4.1%</td>
    </tr>
    <tr>
      <th scope="row">Scotland</th>
      <td class="cell--align-right">£18,315</td>
      <td class="cell--align-right">2.7%</td>
      <td class="cell--align-right">95.9</td>
      <td class="cell--align-right">98,408</td>
      <td class="cell--align-right">3.2%</td>
      <td class="cell--align-right">7.9%</td>
    </tr>
    <tr>
      <th scope="row">Northern Ireland</th>
      <td class="cell--align-right">£15,913</td>
      <td class="cell--align-right">3.0%</td>
      <td class="cell--align-right">83.3</td>
      <td class="cell--align-right">29,466</td>
      <td class="cell--align-right">3.6%</td>
      <td class="cell--align-right">2.4%</td>
    </tr>
    <tr>
      <td colspan="7">
        Source: Office for National Statistics<br />
        Notes:<br />
        1. Figures may not sum to totals as a result of rounding.<br />
        2. 2015 estimates are provisional.
      </td>
    </tr>
</table>
