<table class="table-v2">
  <caption>Table 1: Countries of the UK gross disposable household income<sup>1</sup>, 2015<sup>2</sup></caption>
    <tr>
      <td>&nbsp;</td>
      <th scope="col">GDHI per head</th>
      <th scope="col">GDHI per head growth on 2014</th>
      <th scope="col">GDHI per head index (UK=100)</th>
      <th scope="col">Total GDHI (£ million)</th>
      <th scope="col">Total GDHI growth on 2014</th>
      <th scope="col">Share of UK total GDHI</th>
    </tr>
    <tr>
      <th scope="row">United Kingdom</th>
      <td class="numeric">£19,106</td>
      <td class="numeric">2.9%</td>
      <td class="numeric">100.0</td>
      <td class="numeric">1,243,970</td>
      <td class="numeric">3.7%</td>
      <td class="numeric">100.0%</td>
    </tr>
    <tr>
      <th scope="row">England</th>
      <td class="numeric">£19,447</td>
      <td class="numeric">2.9%</td>
      <td class="numeric">101.8</td>
      <td class="numeric">1,065,454</td>
      <td class="numeric">3.8%</td>
      <td class="numeric">85.6%</td>
    </tr>
    <tr>
      <th scope="row">Wales</th>
      <td class="numeric">£16,341</td>
      <td class="numeric">3.3%</td>
      <td class="numeric">85.5</td>
      <td class="numeric">50,642</td>
      <td class="numeric">3.6%</td>
      <td class="numeric">4.1%</td>
    </tr>
    <tr>
      <th scope="row">Scotland</th>
      <td class="numeric">£18,315</td>
      <td class="numeric">2.7%</td>
      <td class="numeric">95.9</td>
      <td class="numeric">98,408</td>
      <td class="numeric">3.2%</td>
      <td class="numeric">7.9%</td>
    </tr>
    <tr>
      <th scope="row">Northern Ireland</th>
      <td class="numeric">£15,913</td>
      <td class="numeric">3.0%</td>
      <td class="numeric">83.3</td>
      <td class="numeric">29,466</td>
      <td class="numeric">3.6%</td>
      <td class="numeric">2.4%</td>
    </tr>
    <tr>
      <td colspan="7">
        Source: Office for National Statistics<br />
        Notes:<br />
        1. Figures may not sum to totals as a result of rounding.<br />
        2. 2015 estimates are provisional.
      </td>
    </tr>
</table>
