<!-- https://www.ons.gov.uk/economy/regionalaccounts/grossdisposablehouseholdincome/bulletins/regionalgrossdisposablehouseholdincomegdhi/2015 -->
<div class="markdown-table-container print--avoid-break">
  <h4>Table 1: Countries of the UK gross disposable household income<sup>1</sup>, 2015<sup>2</sup></h4>

  <!-- <div class="markdown-table-wrap"> -->

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style type="text/css">
    .b1 {
      white-space-collapsing: preserve;
    }
    .t1 {
      border-collapse: collapse;
      border-spacing: 0;
    }
    .r-7b608428-5ea9-4753-b62c-da626c557416-1 {
      height: 47.25pt;
    }
    .r-7b608428-5ea9-4753-b62c-da626c557416-2 {
      height: 13.5pt;
    }
    .r-7b608428-5ea9-4753-b62c-da626c557416-3 {
      height: 15.0pt;
    }
    .r-7b608428-5ea9-4753-b62c-da626c557416-4 {
      height: 12.75pt;
    }
    </style>

    <meta content="Ian Cullen" name="author">

    <table class="t1">
      <colgroup>
        <col>
        <col>
        <col>
        <col>
        <col>
        <col>
        <col>
        <col>
        <col>
        <col>
      </colgroup>
      <tbody>
        <tr class="r-7b608428-5ea9-4753-b62c-da626c557416-1">
          <td style="white-space:pre-wrap;text-align:left;border-top:thin solid black;border-bottom:thin solid black;">&nbsp;</td>
          <th scope="row" style="white-space:pre-wrap;text-align:right;border-top:thin solid black;border-bottom:thin solid black;">GDHI per head (£)</th>
          <th scope="row" style="white-space:pre-wrap;text-align:right;border-top:thin solid black;border-bottom:thin solid black;">GDHI per head growth on 2014<sup></sup>(percentage)</th>
          <th scope="row" style="white-space:pre-wrap;text-align:right;border-top:thin solid black;border-bottom:thin solid black;">GDHI per head index (UK=100)</th>
          <th scope="row" style="white-space:pre-wrap;text-align:right;border-top:thin solid black;border-bottom:thin solid black;">Total GDHI (£ million)</th>
          <th scope="row" style="white-space:pre-wrap;text-align:right;border-top:thin solid black;border-bottom:thin solid black;">Total GDHI growth on 2014 (percentage)</th>
          <th scope="row" style="white-space:pre-wrap;text-align:right;border-top:thin solid black;border-bottom:thin solid black;">Share of UK total GDHI (percentage)</th>
          <td style="white-space:pre-wrap;">&nbsp;</td>
        </tr>
        <tr class="r-7b608428-5ea9-4753-b62c-da626c557416-2">
          <td style="white-space:pre-wrap;text-align:left;border-top:thin solid black;">United Kingdom</td>
          <td style="white-space:pre-wrap;text-align:right;border-top:thin solid black;">19,106</td>
          <td style="white-space:pre-wrap;text-align:right;border-top:thin solid black;">2.9</td>
          <td style="white-space:pre-wrap;text-align:right;border-top:thin solid black;">100.0</td>
          <td style="white-space:pre-wrap;text-align:right;border-top:thin solid black;">1,243,970</td>
          <td style="white-space:pre-wrap;text-align:right;border-top:thin solid black;">3.7</td>
          <td style="white-space:pre-wrap;text-align:right;border-top:thin solid black;">100.0</td>
          <td style="white-space:pre-wrap;">&nbsp;</td>
          <td style="white-space:pre-wrap;">&nbsp;</td>
          <td style="white-space:pre-wrap;">&nbsp;</td>
        </tr>
        <tr class="r-7b608428-5ea9-4753-b62c-da626c557416-2">
          <td style="white-space:pre-wrap;text-align:left;">England</td>
          <td style="white-space:pre-wrap;text-align:right;">19,447</td>
          <td style="white-space:pre-wrap;text-align:right;">2.9</td>
          <td style="white-space:pre-wrap;text-align:right;">101.8</td>
          <td style="white-space:pre-wrap;text-align:right;">1,065,454</td>
          <td style="white-space:pre-wrap;text-align:right;">3.8</td>
          <td style="white-space:pre-wrap;text-align:right;">85.6</td>
          <td style="white-space:pre-wrap;">&nbsp;</td>
          <td style="white-space:pre-wrap;">&nbsp;</td>
          <td style="white-space:pre-wrap;">&nbsp;</td>
        </tr>
        <tr class="r-7b608428-5ea9-4753-b62c-da626c557416-2">
          <td style="white-space:pre-wrap;text-align:left;">Wales</td>
          <td style="white-space:pre-wrap;text-align:right;">16,341</td>
          <td style="white-space:pre-wrap;text-align:right;">3.3</td>
          <td style="white-space:pre-wrap;text-align:right;">85.5</td>
          <td style="white-space:pre-wrap;text-align:right;">50,642</td>
          <td style="white-space:pre-wrap;text-align:right;">3.6</td>
          <td style="white-space:pre-wrap;text-align:right;">4.1</td>
          <td style="white-space:pre-wrap;">&nbsp;</td>
          <td style="white-space:pre-wrap;">&nbsp;</td>
          <td style="white-space:pre-wrap;">&nbsp;</td>
        </tr>
        <tr class="r-7b608428-5ea9-4753-b62c-da626c557416-2">
          <td style="white-space:pre-wrap;text-align:left;">Scotland</td>
          <td style="white-space:pre-wrap;text-align:right;">18,315</td>
          <td style="white-space:pre-wrap;text-align:right;">2.7</td>
          <td style="white-space:pre-wrap;text-align:right;">95.9</td>
          <td style="white-space:pre-wrap;text-align:right;">98,408</td>
          <td style="white-space:pre-wrap;text-align:right;">3.2</td>
          <td style="white-space:pre-wrap;text-align:right;">7.9</td>
          <td style="white-space:pre-wrap;">&nbsp;</td>
          <td style="white-space:pre-wrap;">&nbsp;</td>
          <td style="white-space:pre-wrap;">&nbsp;</td>
        </tr>
        <tr class="r-7b608428-5ea9-4753-b62c-da626c557416-2">
          <td style="white-space:pre-wrap;text-align:left;border-bottom:thin solid black;">Northern Ireland</td>
          <td style="white-space:pre-wrap;text-align:right;border-bottom:thin solid black;">15,913</td>
          <td style="white-space:pre-wrap;text-align:right;border-bottom:thin solid black;">3.0</td>
          <td style="white-space:pre-wrap;text-align:right;border-bottom:thin solid black;">83.3</td>
          <td style="white-space:pre-wrap;text-align:right;border-bottom:thin solid black;">29,466</td>
          <td style="white-space:pre-wrap;text-align:right;border-bottom:thin solid black;">3.6</td>
          <td style="white-space:pre-wrap;text-align:right;border-bottom:thin solid black;">2.4</td>
          <td style="white-space:pre-wrap;">&nbsp;</td>
          <td style="white-space:pre-wrap;">&nbsp;</td>
          <td style="white-space:pre-wrap;">&nbsp;</td>
        </tr>
        <tr class="r-7b608428-5ea9-4753-b62c-da626c557416-2">
          <td colspan="7" style="white-space:pre-wrap;text-align:left;border-top:thin solid black;">Source: Office for National Statistics</td>
          <td style="white-space:pre-wrap;">&nbsp;</td>
          <td style="white-space:pre-wrap;">&nbsp;</td>
          <td style="white-space:pre-wrap;">&nbsp;</td>
        </tr>
        <tr class="r-7b608428-5ea9-4753-b62c-da626c557416-2">
          <td colspan="7" style="white-space:pre-wrap;text-align:left;">Notes:</td>
          <td style="white-space:pre-wrap;">&nbsp;</td>
          <td style="white-space:pre-wrap;">&nbsp;</td>
          <td style="white-space:pre-wrap;">&nbsp;</td>
        </tr>
        <tr class="r-7b608428-5ea9-4753-b62c-da626c557416-3">
          <td colspan="7" style="white-space:pre-wrap;text-align:left;">1. Figures may not sum to totals as a result of rounding.</td>
          <td style="white-space:pre-wrap;">&nbsp;</td>
        </tr>
        <tr class="r-7b608428-5ea9-4753-b62c-da626c557416-3">
          <td colspan="7" style="white-space:pre-wrap;text-align:left;color: black; ">2. 2015 estimates are provisional. </td>
          <td style="white-space:pre-wrap;">&nbsp;</td>
        </tr>
        <tr class="r-7b608428-5ea9-4753-b62c-da626c557416-4">
          <td></td>
          <td style="white-space:pre-wrap;">&nbsp;</td>
          <td style="white-space:pre-wrap;">&nbsp;</td>
          <td style="white-space:pre-wrap;">&nbsp;</td>
          <td style="white-space:pre-wrap;">&nbsp;</td>
          <td style="white-space:pre-wrap;">&nbsp;</td>
          <td style="white-space:pre-wrap;">&nbsp;</td>
          <td style="white-space:pre-wrap;">&nbsp;</td>
        </tr>
      </tbody>
    </table>

    <!-- <button class="btn btn--mobile-table-hide">Close table</button> -->

  <!-- </div> -->

  <!-- <button class="btn btn--mobile-table-show">View table</button> -->

  <!-- <h5 class="print--hide font-size--h6">Download this table</h5> -->
  <!-- <a href="#" title="Download as xls" class="btn btn--primary print--hide">.xls</a> -->
</div>
