---
layout: basic
title: Experimental banners
intro-content:
---

<main id="main" role="main" tabindex="-1">
  <div class="page-intro background--gallery">
    <div class="wrapper">
      <div class="col-wrap">
        <div class="col">

          {% include page-intro.html %}

        </div>
      </div>
    </div>
  </div>

  <div>
  	<div class="wrapper">
  		<div class="col-wrap">
  			<div class="col">
  				<div class="col col--md-47 col--lg-48 margin-bottom--4">
            <h2>Alert</h2>
  				</div>
  			</div>
  		</div>
  	</div>
  </div>

  {% include alert.html %}

  <div>
  	<div class="wrapper">
  		<div class="col-wrap">
  			<div class="col">
  				<div class="col col--md-47 col--lg-48 margin-bottom--4">
            <h2>Alert (not latest)</h2>
  				</div>
  			</div>
  		</div>
  	</div>
  </div>

  {% include alert-old.html %}

  <div>
  	<div class="wrapper">
  		<div class="col-wrap">
  			<div class="col">
  				<div class="col col--md-47 col--lg-48 margin-bottom--4">
            <p>Add banner options here too</p>
  				</div>
  			</div>
  		</div>
  	</div>
  </div>


</main>
