---
type: "Statistical bulletin"
title: "Experimental: UK business; activity, size and location: 2016"
intro-content: "UK businesses broken down by legal status, industry, region, employment and turnover size bands."
contact-name: Karen Thomas
contact-email: email@ons.gsi.gov.uk
contact-tel: +44 (0)1234 567890
release-date: 4 October 2016
next-release: To be announced
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body style="height: auto;">

    <div class="banner background--carrot">
      <div class="wrapper">
        <p class="banner__content font-size--16">
          <strong class="banner__tag">Experimental</strong> this release is still in development.</p>
      </div>
    </div>

    {% include header.html %}

<main id="main" role="main" tabindex="-1">
  <div class="page-intro background--gallery">
    <div class="wrapper">
      <div class="col-wrap">
        <div class="col">

          {% include breadcrumbs.html %}

          {% include page-intro.html %}

        </div>
      </div>
    </div>

    {% include meta.html %}

  </div>
  <div class="page-content border-top--iron-sm border-top--iron-md">
    <div class="wrapper">

      <div class="hide--md margin-top-sm--1">
        {% include view-all-data.html %}
      </div>

      <article class="col col--md-36 col--lg-39 page-content__main-content margin-bottom--5" style="padding-top: 0px;">

        <div class="section__content--markdown ">
          <section>
            <header>
              <h2><span class="section__content-number">1.</span> Main points</h2>
            </header>
            <p>UK Business: Activity, Size and Location, 2016 is produced from an extract taken from the <a href="#">Inter-Departmental Business Register</a> (IDBR) recording
              the position of units as at 11 March 2016. </p>
            <p>This publication represents the businesses registered with HM Revenue and Customs (HMRC) for VAT and/or Pay As You Earn (PAYE). The Department for Business, Energy and Industrial Strategy (BEIS) produces <a href="#">Business Population Estimates</a>              which seek to provide full coverage of all types of businesses in the UK including an estimate of the unregistered business population. </p>

          </section>
        </div>

      </article>
      <div class="col col--md-11 col--lg-20 margin-top-md--3">

        {% include view-all-data.html %}

        {% include tile-contact-details.html %}

      </div>

    </div>
  </div>
</main>

{% include footer.html %}

</body>

<script type="text/javascript" src="https://cdn.ons.gov.uk/sixteens/1f354a7/js/main.js"></script>

</html>
