---
layout: basic
type: "Status: prototype"
title: "On this page component (on product pages)"
intro-content: The secondary navigation component that allows users to navigate around a product page
---

<main id="main" role="main" tabindex="-1">

  <div class="basic page-intro background--gallery padding-top--1 padding-bottom--4 ">
    <div class="wrapper">
      <div class="col-wrap">
        <div class="col">
          {% include page-intro.html %}
        </div>
      </div>
    </div>
  </div>

  <div class="basic wrapper padding-top--4 padding-bottom--0">
    <div class="col-wrap">
      <div class="col">
        <div class="col col--md-36 col--lg-36">
          <h2>Current</h2>
          <ul>
            <li>Users are confused by combination of page links and anchor links</li>
            <li>User are confused by difference between publication and bulletin</li>
            <li>Users put off by height / think they've reached the end of the page</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="nav-secondary-wrap">
    <div class="wrapper">
      <div class="col-wrap">
        <nav>
          <div class="nav-secondary nav-secondary--border-right-lg col col--lg-half">
            <h2 class="nav-secondary__title">On this page:</h2>
            <ul class="nav-secondary__list">
              <li class="nav-secondary__item"><a href="#timeseries" class="js-scroll">Time series</a></li>
              <li class="nav-secondary__item"><a href="#datasets" class="js-scroll">Dataset</a>
              </li>
              <li class="nav-secondary__item"><a href="#publications" class="js-scroll">Publications</a></li>
              <li class="nav-secondary__item"><a href="#methodology" class="js-scroll">Methodology</a></li>
            </ul>
          </div>
        </nav>
        <nav>
          <div class="nav-secondary col col--lg-half">
            <h2 class="nav-secondary__title">View all content related to this topic:</h2>
            <ul class="nav-secondary__list">
              <li class="nav-secondary__item"><a href="#">All data</a></li>
              <li class="nav-secondary__item"><a href="#">All publications</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>

  <div class="basic wrapper padding-top--4 padding-bottom--0">
    <div class="col-wrap">
      <div class="col">
        <div class="col col--md-36 col--lg-36">
          <h2>Iteration 1</h2>
          <ul>
            <li>Removed borders</li>
            <li>Shortened height</li>
            <li>Made headings visually smaller (but retained semantics)</li>
            <li>Removed colons (:)</li>
            <li>Shortened heading to "related"</li>
            <li>Made pipes (|) light grey</li>
            <li>Gave pipes (|) equal spacing</li>
            <li>Split publications into bulletins and articles</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="nav-secondary-v2">
    <div class="nav-secondary-wrap">
      <div class="wrapper">
        <div class="col-wrap">
          <nav>
            <div class="nav-secondary col col--lg-half">
              <h2 class="nav-secondary__title font-size--h4 padding-bottom--0">On this page</h2>
              <ul class="nav-secondary__list">
                <li class="nav-secondary__item"><a href="#timeseries" class="js-scroll">Time series</a></li>
                <li class="nav-secondary__item"><a href="#datasets" class="js-scroll">Datasets</a></li>
                <li class="nav-secondary__item"><a href="#bulletins" class="js-scroll">Bulletins</a></li>
                <li class="nav-secondary__item"><a href="#articles" class="js-scroll">Articles</a></li>
                <li class="nav-secondary__item"><a href="#methodology" class="js-scroll">Methodology</a></li>
              </ul>
            </div>
          </nav>
          <nav>
            <div class="nav-secondary col col--lg-half">
              <h2 class="nav-secondary__title font-size--h4 padding-bottom--0">Related</h2>
              <ul class="nav-secondary__list">
                <li class="nav-secondary__item"><a href="#">All data</a></li>
                <li class="nav-secondary__item"><a href="#">All publications</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <div class="basic wrapper padding-top--4 padding-bottom--0">
    <div class="col-wrap">
      <div class="col">
        <div class="col col--md-36 col--lg-36">
          <h2>Iteration 2</h2>
          <ul>
            <li>Removed "related" nav, this reduces the slightly ambiguous choice of "do I want a bit of data" or "do I want all related data"</li>
            <li>Now component act consistently like a "page contents"</li>
            <li>"All" is still reachable by scrolling down</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="nav-secondary-v2">
    <div class="nav-secondary-wrap">
      <div class="wrapper">
        <div class="col-wrap">
          <nav>
            <div class="nav-secondary col col--lg-half">
              <h2 class="nav-secondary__title font-size--h4 padding-bottom--0">On this page</h2>
              <ul class="nav-secondary__list">
                <li class="nav-secondary__item"><a href="#timeseries" class="js-scroll">Time series</a></li>
                <li class="nav-secondary__item"><a href="#datasets" class="js-scroll">Datasets</a></li>
                <li class="nav-secondary__item"><a href="#bulletins" class="js-scroll">Bulletins</a></li>
                <li class="nav-secondary__item"><a href="#articles" class="js-scroll">Articles</a></li>
                <li class="nav-secondary__item"><a href="#methodology" class="js-scroll">Methodology</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <div class="basic wrapper padding-top--4 padding-bottom--0">
    <div class="col-wrap">
      <div class="col">
        <div class="col col--md-36 col--lg-36">
          <h2>Iteration 3</h2>
          <ul>
            <li>Use <a href="https://www.gov.uk/education/funding-and-finance-for-students">show/hide component</a> like they are trying on GOV.UK</li>
            <li>Need to make sure editorial control is reviewed regularly</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper">
    <div class="col-wrap">
      <div class="col col--lg-two-thirds margin-bottom--2">
        <p style="text-align:right; text-decoration:underline"><a href="#">Expand all</a></p>

        <div class="js-show-hide show-hide-v2">

          <div class="show-hide show-hide--light border-top--iron border-bottom--iron">
            <div class="js-show-hide__title">
              <h2 class="show-hide__title margin-bottom--0 font-weight--bold">
                Time series
              </h2>
            </div>
            <div class="js-show-hide__content padding-bottom--4">
              <div>
                <h3 class="font-size--h4 margin-bottom--0"><a href="#" class="link--underline font-weight--bold">CPIH: % change over 12 months</a></h3>
                <p class="margin-top--0 margin-bottom--0 padding-top--0 padding-bottom--0"><span class="font-size--h1 font-weight--bold">2.7%</span></p>
                <p class="margin-top--0 padding-top--0">2017 May</p>
              </div>
              <div>
                <h3 class="font-size--h4 margin-bottom--0"><a href="#" class="link--underline font-weight--bold">CPIH All Items Index: 2015=100</a></h3>
                <p class="margin-top--0 margin-bottom--0 padding-top--0 padding-bottom--0"><span class="font-size--h1 font-weight--bold">103.5</span></p>
                <p class="margin-top--0 margin-bottom--0 padding-top--0 padding-bottom--0"><span class="font-weight--bold font-size--h3">Index, base year = 100</span></p>
                <p class="margin-top--0 padding-top--0">2017 May</p>
              </div>
              <a href="#" class="btn btn--primary">View all related time series</a>
            </div>
          </div>

          <div class="show-hide show-hide--light border-bottom--iron">
            <div class="js-show-hide__title">
              <h2 class="show-hide__title margin-bottom--0 font-weight--bold">
                Datasets
              </h2>
            </div>
            <div class="js-show-hide__content padding-bottom--4">
              <div>
                <h3 class="font-size--h4 margin-bottom--0"><a href="#" class="link--underline font-weight--bold">Consumer Price Inflation time series dataset</a></h3>
                <p class="margin-top--0 padding-top--0 font-size--16">Comprehensive database of time series covering measures of inflation data including CPIH, CPI and RPI.</p>
              </div>
              <div>
                <h3 class="font-size--h4 margin-bottom--0"><a href="#" class="link--underline font-weight--bold">Producer Price Index time series dataset</a></h3>
                <p class="margin-top--0 padding-top--0 font-size--16">Producer Price Indices (PPIs) are a series of economic indicators that measure the price movement of goods bought and sold by UK manufacturers.</p>
              </div>
              <div>
                <h3 class="font-size--h4 margin-bottom--0"><a href="#" class="link--underline font-weight--bold">Producer Price Index - Statistical bulletin time series dataset</a></h3>
                <p class="margin-top--0 padding-top--0 font-size--16">A comprehensive selection of data on input and output indices. Contains producer price indices of materials and fuels purchased and output of manufacturing industry by broad sector.</p>
              </div>
              <div>
                <h3 class="font-size--h4 margin-bottom--0"><a href="#" class="link--underline font-weight--bold">User requested data</a></h3>
                <p class="margin-top--0 padding-top--0 font-size--16">We also produce data not included in our standard publications.</p>
              </div>
              <a href="#" class="btn btn--primary">View all related datasets</a>
            </div>
          </div>

          <div class="show-hide show-hide--light border-bottom--iron">
            <div class="js-show-hide__title">
              <h2 class="show-hide__title margin-bottom--0 font-weight--bold">
                Statistical bulletins
              </h2>
            </div>
            <div class="js-show-hide__content padding-bottom--4">
              <div>
                <h3 class="font-size--h4 margin-bottom--0"><a href="#" class="link--underline font-weight--bold">UK consumer price inflation: June 2017</a></h3>
                <p class="margin-top--0 padding-top--0 font-size--16">Price indices, percentage changes and weights for the different measures of consumer price inflation.</p>
              </div>
              <div>
                <h3 class="font-size--h4 margin-bottom--0"><a href="#" class="link--underline font-weight--bold">UK producer price inflation: June 2017</a></h3>
                <p class="margin-top--0 padding-top--0 font-size--16">Changes in the prices of goods bought and sold by UK manufacturers including price indices of materials and fuels purchased (input prices) and factory gate prices (output prices).</p>
              </div>
              <div>
                <h3 class="font-size--h4 margin-bottom--0"><a href="#" class="link--underline font-weight--bold">House Price Index, UK: May 2017</a></h3>
                <p class="margin-top--0 padding-top--0 font-size--16">Monthly house price inflation, calculated using data from Land Registry, Registers of Scotland and Land and Property Services Northern Ireland.</p>
              </div>
              <a href="#" class="btn btn--primary">View all related statistical bulletins</a>
            </div>
          </div>

          <div class="show-hide show-hide--light border-bottom--iron">
            <div class="js-show-hide__title">
              <h2 class="show-hide__title margin-bottom--0 font-weight--bold">
                Articles
              </h2>
            </div>
            <div class="js-show-hide__content padding-bottom--4">
              <div>
                <h3 class="font-size--h4 margin-bottom--0"><a href="#" class="link--underline font-weight--bold">Consumer price inflation basket of goods and services: 2017</a></h3>
                <p class="margin-top--0 padding-top--0 font-size--16">The review process for the items making up the inflation basket used to calculate the UK consumer price inflation indices and how and why the various items in the basket are chosen.</p>
              </div>
              <div>
                <h3 class="font-size--h4 margin-bottom--0"><a href="#" class="link--underline font-weight--bold">Revisions policy for consumer price inflation statistics</a></h3>
                <p class="margin-top--0 padding-top--0 font-size--16">This article details the revisions policies for CPIH, CPI and RPI.</p>
              </div>
              <div>
                <h3 class="font-size--h4 margin-bottom--0"><a href="#" class="link--underline font-weight--bold">Consumer price inflation, updating weights: 2017</a></h3>
                <p class="margin-top--0 padding-top--0 font-size--16">An overview of the latest annual update of CPIH weights, used in the inflation basket to calculate the UK consumer price inflation indices.</p>
              </div>
              <a href="#" class="btn btn--primary">View all related articles</a>
            </div>
          </div>

          <div class="show-hide show-hide--light border-bottom--iron">
            <div class="js-show-hide__title">
              <h2 class="show-hide__title margin-bottom--0 font-weight--bold">
                Methodology
              </h2>
            </div>
            <div class="js-show-hide__content padding-bottom--4">
              <div>
                <h3 class="font-size--h4 "><a href="#" class="link--underline font-weight--bold">Consumer Price Inflation (includes all 3 indices – CPIH, CPI and RPI)</a></h3>
              </div>
              <div>
                <h3 class="font-size--h4 margin-bottom--4"><a href="#" class="link--underline font-weight--bold">UK House Price Index (HPI) QMI</a></h3>
              </div>
              <a href="#" class="btn btn--primary">View all related methodology</a>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>


  <div class="basic wrapper padding-top--4 padding-bottom--0">
    <div class="col-wrap">
      <div class="col">
        <div class="col col--md-36 col--lg-36">
          &nbsp;
        </div>
      </div>
    </div>
  </div>

</main>

{% include footer-basic.html %}
