---
layout: prototype
title: Inflation and price indices
intro-content: How we measure price increases for good and services. Measures include; consumer price inflation (CPI), producer price inflation (PPI) and the house price index.
breadcrumbs:
- label: Home
  link: #
- label: Economy
  link: #
---

<main id="main" role="main" tabindex="-1">
  <div class="page-intro background--gallery">
    <div class="wrapper">
      <div class="col-wrap">
        <div class="col margin-bottom--2">

          {% include breadcrumbs-v2.html %}

          {% include page-intro-v2.html %}

        </div>
      </div>
    </div>

  </div>

  <div class="page-content">

  <div class="padding-bottom-sm--2 padding-bottom-md--4">
    <section>
      <div class="wrapper padding-top--4">
        <div class="col-wrap">
          <div class="col col--lg-two-thirds margin-bottom--2">
            <div class="js-show-hide show-hide-v2">

              <div class="show-hide show-hide--light border-top--iron border-bottom--iron">
                <div class="js-show-hide__title">
                  <h2 class="show-hide__title margin-bottom--0 font-weight--bold">
                    Time series
                  </h2>
                </div>
                <div class="js-show-hide__content padding-bottom--4">
                  <div>
                    <h3 class="font-size--h4 margin-bottom--0"><a href="#" class="link--underline font-weight--bold">CPIH: % change over 12 months</a></h3>
                    <p class="margin-top--0 margin-bottom--0 padding-top--0 padding-bottom--0"><span class="font-size--h1 font-weight--bold">2.7%</span></p>
                    <p class="margin-top--0 padding-top--0">2017 May</p>
                  </div>
                  <div>
                    <h3 class="font-size--h4 margin-bottom--0"><a href="#" class="link--underline font-weight--bold">CPIH All Items Index: 2015=100</a></h3>
                    <p class="margin-top--0 margin-bottom--0 padding-top--0 padding-bottom--0"><span class="font-size--h1 font-weight--bold">103.5</span></p>
                    <p class="margin-top--0 margin-bottom--0 padding-top--0 padding-bottom--0"><span class="font-weight--bold font-size--h3">Index, base year = 100</span></p>
                    <p class="margin-top--0 padding-top--0">2017 May</p>
                  </div>
                  <a href="#" class="btn btn--primary">View all related time series</a>
                </div>
              </div>

              <div class="show-hide show-hide--light border-bottom--iron">
                <div class="js-show-hide__title">
                  <h2 class="show-hide__title margin-bottom--0 font-weight--bold">
                    Datasets
                  </h2>
                </div>
                <div class="js-show-hide__content padding-bottom--4">
                  <div>
                    <h3 class="font-size--h4 margin-bottom--0"><a href="#" class="link--underline font-weight--bold">Consumer Price Inflation time series dataset</a></h3>
                    <p class="margin-top--0 padding-top--0 font-size--16">Comprehensive database of time series covering measures of inflation data including CPIH, CPI and RPI.</p>
                  </div>
                  <div>
                    <h3 class="font-size--h4 margin-bottom--0"><a href="#" class="link--underline font-weight--bold">Producer Price Index time series dataset</a></h3>
                    <p class="margin-top--0 padding-top--0 font-size--16">Producer Price Indices (PPIs) are a series of economic indicators that measure the price movement of goods bought and sold by UK manufacturers.</p>
                  </div>
                  <div>
                    <h3 class="font-size--h4 margin-bottom--0"><a href="#" class="link--underline font-weight--bold">Producer Price Index - Statistical bulletin time series dataset</a></h3>
                    <p class="margin-top--0 padding-top--0 font-size--16">A comprehensive selection of data on input and output indices. Contains producer price indices of materials and fuels purchased and output of manufacturing industry by broad sector.</p>
                  </div>
                  <div>
                    <h3 class="font-size--h4 margin-bottom--0"><a href="#" class="link--underline font-weight--bold">User requested data</a></h3>
                    <p class="margin-top--0 padding-top--0 font-size--16">We also produce data not included in our standard publications.</p>
                  </div>
                  <a href="#" class="btn btn--primary">View all related datasets</a>
                </div>
              </div>

              <div class="show-hide show-hide--light border-bottom--iron">
                <div class="js-show-hide__title">
                  <h2 class="show-hide__title margin-bottom--0 font-weight--bold">
                    Statistical bulletins
                  </h2>
                </div>
                <div class="js-show-hide__content padding-bottom--4">
                  <div>
                    <h3 class="font-size--h4 margin-bottom--0"><a href="#" class="link--underline font-weight--bold">UK consumer price inflation: June 2017</a></h3>
                    <p class="margin-top--0 padding-top--0 font-size--16">Price indices, percentage changes and weights for the different measures of consumer price inflation.</p>
                  </div>
                  <div>
                    <h3 class="font-size--h4 margin-bottom--0"><a href="#" class="link--underline font-weight--bold">UK producer price inflation: June 2017</a></h3>
                    <p class="margin-top--0 padding-top--0 font-size--16">Changes in the prices of goods bought and sold by UK manufacturers including price indices of materials and fuels purchased (input prices) and factory gate prices (output prices).</p>
                  </div>
                  <div>
                    <h3 class="font-size--h4 margin-bottom--0"><a href="#" class="link--underline font-weight--bold">House Price Index, UK: May 2017</a></h3>
                    <p class="margin-top--0 padding-top--0 font-size--16">Monthly house price inflation, calculated using data from Land Registry, Registers of Scotland and Land and Property Services Northern Ireland.</p>
                  </div>
                  <a href="#" class="btn btn--primary">View all related statistical bulletins</a>
                </div>
              </div>

              <div class="show-hide show-hide--light border-bottom--iron">
                <div class="js-show-hide__title">
                  <h2 class="show-hide__title margin-bottom--0 font-weight--bold">
                    Articles
                  </h2>
                </div>
                <div class="js-show-hide__content padding-bottom--4">
                  <div>
                    <h3 class="font-size--h4 margin-bottom--0"><a href="#" class="link--underline font-weight--bold">Consumer price inflation basket of goods and services: 2017</a></h3>
                    <p class="margin-top--0 padding-top--0 font-size--16">The review process for the items making up the inflation basket used to calculate the UK consumer price inflation indices and how and why the various items in the basket are chosen.</p>
                  </div>
                  <div>
                    <h3 class="font-size--h4 margin-bottom--0"><a href="#" class="link--underline font-weight--bold">Revisions policy for consumer price inflation statistics</a></h3>
                    <p class="margin-top--0 padding-top--0 font-size--16">This article details the revisions policies for CPIH, CPI and RPI.</p>
                  </div>
                  <div>
                    <h3 class="font-size--h4 margin-bottom--0"><a href="#" class="link--underline font-weight--bold">Consumer price inflation, updating weights: 2017</a></h3>
                    <p class="margin-top--0 padding-top--0 font-size--16">An overview of the latest annual update of CPIH weights, used in the inflation basket to calculate the UK consumer price inflation indices.</p>
                  </div>
                  <a href="#" class="btn btn--primary">View all related articles</a>
                </div>
              </div>

              <div class="show-hide show-hide--light border-bottom--iron">
                <div class="js-show-hide__title">
                  <h2 class="show-hide__title margin-bottom--0 font-weight--bold">
                    Methodology
                  </h2>
                </div>
                <div class="js-show-hide__content padding-bottom--4">
                  <div>
                    <h3 class="font-size--h4 "><a href="#" class="link--underline font-weight--bold">Consumer Price Inflation (includes all 3 indices – CPIH, CPI and RPI)</a></h3>
                  </div>
                  <div>
                    <h3 class="font-size--h4 margin-bottom--4"><a href="#" class="link--underline font-weight--bold">UK House Price Index (HPI) QMI</a></h3>
                  </div>
                  <a href="#" class="btn btn--primary">View all related methodology</a>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </section>
  </div>

</div>


</main>
