---
layout: prototype
title: "Full view of filtered dataset"
search: false
contact-name: James Thomas
contact-email: email@ons.gsi.gov.uk
contact-tel: +44 (0)1234 567890
release-date: 28 April 2017
next-release: 25 May 2017
---

<main id="main" role="main" tabindex="-1">

<div class="wrapper">
  {% include breadcrumbs.html %}

  <div class="col-wrap">
    <div class="col">
      <div class="basic col--md-47 col--lg-59">
        <h1>{{ page.title }}</h1>
      </div>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="col-wrap">
    <div class="col">
      <div class="col--md-47 col--lg-59 margin-bottom--8">
        <div class="fixed-width">
          <table class="cmd-table">
            <thead>
              <tr>
                <th scope="col">Year</th>
                <th scope="col">Geographic area</th>
                <th scope="col">Age</th>
                <th scope="col">Sex</th>
                <th scope="col">Dimension 5</th>
                <th scope="col">Dimension 6</th>
                <th scope="col">Dimension 7</th>
                <th scope="col">Dimension 8</th>
                <th scope="col">Dimension 9</th>
                <th scope="col">Dimension 10</th>
                <th scope="col">Dimension 11</th>
                <th scope="col">Dimension 12</th>
                <th scope="col">Dimension 13</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1234</th>
                <td>West Midlands</td>
                <td>65</td>
                <td>Male</td>
                <td>Value 1</td>
                <td>Value 2</td>
                <td>Value 3</td>
                <td>Value 4</td>
                <td>Value 5</td>
                <td>Value 6</td>
                <td>Value 7</td>
                <td>Value 8</td>
                <td>Value 9</td>
              </tr>
              <tr>
                <th scope="row">1234</th>
                <td>West Midlands</td>
                <td>65</td>
                <td>Male</td>
                <td>Value 1</td>
                <td>Value 2</td>
                <td>Value 3</td>
                <td>Value 4</td>
                <td>Value 5</td>
                <td>Value 6</td>
                <td>Value 7</td>
                <td>Value 8</td>
                <td>Value 9</td>
              </tr>
              <tr>
                <th scope="row">1234</th>
                <td>West Midlands</td>
                <td>65</td>
                <td>Male</td>
                <td>Value 1</td>
                <td>Value 2</td>
                <td>Value 3</td>
                <td>Value 4</td>
                <td>Value 5</td>
                <td>Value 6</td>
                <td>Value 7</td>
                <td>Value 8</td>
                <td>Value 9</td>
              </tr>
              <tr>
                <th scope="row">1234</th>
                <td>West Midlands</td>
                <td>65</td>
                <td>Male</td>
                <td>Value 1</td>
                <td>Value 2</td>
                <td>Value 3</td>
                <td>Value 4</td>
                <td>Value 5</td>
                <td>Value 6</td>
                <td>Value 7</td>
                <td>Value 8</td>
                <td>Value 9</td>
              </tr>
              <tr>
                <th scope="row">1234</th>
                <td>West Midlands</td>
                <td>65</td>
                <td>Male</td>
                <td>Value 1</td>
                <td>Value 2</td>
                <td>Value 3</td>
                <td>Value 4</td>
                <td>Value 5</td>
                <td>Value 6</td>
                <td>Value 7</td>
                <td>Value 8</td>
                <td>Value 9</td>
              </tr>
              <tr>
                <th scope="row">1234</th>
                <td>West Midlands</td>
                <td>65</td>
                <td>Male</td>
                <td>Value 1</td>
                <td>Value 2</td>
                <td>Value 3</td>
                <td>Value 4</td>
                <td>Value 5</td>
                <td>Value 6</td>
                <td>Value 7</td>
                <td>Value 8</td>
                <td>Value 9</td>
              </tr>
              <tr>
                <th scope="row">1234</th>
                <td>West Midlands</td>
                <td>65</td>
                <td>Male</td>
                <td>Value 1</td>
                <td>Value 2</td>
                <td>Value 3</td>
                <td>Value 4</td>
                <td>Value 5</td>
                <td>Value 6</td>
                <td>Value 7</td>
                <td>Value 8</td>
                <td>Value 9</td>
              </tr>
              <tr>
                <th scope="row">1234</th>
                <td>West Midlands</td>
                <td>65</td>
                <td>Male</td>
                <td>Value 1</td>
                <td>Value 2</td>
                <td>Value 3</td>
                <td>Value 4</td>
                <td>Value 5</td>
                <td>Value 6</td>
                <td>Value 7</td>
                <td>Value 8</td>
                <td>Value 9</td>
              </tr>
              <tr>
                <th scope="row">1234</th>
                <td>West Midlands</td>
                <td>65</td>
                <td>Male</td>
                <td>Value 1</td>
                <td>Value 2</td>
                <td>Value 3</td>
                <td>Value 4</td>
                <td>Value 5</td>
                <td>Value 6</td>
                <td>Value 7</td>
                <td>Value 8</td>
                <td>Value 9</td>
              </tr>
              <tr>
                <th scope="row">1234</th>
                <td>West Midlands</td>
                <td>65</td>
                <td>Male</td>
                <td>Value 1</td>
                <td>Value 2</td>
                <td>Value 3</td>
                <td>Value 4</td>
                <td>Value 5</td>
                <td>Value 6</td>
                <td>Value 7</td>
                <td>Value 8</td>
                <td>Value 9</td>
              </tr>
              <tr>
                <th scope="row">1234</th>
                <td>West Midlands</td>
                <td>65</td>
                <td>Male</td>
                <td>Value 1</td>
                <td>Value 2</td>
                <td>Value 3</td>
                <td>Value 4</td>
                <td>Value 5</td>
                <td>Value 6</td>
                <td>Value 7</td>
                <td>Value 8</td>
                <td>Value 9</td>
              </tr>
              <tr>
                <th scope="row">1234</th>
                <td>West Midlands</td>
                <td>65</td>
                <td>Male</td>
                <td>Value 1</td>
                <td>Value 2</td>
                <td>Value 3</td>
                <td>Value 4</td>
                <td>Value 5</td>
                <td>Value 6</td>
                <td>Value 7</td>
                <td>Value 8</td>
                <td>Value 9</td>
              </tr>
              <tr>
                <th scope="row">1234</th>
                <td>West Midlands</td>
                <td>65</td>
                <td>Male</td>
                <td>Value 1</td>
                <td>Value 2</td>
                <td>Value 3</td>
                <td>Value 4</td>
                <td>Value 5</td>
                <td>Value 6</td>
                <td>Value 7</td>
                <td>Value 8</td>
                <td>Value 9</td>
              </tr>
              <tr>
                <th scope="row">1234</th>
                <td>West Midlands</td>
                <td>65</td>
                <td>Male</td>
                <td>Value 1</td>
                <td>Value 2</td>
                <td>Value 3</td>
                <td>Value 4</td>
                <td>Value 5</td>
                <td>Value 6</td>
                <td>Value 7</td>
                <td>Value 8</td>
                <td>Value 9</td>
              </tr>
              <tr>
                <th scope="row">1234</th>
                <td>West Midlands</td>
                <td>65</td>
                <td>Male</td>
                <td>Value 1</td>
                <td>Value 2</td>
                <td>Value 3</td>
                <td>Value 4</td>
                <td>Value 5</td>
                <td>Value 6</td>
                <td>Value 7</td>
                <td>Value 8</td>
                <td>Value 9</td>
              </tr>
              <tr>
                <th scope="row">1234</th>
                <td>West Midlands</td>
                <td>65</td>
                <td>Male</td>
                <td>Value 1</td>
                <td>Value 2</td>
                <td>Value 3</td>
                <td>Value 4</td>
                <td>Value 5</td>
                <td>Value 6</td>
                <td>Value 7</td>
                <td>Value 8</td>
                <td>Value 9</td>
              </tr>
              <tr>
                <th scope="row">1234</th>
                <td>West Midlands</td>
                <td>65</td>
                <td>Male</td>
                <td>Value 1</td>
                <td>Value 2</td>
                <td>Value 3</td>
                <td>Value 4</td>
                <td>Value 5</td>
                <td>Value 6</td>
                <td>Value 7</td>
                <td>Value 8</td>
                <td>Value 9</td>
              </tr>
              <tr>
                <th scope="row">1234</th>
                <td>West Midlands</td>
                <td>65</td>
                <td>Male</td>
                <td>Value 1</td>
                <td>Value 2</td>
                <td>Value 3</td>
                <td>Value 4</td>
                <td>Value 5</td>
                <td>Value 6</td>
                <td>Value 7</td>
                <td>Value 8</td>
                <td>Value 9</td>
              </tr>
              <tr>
                <th scope="row">1234</th>
                <td>West Midlands</td>
                <td>65</td>
                <td>Male</td>
                <td>Value 1</td>
                <td>Value 2</td>
                <td>Value 3</td>
                <td>Value 4</td>
                <td>Value 5</td>
                <td>Value 6</td>
                <td>Value 7</td>
                <td>Value 8</td>
                <td>Value 9</td>
              </tr>
              <tr>
                <th scope="row">1234</th>
                <td>West Midlands</td>
                <td>65</td>
                <td>Male</td>
                <td>Value 1</td>
                <td>Value 2</td>
                <td>Value 3</td>
                <td>Value 4</td>
                <td>Value 5</td>
                <td>Value 6</td>
                <td>Value 7</td>
                <td>Value 8</td>
                <td>Value 9</td>
              </tr>
              <tr>
                <th scope="row">1234</th>
                <td>West Midlands</td>
                <td>65</td>
                <td>Male</td>
                <td>Value 1</td>
                <td>Value 2</td>
                <td>Value 3</td>
                <td>Value 4</td>
                <td>Value 5</td>
                <td>Value 6</td>
                <td>Value 7</td>
                <td>Value 8</td>
                <td>Value 9</td>
              </tr>
              <tr>
                <th scope="row">1234</th>
                <td>West Midlands</td>
                <td>65</td>
                <td>Male</td>
                <td>Value 1</td>
                <td>Value 2</td>
                <td>Value 3</td>
                <td>Value 4</td>
                <td>Value 5</td>
                <td>Value 6</td>
                <td>Value 7</td>
                <td>Value 8</td>
                <td>Value 9</td>
              </tr>
              <tr>
                <th scope="row">1234</th>
                <td>West Midlands</td>
                <td>65</td>
                <td>Male</td>
                <td>Value 1</td>
                <td>Value 2</td>
                <td>Value 3</td>
                <td>Value 4</td>
                <td>Value 5</td>
                <td>Value 6</td>
                <td>Value 7</td>
                <td>Value 8</td>
                <td>Value 9</td>
              </tr>
              <tr>
                <th scope="row">1234</th>
                <td>West Midlands</td>
                <td>65</td>
                <td>Male</td>
                <td>Value 1</td>
                <td>Value 2</td>
                <td>Value 3</td>
                <td>Value 4</td>
                <td>Value 5</td>
                <td>Value 6</td>
                <td>Value 7</td>
                <td>Value 8</td>
                <td>Value 9</td>
              </tr>
              <tr>
                <th scope="row">1234</th>
                <td>West Midlands</td>
                <td>65</td>
                <td>Male</td>
                <td>Value 1</td>
                <td>Value 2</td>
                <td>Value 3</td>
                <td>Value 4</td>
                <td>Value 5</td>
                <td>Value 6</td>
                <td>Value 7</td>
                <td>Value 8</td>
                <td>Value 9</td>
              </tr>
              <tr>
                <th scope="row">1234</th>
                <td>West Midlands</td>
                <td>65</td>
                <td>Male</td>
                <td>Value 1</td>
                <td>Value 2</td>
                <td>Value 3</td>
                <td>Value 4</td>
                <td>Value 5</td>
                <td>Value 6</td>
                <td>Value 7</td>
                <td>Value 8</td>
                <td>Value 9</td>
              </tr>
              <tr>
                <th scope="row">1234</th>
                <td>West Midlands</td>
                <td>65</td>
                <td>Male</td>
                <td>Value 1</td>
                <td>Value 2</td>
                <td>Value 3</td>
                <td>Value 4</td>
                <td>Value 5</td>
                <td>Value 6</td>
                <td>Value 7</td>
                <td>Value 8</td>
                <td>Value 9</td>
              </tr>
              <tr>
                <th scope="row">1234</th>
                <td>West Midlands</td>
                <td>65</td>
                <td>Male</td>
                <td>Value 1</td>
                <td>Value 2</td>
                <td>Value 3</td>
                <td>Value 4</td>
                <td>Value 5</td>
                <td>Value 6</td>
                <td>Value 7</td>
                <td>Value 8</td>
                <td>Value 9</td>
              </tr>
              <tr>
                <th scope="row">1234</th>
                <td>West Midlands</td>
                <td>65</td>
                <td>Male</td>
                <td>Value 1</td>
                <td>Value 2</td>
                <td>Value 3</td>
                <td>Value 4</td>
                <td>Value 5</td>
                <td>Value 6</td>
                <td>Value 7</td>
                <td>Value 8</td>
                <td>Value 9</td>
              </tr>
              <tr>
                <th scope="row">1234</th>
                <td>West Midlands</td>
                <td>65</td>
                <td>Male</td>
                <td>Value 1</td>
                <td>Value 2</td>
                <td>Value 3</td>
                <td>Value 4</td>
                <td>Value 5</td>
                <td>Value 6</td>
                <td>Value 7</td>
                <td>Value 8</td>
                <td>Value 9</td>
              </tr>
              <tr>
                <th scope="row">1234</th>
                <td>West Midlands</td>
                <td>65</td>
                <td>Male</td>
                <td>Value 1</td>
                <td>Value 2</td>
                <td>Value 3</td>
                <td>Value 4</td>
                <td>Value 5</td>
                <td>Value 6</td>
                <td>Value 7</td>
                <td>Value 8</td>
                <td>Value 9</td>
              </tr>
              <tr>
                <th scope="row">1234</th>
                <td>West Midlands</td>
                <td>65</td>
                <td>Male</td>
                <td>Value 1</td>
                <td>Value 2</td>
                <td>Value 3</td>
                <td>Value 4</td>
                <td>Value 5</td>
                <td>Value 6</td>
                <td>Value 7</td>
                <td>Value 8</td>
                <td>Value 9</td>
              </tr>
              <tr>
                <th scope="row">1234</th>
                <td>West Midlands</td>
                <td>65</td>
                <td>Male</td>
                <td>Value 1</td>
                <td>Value 2</td>
                <td>Value 3</td>
                <td>Value 4</td>
                <td>Value 5</td>
                <td>Value 6</td>
                <td>Value 7</td>
                <td>Value 8</td>
                <td>Value 9</td>
              </tr>
              <tr>
                <th scope="row">1234</th>
                <td>West Midlands</td>
                <td>65</td>
                <td>Male</td>
                <td>Value 1</td>
                <td>Value 2</td>
                <td>Value 3</td>
                <td>Value 4</td>
                <td>Value 5</td>
                <td>Value 6</td>
                <td>Value 7</td>
                <td>Value 8</td>
                <td>Value 9</td>
              </tr>
              <tr>
                <th scope="row">1234</th>
                <td>West Midlands</td>
                <td>65</td>
                <td>Male</td>
                <td>Value 1</td>
                <td>Value 2</td>
                <td>Value 3</td>
                <td>Value 4</td>
                <td>Value 5</td>
                <td>Value 6</td>
                <td>Value 7</td>
                <td>Value 8</td>
                <td>Value 9</td>
              </tr>
              <tr>
                <th scope="row">1234</th>
                <td>West Midlands</td>
                <td>65</td>
                <td>Male</td>
                <td>Value 1</td>
                <td>Value 2</td>
                <td>Value 3</td>
                <td>Value 4</td>
                <td>Value 5</td>
                <td>Value 6</td>
                <td>Value 7</td>
                <td>Value 8</td>
                <td>Value 9</td>
              </tr>
              <tr>
                <th scope="row">1234</th>
                <td>West Midlands</td>
                <td>65</td>
                <td>Male</td>
                <td>Value 1</td>
                <td>Value 2</td>
                <td>Value 3</td>
                <td>Value 4</td>
                <td>Value 5</td>
                <td>Value 6</td>
                <td>Value 7</td>
                <td>Value 8</td>
                <td>Value 9</td>
              </tr>
              <tr>
                <th scope="row">1234</th>
                <td>West Midlands</td>
                <td>65</td>
                <td>Male</td>
                <td>Value 1</td>
                <td>Value 2</td>
                <td>Value 3</td>
                <td>Value 4</td>
                <td>Value 5</td>
                <td>Value 6</td>
                <td>Value 7</td>
                <td>Value 8</td>
                <td>Value 9</td>
              </tr>
            </tbody>
          </table>
          <a href="example-4" class="btn btn--secondary margin-top--4 show-table">Back to preview</a>
        </div>
        <div class="download-wrap">
          <h2 class="margin-bottom">Download filtered dataset</h2>
          <details role="group" class="margin-bottom--2 font-size--16">
            <summary><span class="summary">Help with this dataset</span></summary>
            <div class="panel">
              <h3 class="margin-bottom--0 font-weight-700">Some title</h3>
              <p class="margin-top--0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae rhoncus diam. Vivamus non massa libero. Nulla non maximus sem. Fusce id vestibulum libero.</p>
            </div>
          </details>
          <div class="btn btn--primary"><strong>CSV</strong> 10.2 mb</div>
          <div class="btn btn--primary"><strong>XLS</strong> 10.2 mb</div>
          <div class="btn btn--primary"><strong>JSON</strong> 10.2 mb</div>

          <h2 class="margin-bottom">Usage information</h2>
          <p class="margin-top--0 margin-bottom--0 padding-top--0 padding-bottom--0 font-size--16">Free for public use.</p>
          <p class="margin-top--0 padding-top--0 padding-bottom--0 font-size--16">Citation: <cite>www.ons.gov.uk 2017, Source 2011 Census</cite></p>
        </div>

      </div>
    </div>
  </div>
</div>

</main>
{% include meta.html %}
{% include footer-basic.html %}
