---
layout: prototype
type: "Dataset:"
title: "Small Area Population Estimates 2016"
contact-name: "Tom Davy"
release-date: "22 June 2017"
next-release: "June 2018"
dataset-id: "TD2017"
contact-tel: "+44 (0)1633 651815"
contact-email: "tom.davy@ons.gov.uk"
link-text-1: "Estimates of the Very Old (including Centenarians): 2002 to 2016"
breadcrumbs:
  - label: Home
    link: https://www.ons.gov.uk/
  - label: People, population and community 
    link: https://www.ons.gov.uk/peoplepopulationandcommunity
  - label: Population and migration
    link: https://www.ons.gov.uk/peoplepopulationandcommunity/populationandmigration
    
    
   
    
---
<style>

.feedback{
     width: 100%;
     height: 24px;
     background-color: #3B7A9E;
}

</style>

<main id="main" role="main" tabindex="-1">

  <div class="page-intro background--gallery">
    <div class="wrapper padding-bottom--2">
      <div class="col-wrap">
        <div class="col">

          {% include breadcrumbs-v2.html %}
          {% include page-intro-v2.html %}

      
       
        </div>
      </div>
    </div>
  </div>
   {% include meta-dataset.html %}
  
  
<div class="wrapper margin-bottom--6">
     <!-- third columns -->
    <div class="col-wrap">
        <div class="col col--md-two-thirds col--lg-two-thirds">
            <h2 class="font-weight--bold">About this dataset</h2>
            <p>Estimates of the usual resident population for Lower Layer Super Output Areas (LSOAs) in England and Wales by Broad Age and Sex.</p>
            <p>Release frequency: Yearly</p>
            
               <h2 class="font-weight--bold">What has changed?</h2>
               <h3 class="font-weight--bold font-size--h4">Change in classification</h3>
               <p>Privatisation of organisations previously included in the public sector.</p>
            
<h2 class="font-weight--bold">Download options</h2>
<button class="btn btn--primary btn--wide">Filter and download</button>

        
            <h3 class="font-weight--bold font-size--h4"> Download complete dataset </h3>
   <button class="btn btn--primary btn--small">Excel (10.2kb)</button>
      <button class="btn btn--primary btn--small">CSV (9.3kb)</button>
       
         <p class="margin-top-sm--0 margin-top-md--0"> <a class="underline-link" href="/history">Download metadata (Word, 3.6kb)</a></p>
      

       
       <p class="margin-top-sm--0 margin-top-md--0"><span class="icon icon-info--inline"></span> <a class="underline-link margin-left-sm--3 margin-left-md--3" href="history">Previous releases</a> of this data are available</p>
      
        <h2 class="font-weight--bold">In this dataset</h2>
               <p class="font-weight--bold font-size--h4" style="line-height: 0px;">Unit of measurement:</p>
<ul>
       <li style="line-height: 0px;">Number of people</li>
       </ul>
       
               <p class="font-weight--bold font-size--h4">Geography:</p>
<ul>
        <li style="line-height: 0px;">Country</li>
        <li style="line-height: 0px;">Region</li>
        <li style="line-height: 0px;">London Borough</li>
        <li style="line-height: 0px;">Metropolitan District</li>
        <li style="line-height: 0px;">Non-metropolitan District</li>
        <li style="line-height: 0px;">Unitary Authority</li>
       </ul>
       
<details role="group" class="margin-bottom--2 font-size--16">
              <summary><span class="summary">Learn more about geography in this dataset</span></summary>
              <div class="panel">
                <h3 class="margin-bottom--0 font-weight-700">Some title</h3>
                <p class="margin-top--0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae rhoncus diam. Vivamus non massa libero. Nulla non maximus sem. Fusce id vestibulum libero.</p>
              </div>
            </details>
            
              <p class="font-weight--bold font-size--h4">Age:</p>
<p style="line-height: 0px;">All ages and single years from 0 to 92+.</p>
        
        <details role="group" class="margin-bottom--2 font-size--16">
              <summary><span class="summary">Learn more about age in this dataset</span></summary>
              <div class="panel">
                <h3 class="margin-bottom--0 font-weight-700">Some title</h3>
                <p class="margin-top--0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae rhoncus diam. Vivamus non massa libero. Nulla non maximus sem. Fusce id vestibulum libero.</p>
              </div>
            </details>

       
              <p class="font-weight--bold font-size--h4">Sex:</p>
<p style="line-height: 0px;">All people, Female and Male.</p>
      
           <details role="group" class="margin-bottom--2 font-size--16">
              <summary><span class="summary">Learn more about sex in this dataset</span></summary>
              <div class="panel">
                <h3 class="margin-bottom--0 font-weight-700">Some title</h3>
                <p class="margin-top--0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae rhoncus diam. Vivamus non massa libero. Nulla non maximus sem. Fusce id vestibulum libero.</p>
              </div>
            </details>
            
            <h2 class="font-weight--bold">Dataset notes</h2>
               <p>To protect the confidentiality of individuals personal information, this dataset provides data only for districts that have a minimum of 150 people.</p>
               
                           <h2 class="font-weight--bold">Usage information</h2>
            <p>Free for public use.</p>
            <p><b>Source:</b> Office for National Statistics, Small Area Population Estimates, June 2017 </p>
            <a class="underline-link" href="/history">Terms &amp; conditions</a>
            
             <h2 class="font-weight--bold">Language</h2>
            <p>Available in English only.</p>

                   <h2 class="font-weight--bold">Codes used in this dataset</h2>
            <a class="underline-link" href="/history">Postcodes</a><br>
            <a class="underline-link" href="/history">SIC codes</a><br>
  
      <div class="col col--md-15 col--lg-16 margin-bottom-sm--2 margin-top-md--7 margin-bottom-md--2 margin-left-lg--0 padding-bottom-sm--2 padding-left-sm--1 padding-bottom-md--1 padding-left-md--1 border-top--iron-sm border-right--iron-sm border-bottom--iron-sm border-left--iron-sm border-top--iron-md border-right--iron-md border-bottom--iron-md border-left--iron-md js-print-pdf print--hide">
      
     
      
  <p class="text-left--md padding-top-md--0 padding-bottom-md--0 height--5 margin-bottom-md--0 print--hide js--show " style="display: block;">
    <a href="#" class="link-complex js--show js-print-page" style="display: inline;">  <span class="icon icon-print--dark"></span>
      Print this <span class="lowercase">page</span>
    </a>
    
  </p>
  <p class="text-left--md padding-top-md--0 padding-bottom-md--0 height--5 margin-top-md--1 print--hide">
    <a href="#" class="link-complex js-pdf-dl-link"> <span class="icon icon-download--dark"></span>
      Download as PDF
    </a>
   
  </p>
</div>
 

 </div>
      
       
           
            
              <div class="col col--md-one-third col--lg-one-third">
              
            
            <div class="margin-bottom-sm--2 margin-top-md--7 margin-bottom-md--2 padding-bottom-sm--2 padding-left-sm--1 padding-bottom-md--1 border-top--iron-sm border-right--iron-sm border-bottom--iron-sm border-left--iron-sm border-top--iron-md border-right--iron-md border-bottom--iron-md border-left--iron-md js-print-pdf print--hide">
  <p class="text-right--md padding-top-md--0 padding-bottom-md--0 height--5 margin-bottom-md--0 print--hide js--show" style="display: block;">
    <a href="#" class="link-complex js--show js-print-page" style="display: inline;">
      Print this <span class="lowercase">this page</span>
    </a>
    <span class="icon icon-print--dark"></span>
  </p>
  <p class="text-right--md padding-top-md--0 padding-bottom-md--0 height--5 margin-top-md--1 print--hide">
    <a href="#" class="link-complex js-pdf-dl-link">
      Download as PDF
    </a>
    <span class="icon icon-download--dark"></span>
  </p>
</div>
            
         

            
            
            {% include tiles/contact-details.html %}
            {% include tiles/related-links.html
            link-text-1="How inflation changes how much your wages are worth"
            link-text-2="What's changed in the year since the Brexit vote?"
            link-text-3="How do earnings vary across Great Britain?"
          %}
            
            
            
            
           
            
            
            
        </div>
        
        
        
    </div>
    </div>
    
    
    <div class="wrapper">

    <!-- full column -->
    <div class="col-wrap">
        <div class="col col--md-one col--lg-one">
                
                
                <div class="feedback">
                    <div class="col-wrap">
        <div class="col col--md-half col--lg-half">
              <b style="color:white; margin-left:16px;margin-right:16px;">Is this page useful?</b><a class="underline-link" href="#" style="color:white; margin-right:16px;">Yes</a><a class="underline-link" href="#" style="color:white; margin-right:16px;">No</a>
        </div>
        <div class="col col--md-half col--lg-half">
               <div style="text-align: right">
               <a class="underline-link" href="#" style="color:white; margin-right:16px;">Is there anything wrong with this page?</a></div>
        </div>
    </div>
                
                
               
                 
    
    
    
  


      
      
<!--
       <div class="col col--md-one-third col--lg-one-third">
         Is there anything wrong with this page?</a>
         
         <p class="font-weight--bold font-size--h4"> </p>

       
 
      
            </div>
       
       
     
<div class="wrapper margin-bottom--6">  
       
       <a class="improve-this-page__page-is-useful-button js-page-is-useful" data-track-category="manualFeedbackForm" data-track-action="ffYesClick" href="/contact/govuk">
        Yes <span class="visually-hidden"> this page is useful</span>
</a>      <a class="js-page-is-not-useful" data-track-category="manualFeedbackForm" data-track-action="ffNoClick" aria-controls="improveThisPageForm" aria-expanded="false" href="/contact/govuk">
        No <span class="visually-hidden"> this page is not useful</span>
</a>        </div>
    <div id="improveThisPageForm" class="improve-this-page__form js-feedback-form js-hidden" data-track-category="manualFeedbackForm" data-track-action="ffFormSubmit" aria-hidden="true">
      <a href="#" class="improve-this-page__close js-close-feedback-form" aria-controls="improveThisPageForm" aria-expanded="false">Close</a>
      <div class="grid-row">
        <div class="column-two-thirds">
          <div class="js-errors"></div>
          <form>
            <input type="hidden" name="url" value="https://www.gov.uk/service-manual/design/introduction-designing-government-services">
            <input type="hidden" name="user_agent" value="Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/60.0.3112.113 Safari/537.36">
            <div class="form-group">
              <label class="form-label-bold" for="description-field">
                How should we improve this page?
              </label>
              <textarea id="description-field" class="form-control" name="description" rows="5" aria-required="true"></textarea>
            </div>
            <div class="form-group">
              <label class="form-label" for="name-field">
                Name (optional)
                <span class="form-hint">Include your name and email address if you'd like us to get back to you.</span>
              </label>
              <input id="name-field" class="form-control" type="text" name="name">
            </div>
            <div class="form-group">
              <label class="form-label" for="email-field">Email (optional)</label>
              <input id="email-field" class="form-control" type="text" name="email">
            </div>
            <div>
              <input class="button" type="submit" value="Send message">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
-->


</main>


  
  
